[2021-04-19 13:02] laultman commented on #280
I found a [workaround](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/choosing-unity-version). If you are recommending users use the Unity Legacy XR, then do not demonstrated in a setup guide the use of some other XR plug-in as is done in the Beginners tutorial for HoloLens. In fact this warning should be on EVERY tutorial or sample of any kind. We would not be forced to wast

[2021-04-19 13:57] veeruby-developer commented on #253
@dfcarpente These tutorials are not tested for MRTK 2.6.1.
please use MRTK 2.5.3

[2021-04-19 14:04] veeruby-developer commented on #278
@Ryosuke-Ymd thanks for the feedback, please help us and provide more details along with screenshots where the Texts and Images does not match so that we could update the tutorials..

[2021-04-19 14:48] Ryosuke-Ymd commented on #278
@veeruby-developer
I have attached screenshots to this message. And, I will paste the link to the website just in case.
Would you please confirm the screenshots.

・Screenshots
![screenshot_1](https://user-images.githubusercontent.com/77087414/115253466-5f72e200-a167-11eb-9dc9-1c51464c2e3c.png)
![screenshot_2](https://user-images.githubusercontent.com/77087414/115253474-613ca580-a167-11eb-9e22-c1a1

[2021-04-19 16:31] davidkline-ms commented on #275
At this time, the feature tool cannot detect an installation of  MRTK that was performed via a .unitypackage import.

I will work with the team to draft formal migration instructions. While we write them, the following should help you migrate:

Follow steps 1-5 from https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/updates-deployment/updating#unity-asset-unitypackage-files and then

[2021-04-19 17:00] dfcarpenter commented on #253
It says right in the documentation that 2.6 should work.
![image](https://user-images.githubusercontent.com/4450286/115274806-eab38f80-a0f5-11eb-9965-8e5cad4df30c.png)

https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-01#prerequisites

[2021-04-19 18:19] Cameron-Micka commented on #279
Hi @justinpando, thank you for opening this issue. Looking at the slider locally grabbing the start/end points appear to adjust the slider's range, but the visuals don't update (just the slider thumb's range).

![image](https://user-images.githubusercontent.com/13305729/115284049-05d7cc80-a101-11eb-935d-825a9c73316a.png)

@cre8ivepark should the visuals update as well? If not I wonder if we should

[2021-04-19 18:58] justinpando commented on #279
How are you getting the start and end handles to appear? I'm not seeing them at all unfortunately.

[2021-04-19 20:37] hferrone commented on #280
Hi @laultman - we've got some changes in the works that will make sample scenes work across multiple XR setups. Thanks for the callout!

[2021-04-19 20:37] #280 closed

[2021-04-20 07:57] veeruby-developer commented on #278
@Ryosuke-Ymd all the screenshots are correct please refer below some of the examples,

![image](https://user-images.githubusercontent.com/61759322/115358043-e3b27d00-a1da-11eb-95bf-f6ff84ddac6d.png)
![image](https://user-images.githubusercontent.com/61759322/115358129-f927a700-a1da-11eb-8378-46d916c24f11.png)
![image](https://user-images.githubusercontent.com/61759322/115358180-05136900-a1db-11eb-

[2021-04-20 11:23] Ryosuke-Ymd commented on #278
@veeruby-developer
It hasn't been fixed yet.

[2021-04-20 18:03] hferrone commented on #278
I'm showing that these are correct on my browser as well. @Ryosuke-Ymd this is likely a caching error.

[2021-04-20 18:03] #278 closed

[2021-04-20 20:47] Cameron-Micka commented on #279
@justinpando oh interesting. The start and end handles are rendered using OnSceneGUI so I would make sure gizmos for the script are enabled (circled in red), the slider gameobject is selected, and the script is expanded/visible in the inspector (circled in red).

![image](https://user-images.githubusercontent.com/13305729/115461936-ddbe9b00-a1de-11eb-9918-cc2d1599184a.png)

[2021-04-21 15:55] Ryosuke-Ymd commented on #278
@hferrone
I tried to access the website from my another google account, another person's google account and another web browsers. But I can't.
Does the problem have anything to do with a place to access?
I think the problem is the same as this [feedback.](https://github.com/MicrosoftDocs/mixed-reality/issues/259)

[2021-04-21 19:23] CyanW0202 opened #281 "the MRTK is not working."
I have downloaded the .NET ver 5.0, trying to open the MRTK package.
But the error of couldn't find the .NET framework keeps poping up.
![image](https://user-images.githubusercontent.com/47878471/115609370-4c156300-a29c-11eb-999e-2989198056bf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97ac37f3-5dc8-8076-da7c-4

[2021-04-21 19:49] davidkline-ms commented on #281
This appears to be a situation where .net5 is not properly installed on the system, resulting in the Mixed Reality Feature Tool not being able to run.

The errors in Unity's console window imply that MRTK packages have not been imported onto the project.

[2021-04-21 21:40] davidkline-ms commented on #281
Please download the desktop version of .net5 from https://dotnet.microsoft.com/download/dotnet/5.0/runtime/?utm_source=getdotnetcore and run the installer. This will enable the Mixed Reality Feature Tool to run and import features into your Unity project,.

[2021-04-23 02:39] mikey-mdk opened #282 "Missing profile cloning instruction"
I believe there is an instructional step missing for cloning the MixedRealityInputSystemProfile. One of the first steps is to add a new data provider under the input tab but you are only able to do so once you have cloned your own version of this profile, which I don't believe the tutorial has instructed you to do up to this point.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-04-23 02:48] mikey-mdk opened #283 "Input Data Providers missing the instructed type"
When attempting to add a new Data Provider for the Input Data Providers, the instructions say to assign the new provider to the type of Microsoft.MixedReality.Toolkit.WindowsMixedReality.Input > WindowsMixedRealityEyeGazeProvider, yet that namespace is not provided as one of the options

![image](https://user-images.githubusercontent.com/83050479/115810882-8fa6c480-a3a3-11eb-8100-97b3cc970bcb.png)

[2021-04-23 02:59] mikey-mdk commented on #282
It appears that the step for cloning a new profile occurs later in the tutorial. But the first steps mentioned in this issue are still in conflict.

[2021-04-23 03:00] mikey-mdk commented on #283
It appears that the very next section supersedes the section above it which this issue is referencing

https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-08?tabs=winxr#enabling-eye-based-gaze-in-the-gaze-provider

[2021-04-23 03:35] mikey-mdk opened #284 "Missing Speech Namespace"
I believe the first section of this page is deprecated or no longer accurate.

https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-09?tabs=winxr#ensuring-microphone-capability-and-adding-speech-input-data-provider

That namespace is no longer one of the selectable types. The very next section of the page shows that the HoloLens2InputSystemProfile already

[2021-04-23 04:28] veeruby-developer commented on #284
@mikey-mdk please let us know what is the MRTK version you are using

[2021-04-23 04:32] veeruby-developer commented on #283
@mikey-mdk please let us know what is the MRTK version you are using

[2021-04-23 04:46] veeruby-developer commented on #282
@mikey-mdk Thanks for the feedback, instructions to clone MixedRealityInputSystemProfile will be updated.

[2021-04-23 11:59] gsmuthusamy opened #285 "Missing steps"
Hey! I walked through this tutorials. There were few unassigned values for Quad object and SpatializeOnOff Script --> Button Text Object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d7c33b7-9950-5bb6-977c-7b4cd316e0ad
* Version Independent ID: 008e809f-a7c8-78c3-3356-bdf8d724469a
* Content: [Spatial audio tutorials

[2021-04-23 18:45] #281 closed

[2021-04-23 18:50] #282 closed

[2021-04-23 18:51] hferrone commented on #285
@mr0ng @veeruby-developer Can you assist?

[2021-04-23 20:09] dbastien opened #286 "Incorrect shader perf analysis"
[Enter feedback here]
For shader performance relative to Unity's standard shader:

Unity's compile and show code only shows you the number of shader instructions in DXIL, not final assembly.

A simple atan call which is a single line in DXIL can expand out to dozens of lines depending on the instruction set of the GPU/Driver, so using just DXIL you can be off by up to an order of magnitude.

You w

[2021-04-24 03:25] mikey-mdk commented on #283
I am currently using the latest version MRTK version 2.6.1

[2021-04-24 03:25] mikey-mdk commented on #284
I am using MRTK version 2.6.1

[2021-04-24 04:51] veeruby-developer commented on #283
@mikey-mdk  just verified with Unity Version 2019.4.22 and MRTK 2.6.1, "WindowsMixedRealityEyeGazeProvider" Type is available, also attached a screenshot for reference
![image](https://user-images.githubusercontent.com/61759322/115947662-c89b8200-a4e6-11eb-8f67-f89ae36684ad.png)

[2021-04-24 04:56] veeruby-developer commented on #284
@mikey-mdk just verified with Unity Version 2019.4.22 and MRTK 2.6.1, "WindowsSpeechInputProvider" Type is available
![image](https://user-images.githubusercontent.com/61759322/115947747-5b3c2100-a4e7-11eb-8358-449ffd81c1d3.png)

[2021-04-24 04:59] veeruby-developer commented on #285
@gsmuthusamy could you please provide us more information which are the unassigned values for Quad object and SpatializeOnOff Script. so that we could update the tutorials if it is relevant.

[2021-04-24 06:34] mikey-mdk commented on #284
I am using Unity version 2020.3.5f1

[2021-04-24 06:35] mikey-mdk commented on #283
I am using Unity version 2020.3.5f1

[2021-04-24 13:21] veeruby-developer commented on #284
@mikey-mdk  these tutorials are not yet tested for Unity Version 2020. please Use Unity 2019.4.x.

[2021-04-24 13:21] veeruby-developer commented on #283
@mikey-mdk  these tutorials are not yet tested for Unity Version 2020. please Use Unity 2019.4.x.

[2021-04-26 02:59] hanjk7 opened #287 "Initialization Failure"
![error](https://user-images.githubusercontent.com/81721239/116023329-dd168080-a686-11eb-82db-290e5b51b4b2.PNG)

[2021-04-26 07:08] gsmuthusamy commented on #285
![SpatialaudioError](https://user-images.githubusercontent.com/34948887/116042602-e136a400-a66e-11eb-9048-3923707b0b15.PNG)
![spatialon and off](https://user-images.githubusercontent.com/34948887/116042619-e562c180-a66e-11eb-8b7a-2ccf87cfbc94.PNG)

[2021-04-26 12:26] veeruby-developer commented on #285
@gsmuthusamy in the screenshot I see that you have added "**PressableButonHoloLens2**" for "ButtonTextObject". but in the 4th [tutoria](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/unity-spatial-audio-ch4) it is mentioned to add the **TextMeshPro** Component of the PressableButtonHoloLens2. refer below screenshot.

[2021-04-26 17:36] polar-kev commented on #286
@Cameron-Micka, would love your input here.

[2021-04-26 18:03] Cameron-Micka commented on #286
Hey @dbastien thank you for this feedback! You are totally correct, the shader compiler stats you see in the docs are not 100% representative of the hardware independent, and later hardware dependent, generated assembly. They serve mostly as a high level overview of complexity (similar to the instruction count [D3D11 can provide](https://docs.microsoft.com/en-us/windows/win32/api/d3d11shader/ns-d3

[2021-04-26 19:01] #284 closed

[2021-04-26 19:02] hferrone commented on #287
Hi @hanjk7 - We need some more info, can you give us the article you're following/referencing, and what Unity version you're using?

[2021-04-26 19:02] #285 closed

[2021-04-26 19:03] #283 closed

[2021-04-26 19:04] #279 closed

[2021-04-26 19:04] #275 closed

[2021-04-26 23:01] MaxWang-MS commented on #274
The question has been answered [here](https://github.com/microsoft/MixedRealityToolkit-Unity/discussions/9673), @hferrone please close the issue.

[2021-04-27 18:37] #274 closed

[2021-04-27 18:49] #273 closed

[2021-04-28 23:07] adbalano opened #291 "Documentation Feedback: Additional context for Smoothing Near/Far"
[Enter feedback here]
I think it would be useful to get additional context as to why Smoothing Near is disabled by default as the current description would lead someone to not use it. It's mostly clear that it is because it could cause a laggy sensation when manipulating an object, but is there a use case where someone should consider enabling it?

---
#### Document Details

⚠ *Do not edit this se

[2021-04-29 13:47] HesterMeng opened #292 "obsolete methods used in this page"
On this page, the method WorldAnchorStore.GetAsync(store) is obsolete for Unity 2019.4. Thus I wonder if this page can be updated to use up-to-date methods for instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4d3daf6-e9f9-d400-1941-ab76efed39ef
* Version Independent ID: f8a2ed75-804a-18f2-4d97-eb7737b0de75

[2021-04-29 14:52] dbastien commented on #286
Hello!  Pyramid is an offline shader compilation tool - it goes the full path from HLSL->DXIL->ASIC specific.
With that you can model how many instructions the shader would break down into on a specific GPU family.
It doesn't tell you how many cycles an instruction takes or anything like that, but it is an order of magnitude better for estimating perf.
There might be an improved derivative work bu

[2021-04-30 08:47] Hattexmc opened #293 "Cannot assign Microsoft.MixedReality.ToolKit.WindowsMixedReality.Input as Type for Input Provider"
Hello,
i am currently working through the "Beginner MRTK tutorials" for  unity. For using eye tracking, i should add a new Input Data Provider and
"Assign Microsoft.MixedReality.ToolKit.WindowsMixedReality.Input > WindowsMixedRealityEyeGazeProvider to the Type field of the new Data Provider."
The "Type" - dropdown menu does not show this as an option.

Unity 2020.3.5f1
MRTK Foundation V2.6.1 &
MRT

[2021-04-30 09:42] Hattexmc commented on #293
Edit: created and configured new project with Unity 2019.4.25f1 and MRTK Foundation/Standard Assets V2.6.0.  (via MR Feature Tool)
In this project it works as described.
Updated MRTK packages to V2.6.1 and still runs as aspected, so problem is the unity version.

[2021-04-30 09:47] veeruby-developer commented on #293
@Hattexmc  these tutorials are not yet been tested for Unity 2020.  Please use Unity 2019

[2021-04-30 19:14] CyanW0202 opened #294 "Graphics Driver WDDM1.3"
I follow the instruction and searching for a possible way to update my WDDM1.3 to WDDM2.0. Realizing that it may related to the compatibility of my intel HD 4000 graphic card. Visit the website of intel HD4000 and reviewing the support of WDDM1.3 I still couldn't understand what should I do to update my graphics driver...
---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-05-03 18:14] tuan89ix commented on #287
102

[2021-05-03 19:41] jennycolegrove opened #295 "definition of mixed reality"
[This is Jennifer Colegrove, an industry analyst from Touch Display Research Inc. I'm updating my report "Sensors for AR VR and AI", the first report was published in 2016. Now in 2021, I'll add in Mixed Reality, and XR definition in it. I read the Microsoft article about "What is Mixed Reality" in August 2020. I understand you use MR as a spectrum which include AR and VR and anything in between.

[2021-05-04 00:42] Joe-nzxr opened #296 "Add link to MixedRealityFeatureTool for install to Unity"
Would be good to mention you can install this package for Unity using the MixedRealityFeatureTool. Which is simpler than adding NuGet to a project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e11ada88-8eb6-0e07-0b90-02b8b87179bf
* Version Independent ID: 9bb41118-53ab-73c6-5908-83f0c2334536
* Content: [Scene underst

[2021-05-04 05:55] kirurobo commented on #278
The [Japanese version](https://docs.microsoft.com/ja-jp/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02) of the published document has outdated text and mismatched images compared to the [English version](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02).

![Screenshot of the Japanese version](https://user-images.githubusercontent

[2021-05-04 06:30] parsley777 commented on #254
Nice to meet you, Mr/Ms. MaxWang.
Thank you for your kind reply.
Your advise was very helpful to me.

May I ask you a few questions?
Is there a way to see the anchor data file in the hololens on the PC after
connecting the hololens and the PC?
I want to see the capacity of the anchor data file.
And I want to copy the anchor data file to my PC and input it into another
hololens.

Have a nice day.
T

[2021-05-04 06:31] parsley777 commented on #254
Nice to meet you, Mr/Ms. Harrison Ferrone.
Thank you for your kind reply.
Your advise was very helpful to me.

May I ask you a few questions?
Is there a way to see the anchor data file in the hololens on the PC after
connecting the hololens and the PC?
I want to see the capacity of the anchor data file.
And I want to copy the anchor data file to my PC and input it into another
hololens.

Have a ni

[2021-05-04 06:32] parsley777 commented on #254
Nice to meet you, Mr/Ms. Kurtis.
Thank you for your kind reply.
Your advise was very helpful to me.

May I ask you a few questions?
Is there a way to see the anchor data file in the hololens on the PC after
connecting the hololens and the PC?
I want to see the capacity of the anchor data file.
And I want to copy the anchor data file to my PC and input it into another
hololens.

Have a nice day.
Th

[2021-05-04 21:38] hferrone commented on #253
@veeruby-developer Can you take another look?

[2021-05-04 21:39] #293 closed

[2021-05-04 21:41] hferrone commented on #292
Thanks for bringing this up - we have a new doc that has updated content: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/spatial-anchors-in-unity?tabs=worldanchor#persistent-world-locking

[2021-05-04 21:41] #292 closed

[2021-05-04 21:45] #296 closed

[2021-05-06 14:10] HesterMeng commented on #292
Thank you!

On Tue, 4 May 2021 at 22:41, Harrison Ferrone ***@***.***>
wrote:

[2021-05-06 17:08] jstiefel opened #297 "ASA Tutorial: SpatialAnchorManager script can not be loaded"
Following the ASA tutorial I have an issue with the SpatialAnchorManager and AnchorModuleScript in the second part at "Configuring the buttons to operate the scene". I have no function `AnchorModuleScript->StartAzureSession()` available in the dropdown. When I check the `ParentAnchor` in the Inspector, I see that both SpatialAnchorManager and AnchorModuleScript have a warning:

[code]

I think thi

[2021-05-07 06:42] veeruby-developer commented on #297
@jstiefel this tutorial does not support ASA for XR plugin Management yet. so if you are using ASA Version 2.7.1 and Unity 2019 LTS version, you need to setup the unity to work with Legacy XR. in the first part of the tutorial there are 3 tabs present one for XR plugin(XRSDK), Open XR and Legacy XR. please follow the Tab with Legacy WSY as in below screenshot. that should work,
![image](https://us

[2021-05-07 11:57] veeruby-developer opened #298 "Build Fails for ARM64 with HoloLens2"
If you build the project as ARM64 and deploy to HL2, it will silently fail.   The reason is, because the Unity project isn’t setup to publish the Azure Speech plugins for ARM64:

![image](https://user-images.githubusercontent.com/61759322/117445819-ce6a7c00-af58-11eb-90d3-3186cda9e530.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-05-07 12:59] jstiefel commented on #297
@veeruby-developer Thanks for your response. I was just doing the first tutorial series using Unity 2019 LTS and Windows XR Plugin and was expecting that the ASA tutorial builds on this one. But it is mentioned in no place that the ASA tutorial does not support XR plugin management.

[2021-05-07 16:21] jstiefel commented on #297
I switched from the XR Plugin to Legacy WSA and was able to build and deploy. However, I'm still getting errors in Unity and on the Hololens I just see the software window and nothing else.

![grafik](https://user-images.githubusercontent.com/44534970/117479706-f067fc80-af60-11eb-88ae-6bce44bbc1df.png)

[2021-05-07 20:05] hferrone commented on #298
@veeruby-developer @mr0ng Can you please make this update?

[2021-05-08 05:05] veeruby-developer commented on #298
@hferrone we are working on this. will update you at the earliest.

[2021-05-08 05:13] veeruby-developer commented on #297
@jstiefel  if you are using Legacy WSA the tutorial should work.
Build Errors in unity is due to the restsharp.dll in the project, this will be fixed in the next update.
however these build errors will not affect the tutorial process flow.

is it possible for you to share the screenshot of the "software window" you are referring to..?

[2021-05-08 06:00] mikey-mdk opened #299 "Conflicting Default Profiles In Instructions"
When following the spatial anchors tutorial located here...

https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02

When you get to the following section the copy indicates that you will be cloning the DefaultHoloLens2ConfigurationProfile

![image](https://user-images.githubusercontent.com/83050479/117528563-b827e480-af87-11eb-8aa5-6bd7af7f65f1.png)

How

[2021-05-08 06:45] mikey-mdk opened #300 "Build Error When Importing AzureSpatialAnchors.2.5.3 Unity Package"
When following the tutorial for Azure Spatial Anchors located here...

https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02

I follow the directions precisely and then when I get to the following step I get build errors.

![image](https://user-images.githubusercontent.com/83050479/117529706-e9a3ae80-af8d-11eb-83cf-84f8acb3c242.png)

The specific error I

[2021-05-08 14:37] veeruby-developer commented on #300
@mikey-mdk please refer to the [Issue ](https://github.com/MicrosoftDocs/mixed-reality/issues/267). ASA tutorial series does not support ASA 2.9.0, Unity 2020 and XRSDK yet.
please use Unity 2019. ASA 2.7.x and Legacy XR.

[2021-05-08 14:50] veeruby-developer commented on #299
@mikey-mdk  There are 3 Tabs present, you are referring to the XR plugin tab, so it says XRSDK profile.
if you switch to the Legacy WSA tab that will work.
Apart from the Getting started tutorials other tutorial series not yet Support Windows XR Plugin. so in the instructions it says to switch to DefaultHoloLens2ConfigurationProfile.

[2021-05-08 19:03] HillTAP opened #301 "Top of the line laptop"
Like most programmers, you leap before you think.  I have a Dell Alienware m17.... 3 USB 3.1 ports and your hardware check says I have none! Get a grip! 32GB RAM 2TB Static HDD 12 virtual processors i7 What the hell more do you want?

[2021-05-09 10:52] iluvian opened #302 "Unable to find Azure anchor"
Step 8:Follow this tutorial to package the app. Unable to find Azure anchor after deleting local anchor.
debug window shows "Looking for azure anchor...please wait...
I spent seven minutes looking, but there was no new message on the window.
unity 2019.4.8
azure spatial anchor SDK :2.4

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 97b7f65b-2300-1e88-3072-5ecc28e5a8

[2021-05-10 04:00] veeruby-developer commented on #302
@iluvian This ASA tutorial is supported for ASA 2.7 Version refer below screenshot
![image](https://user-images.githubusercontent.com/61759322/117604191-5bd4e880-b172-11eb-947a-36abad13ea95.png)
please use ASA version 2.7.1 or 2.7.2.

[2021-05-10 12:57] jstiefel commented on #297
I had it enabled. But it seems like things got messed up when I switched from XR Plugin to Legacy WSA. Created a new project and it works now. Thanks!

[2021-05-10 14:11] jstiefel commented on #297
Need to quickly re-open this issue. I followed the next parts of the ASA tutorial, now at Part 5, building for iPhone: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-05#installing-inbuilt-unity-packages

When I installed the package ARKit XR plugin 3.1.3 for iOS, it messes things up again activating the XR Plugin Management. When I tried to remove th

[2021-05-10 21:25] RogPodge opened #303 "Youtube video guide for controllers set to private"
The youtube video on this page has been set to private and is unviewable

https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/motion-controllers-in-unity#controller-tracking-state

Image proof:
![image](https://user-images.githubusercontent.com/39840334/117726527-8d15de80-b19b-11eb-907f-76d0220eb8c0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-05-11 17:10] julesra opened #304 "Overview page is missing other Hololen1 tutorials"
This page lists Mixed Reality Academy tutorials at level 100, but has no links to the other tutorials. I suggest adding direct links to the other tutorials. On the menu on the left side of this page if the user navigates inside the Hololens1 submenus, they can find level 200 tutorials, but this is not intuitive to find.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-05-11 21:22] #299 closed

[2021-05-11 21:22] hferrone commented on #301
Hi @HillTAP - can you give me some more info on what you're developing?

[2021-05-11 21:23] #302 closed

[2021-05-12 16:31] yexunwenjinghong opened #305 "unity hololens2 MRTK Folder have no SDK Folder"
[在此处输入反馈]
Unity Assets Folder have only shaders Folder,have no anythingelse .

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: a441bd4f-7fb9-780a-696c-6b07fee8c179
* Version Independent ID: 76453e28-721e-92ee-122c-f1f5ca571377
* Content: [使用求解器创建动态内容 - Mixed Reality](https://docs.microsoft.com/zh-cn/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-05)
*

[2021-05-12 17:17] HillTAP commented on #301
I'm not developing anything, just trying to use the software, I'm having
trouble with the drivers which do not install properly.

On Tue, May 11, 2021 at 11:23 AM Harrison Ferrone ***@***.***>
wrote:

--
*KWHill*

[2021-05-12 21:04] hferrone commented on #301
Gotcha, this is a [support issue](https://support.microsoft.com/en-us/windows/send-feedback-to-microsoft-with-the-feedback-hub-app-f59187f8-8739-22d6-ba93-f66612949332) then, as we only deal with the docs side of things.

[2021-05-12 21:04] #301 closed

[2021-05-12 21:06] hferrone commented on #305
@veeruby-developer Can you confirm that all Unity assets are present for this tutorial?

[2021-05-13 03:53] veeruby-developer commented on #305
@yexunwenjinghong  if you have imported the MRTK through "MR Feature tool" you will not find anything in the Assets folder, you can find everything in Package window Packages > Mixed Reality Toolkit Foundation > SDK > Features >.
![image](https://user-images.githubusercontent.com/61759322/118075024-d8fb9a00-b3cc-11eb-9fa5-0e9432f0bcf4.png)

[2021-05-14 05:56] veeruby-developer commented on #297
@jstiefel keep the XR plugin Installed, but make sure that non of the option there is checked,
![image](https://user-images.githubusercontent.com/61759322/118227732-ac1bb580-b4a6-11eb-890c-4ac2e3793f4a.png)

and in XR Settings (Legacy XR), ensure that only Virtual Reality Supported checkbox is checked and please remove Windows Mixed Reality SDK, that should work.

[2021-05-14 14:30] #297 closed

[2021-05-14 16:33] #305 closed

[2021-05-15 08:52] yexunwenjinghong commented on #305
I'm sorry to reply late, my problem has been solved, thank you

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年5月13日(星期四) 凌晨5:06
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [MicrosoftDocs/mixed-reality] unity hololens2 MRTK Folder have no SDK Folder (#305)

@veeruby-developer Can you confirm that all Unity assets are present for this t

[2021-05-15 15:01] EmberHeartshine opened #306 "Incorrect definition of outside-in vs inside-out"
The definition of outside-in vs inside-out tracking is incorrect. Vive/Index (SteamVR tracking) does not use outside-in. The lighthouses/base stations do not track anything, they are simply dumb IR projectors for sensors on the HMD/controllers to use as inside-out tracking markers. Currently the only high-profile outside-in systems are the Oculus Rift CV1 and PlayStation VR.

---
#### Document Det

[2021-05-16 05:11] GabrielFranklin opened #307 "Can't connect WDP from USB"
Please help me, I followed instructions to run WDP from USB but I cant...I checked on my PC, task IpOverUsbSvc is running, and I can access via WIFI...

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 37e0e5f1-b23b-4909-c1ba-6dba39174d30
* Version Independent ID: b0a8777f-e04e-b645-d983-0acb94268f4c
* Conte

[2021-05-17 02:41] LuuSangCntt commented on #83
From my experience, updated is called when the QR code is moved.

[2021-05-17 02:47] LuuSangCntt commented on #55
I hope you got the project running on Hololens 2. One thing you can check is the Mixed Reality Toolkit profile in the scene. I used the "XRSDKCustomProfile1" from the Example project.

[2021-05-17 02:54] tzw28 opened #308 "wrong pictures"
[在此处输入反馈]
https://docs.microsoft.com/zh-cn/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02
“将应用程序构建到 HoloLens 2”的“1.生成 Unity 项目”这一节中的配图错了，图是以前老版本文档中手动导入package的配图。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 24d36428-004c-e29f-ac5a-602bcbabdb25
* Version Independent ID: 01015fb5-d01b-c738-6671-9a0ca9af000e
* Content: [初始化项目并部署第一个应用程序 - Mixed Rea

[2021-05-17 03:26] veeruby-developer commented on #308
@tzw28  could you please attach a screenshot of the image that you are referring to.

[2021-05-18 05:24] cre8ivepark commented on #274
@justinpando You can also check out this video (43:53)
https://channel9.msdn.com/Shows/Mixed-Reality/MRTKs-UX-Building-Blocks

[2021-05-19 01:16] Waffle1434 opened #310 ""Instal" Typo"
"Instal with the MR Feature Tool" instead of "Install"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4beaf3de-e79d-ddcd-9a33-6d6193370f8e
* Version Independent ID: 947f32eb-9772-0e1f-b481-9214e5d9e8ea
* Content: [Hologram Stabilization](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/performance/holo

[2021-05-19 14:18] WLSmith9386 commented on #253
I am getting the same issue as above, when Opening the Advanced Properties tab Unity starts to generate a NullReferenceException.

I downloaded the toolkit from the Mixed Reality Feature Tool.

I commented out line 118 of TaptoPlaceInspector.CS and the error went away allowing for the rest of the advanced properties to be shown. `EditorGUILayout.PropertyField(maintainScaleProperty);`

[2021-05-19 20:03] #310 closed

[2021-05-21 00:43] cjosewski opened #315 "Doc Update Warnings!!!"
I know you guys are trying to stay ahead of all of us...   but it would be nice to get consistent updates to the documentation.

As it is you're rolling them out AD HOK and it's hard to keep up.

Perhaps a versioning system to the Docs that correspond to software version releases?

Please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-05-21 12:38] harrytete opened #316 "there is no English-to-Mandarin translation"
[在此处输入反馈]
Dear official,
when I change language from English to Chinese, the words on this website didn't translate, and AI translation Robot didn't work, please check this problem.
[https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/?view=mrtkunity-2021-01](url)

Thank you.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 8688c8ff-81f9-705a-24eb-c255e3

[2021-05-24 15:20] mreimer01 opened #318 "Broken Unity Mixed Reality forums link"
The Unity Mixed Reality forums link has issues. It goes to a screen that states "You do not have permission to view this page or perform this action."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97ac37f3-5dc8-8076-da7c-4c6d877eac49
* Version Independent ID: b58b8052-ddca-5941-3981-867baef990a5
* Content: [Unity deve

[2021-05-25 13:57] danielatdigital opened #320 "The first two sessions don't seem to be in the schedule at Build 2021"
The first two sessions don't seem to be in the schedule at Build 2021 - I can't find them using the search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1de8e78-6bae-2163-2f8c-a9dee641a17e
* Version Independent ID: 028211e2-63af-bfe2-271e-74eae04a728a
* Content: [Microsoft Build 2021 - Mixed Reality Sessions - Mixed

[2021-05-25 19:55] hferrone commented on #315
Hi @cjosewski - We have a versioning system for these docs, it's currently only on 2.6 because we just migrated the content. New versions will be added with each new release - thanks for the callout!

[2021-05-25 19:55] #315 closed

[2021-05-25 19:58] hferrone commented on #318
Hi @mreimer01 - Did you sign in to Unity when prompted?

[2021-05-25 20:11] HenryGuo2003 opened #321 "Typo in "Target object" section"
This property specifies which object will get transformed by the bounds control manipulation. If no object is setit defaults to the owner object.
-->
This property specifies which object will get transformed by the bounds control manipulation. If no object is set, it defaults to the owner object.

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 88931aed-f7dd-9d97-36c6

[2021-05-25 23:41] hferrone commented on #321
Thanks for the catch!

[2021-05-25 23:41] #321 closed

[2021-05-26 12:10] veeruby-developer commented on #298
@hferrone  this has been fixed in the latest PR #325

[2021-05-26 12:10] #298 closed

[2021-05-26 14:26] clintOngInnovations opened #326 "Closing the QRCodesManager properly"
The QRCodesManager really needs the following if you are trying to debug in Unity.  Without it, Unity crashes when trying to start on the next run.  I was using Unity 2019.4

private void OnApplicationQuit()
        {
            StopQRTracking();
            qrTracker = null;
            capabilityTask.Dispose();
        }

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-05-26 15:57] hferrone commented on #253
@veeruby-developer This still seems to be an issue?

[2021-05-26 15:58] #259 closed

[2021-05-26 15:59] #286 closed

[2021-05-26 16:01] hferrone commented on #294
Hi @CyanW0202 - this is more of a support issue than docs I think. Please file a support ticket with Microsoft or with the graphics driver manufacturer. All the best!

[2021-05-26 16:01] #294 closed

[2021-05-26 16:01] hferrone commented on #295
Hi @jennycolegrove - thanks for the callout here, we'll take this into consideration for our next docs update :)

[2021-05-26 16:01] #295 closed

[2021-05-26 16:04] hferrone commented on #304
Hi @julesra - thanks for the feedback, we'll incorporate it into the next round of docs updates!

[2021-05-26 16:04] #304 closed

[2021-05-26 16:05] #308 closed

[2021-05-26 16:06] hferrone commented on #316
Hi @harrytete - we're working on this issue, thanks for bringing it to our attention.

[2021-05-26 16:06] #316 closed

[2021-05-26 16:13] #303 closed

[2021-05-26 16:13] hferrone commented on #320
Hi @danielatdigital - those are small 15 minute presentations that were part of the main build session, but not actual sessions in themselves. These don't have links yet, but we'll update as soon as we have them. Thanks!

[2021-05-26 16:13] #320 closed

[2021-05-26 16:14] hferrone commented on #326
@chgatla-microsoft Can you confirm?

[2021-05-27 00:20] Yonet commented on #39
Sounds great @kpiascik. I will close this for now but feel free to reopen or send a PR when there is WebXR support, if not Windows. 😎
Thanks!

[2021-05-27 06:00] veeruby-developer opened #327 "Issues related to Holographic Remoting for OpenXR"
Built the Desktop App for OpenXR to test Holographic Remoting from sample project  [OpenXR Mixed Reality samples repo](https://github.com/microsoft/OpenXR-Unity-MixedReality-Samples) and was able the establish connection with HoloLens, but have below issues in it.

1.  was not able to click on any of the Button on the Menu(no Pointers).
2.  on the Desktop app there is no preview being shown once i

[2021-05-27 15:51] BladeRikWr opened #328 "Fix using-speech-in-wmr.md"
Incorrect text:

Correct text:

Feel free to change my corrected text to something that's better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 951ccf81-eba2-06db-a62b-748b7f20bd6d
* Version Independent ID: 0e6853dc-bca8-5f98-97bd-179fd78a86ff
* Content: [Using Speech in Windows Mixed Reality - Enthusiast Guide](https

[2021-05-27 15:59] BladeRikWr commented on #328
Closing because this is not the correct method to contribute as per [contributing.md](https://github.com/BladeRikWr/mixed-reality/blob/docs/mixed-reality-docs/mr-dev-docs/CONTRIBUTING.md).

[2021-05-27 15:59] #328 closed

[2021-05-27 16:10] #39 closed

[2021-05-28 23:16] JShull opened #334 "Documentation Spelling Error"
[Spelling Error -->Audio demos are missing an asmdef file (UPM **pacakge**)]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75031480-862f-2164-f57d-9dbcba2563ca
* Version Independent ID: 82f6b67a-4a68-ed40-126f-bf6ef999df8a
* Content: [MRTK 2.7 Release Notes - Mixed Reality Toolkit](https://docs.microsoft.com/en-us/win

[2021-05-29 00:35] MaxWang-MS commented on #253
This is a bug in MRTK 2.6.x and has been fixed in the newly released 2.7 version (microsoft/MixedRealityToolkit-Unity#9645).

[2021-05-29 00:38] #253 closed

[2021-05-29 01:32] MaxWang-MS commented on #334
The error is now fixed. Thanks for pointing it out!

[2021-05-29 01:41] #334 closed

[2021-05-30 15:20] peted70 opened #335 "TrackedGeometry or TrackedImage"
This page flips between using OnUpdateTrackedGeometry and OnUpdateTrackedImage such that it's not clear which one should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4db9ec0f-8219-f292-1ac5-6ca607125b33
* Version Independent ID: a04e35e0-a4a8-2af9-88a7-a5d44f90901b
* Content: [QR codes in Unreal - Mixed Real

[2021-05-31 08:09] veeruby-developer opened #336 "Unable to connect from Standalone Holographic Remoting to Hololens 2 with XR SDK for Unity 2019.4.x and Unity 2020.3.x"
Using  **WindowsMRRemoting** class to establish connection from Standalone App to HoloLens2 with XRSDK. but unable to connect to hololens2.

after entering the IP address **WindowsMRRemoting.isConnected** is returning "true",  but  nothing is seen on HoloLens.

have attached the connection script for reference.

[HolographicRemoteConnect.txt](https://github.com/MicrosoftDocs/mixed-reality/files/65

[2021-06-01 12:54] mreimer01 commented on #318
I was not prompted to sign in. Im already signed into the Unity forums and cannot access the forum section. Is it invite only?

[2021-06-01 16:31] hferrone commented on #318
There are no invites, it's completely public. This seems like a bug on Unity's side, so you'll need to file a bug report with them (https://support.unity.com/hc/en-us/articles/206336985-How-do-I-submit-a-bug-report-#:~:text=Click%20on%20Help%20and%20select,to%20submit%20your%20bug%20report).

[2021-06-01 16:31] #318 closed

[2021-06-01 19:18] keveleigh commented on #327
Did you build the PC app as UWP or Windows Standalone? There's a known Unity issue on UWP, but it should work on Standalone.

[2021-06-02 07:16] iljoong opened #337 "Update device portal URL for connecting over USB"
[Enter feedback here]
Under section Connecting over USB, it should be "https://127.0.0.1:10443" rather than "http://127.0.0.1:10080". It looks like that the latest browser like edge does not let to navigate over http protocol.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e0e5f1-b23b-4909-c1ba-6dba39174d30
* Version

[2021-06-02 10:09] veeruby-developer commented on #327
@keveleigh Thanks for your response,
I had built PC app as UWP and had above issues.
now that you mentioned, built the PC App as Windows Standalone and was able to connect to holoLens2. but had the same issue **"was not able to click on any of the Button on the Menu(no Pointers)"** and in the console still getting this error "OpenXR reprojection settings are not supported; missing openXR extension

[2021-06-02 18:41] polar-kev commented on #267
Hi @felderto, the MRTK ASA tutorial has been updated to work with ASA 2.9.

[2021-06-02 18:41] #267 closed

[2021-06-03 02:06] polar-kev commented on #246
This is now fixed.

[2021-06-03 02:06] #246 closed

[2021-06-04 18:09] hferrone commented on #307
Hi @GabrielFranklin - browsers have started to block port 10080, so we recommend using Wifi to connect, then read the IP address of the usbncm and us that for USB access to the portal. Please let me know if this works for you!

[2021-06-04 18:09] chgatla-microsoft commented on #326
@clintOngInnovations is this when you are running it in editor? Remoting? It is not clear how closing should affect it.  when the app runs again it is a new process anyway that said it is also safe to stopQRTracking on close though. Can you clarify the details of the crash? any logs?

[2021-06-04 18:19] #337 closed

[2021-06-05 00:52] laultman opened #339 "Something is wrong with documentation for Progress Indicator"
I don't have time to detail the problems with your documentation. A well seasoned developer should reasonably be able to use the documentation as a starting point. The purpose of documentation and MRTK in particular is to decrease the friction. After three hours I still have not deciphered your absolutely the most frustrating ____ .

Write a simple example that explains how it works.
Better one th

[2021-06-07 13:42] clintOngInnovations commented on #326
I am using holographic remoting in Unity 2019.4.14, and it will run and I can view QR codes info (minus being able to get positions since it isn't UWP).  After running and stopping running in the editor the first time, as soon as I try to run it a second time, Unity immediately crashes.  I assumed that it was something to do with the QRTracker process still running somewhere, and disposing of it s

[2021-06-08 06:28] Michael-Forest-Ravenhall opened #341 "Ellipsis is on right, not left."
"2. Selecting your Unity project
To ensure that all discovered features are supported on your project's version of Unity, the fist step is to point the Mixed Reality Feature Tool to your project using the ellipsis button (to the left of the project path field). "

"Ellipsis button (to the left  of the project path..." should read "to the right of the project path" to avoid confusion as the accompa

[2021-06-08 17:17] keveleigh commented on #327
@veeruby-developer Which MRTK and Mixed Reality OpenXR package versions are you using? I'd definitely recommend updating to the latest.
Also, which profiles are you using for MRTK?

Yep! All of these should work over Holographic Remoting for OpenXR.

[2021-06-08 19:45] #341 closed

[2021-06-09 04:27] veeruby-developer commented on #327
@keveleigh  we are using **MRTK 2.7.0** and **Mixed Reality OpenXR plugin 0.9.5.**
and for MRTK profile we are using **DefaultHoloLens2ConfigurationProfile**

[2021-06-09 23:23] hferrone commented on #339
Thanks for the callout @laultman - we're working on it!

[2021-06-11 09:09] felderto opened #343 "World Position to Image Coordinates (Hololens 2)"
Hello everyone

I am currently working with Vuforia on Hololens 2 in Unity 2019.4.28f1. I track 4 points (corners) of a Marker and then take an Image of that scene (PhotoCapture class), while also saving the World Space Coordinates of the 4 points that I track, and also the cameraToWorldMatrix and projectionMatrix with the help of the according methods in the PhotoCaptureFrame class from Unity.Win

[2021-06-15 11:53] Hattexmc opened #346 "Windows Device Manager Error with /api/filesystem/... (ERR_HTTP2_PROTOCOL_ERROR)"
I am developing for HoloLens 2 and i need to load files into the device via Windows device manager.

**History:**
It worked properly until about the time when the new windows update version 2004 got loaded. Before that, i used to connect with my device via USB and  https://127.0.0.1:10080 which worked fine.
After the update, this stopped working, so after some research [here](https://docs.microsof

[2021-06-15 21:48] RealSupremium opened #347 "OpenXR Windows Mixed Reality Runtime Controllers Being Unnecessarily Smoothed"
The hand tracking joint points do not lag behind, but the controller pose is lagging.
This makes fast paced movements tracked on the controller really hard.
It started happening around when the 106.2105.21002 was released. This was in the developer preview too.
I hope the OpenXR team sees this.

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-06-16 03:54] ttkrpink opened #348 "Can't not follow Multi-User tutorial with latest PUN"
Can not follow this tutorial with the latest PUN version 2.32. There is no Photon User script, nor Generic Net Sync script. And there is an error message right after PUN was imported. It also seems that there is no place to download archived PUN.

Could someone help to renew this Multi-User tutorial?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-06-16 14:09] ttkrpink commented on #348
My bad, it seems this tutorial only works with 2019, not 2020, not 2021

[2021-06-16 14:09] #348 closed

[2021-06-16 18:18] sourada13 opened #349 "Tutorial Missing Step for RoverParts?"
The tutorial seems to be missing a section. You are asked to create an empty object, RoverParts, and then duplicate the parts, but there are no parts underneath the object to clone. The image shows Camera, Generator, Lights, etc but there is no step to add those items to the RoverParts object. I'm not sure where to find and add those. Otherwise, these have been very helpful!

---
#### Document Det

[2021-06-16 23:16] keveleigh commented on #327
I'd double check that you have the Microsoft HoloLens feature set enabled and make sure you have Microsoft Hand Interaction added to the interaction profiles list

https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/openxr-getting-started#configuring-xr-plugin-management-for-openxr

![image](https://user-images.githubusercontent.com/3580640/122306960-3e581480-cebe-11eb-8e68-115b60

[2021-06-17 05:30] veeruby-developer commented on #349
you can find all the RoverParts at ** RoverExplorer > RoverAssembly > RoverModel > Parts** pleae refer the screenshot from the unity package.
![image](https://user-images.githubusercontent.com/61759322/122336881-1bc80900-cf5b-11eb-9e4f-0956cd22878a.png)
also there is instructions in tutorial to duplicate the Parts and move it to RoverParts Game Object please refer below screenshot.
![image](https:

[2021-06-17 11:50] MagmaPenguin opened #350 "Handshake failed when uploading to Azure"
Hello,
Following the tutorial for Unity, I've hooked up DataManager and added the Connection String to my Azure Storage Account and it is able to create a blob and upload an image, however the second time I try, it will hang and then eventually give a handshake failed error.
Restarting fixes this however after the first upload or download I get the same error.
Is there a way to see why it failed o

[2021-06-17 13:40] sourada13 commented on #349
Thank you! Yes I found it in the end. I appreciate you responding and
clarifying too!

On Wed, Jun 16, 2021, 11:30 PM VeeRuby Developer ***@***.***>
wrote:

[2021-06-17 16:15] yl-msft commented on #347
@RealSupremium   Thanks for reporting the issue here.  You have a very good eye on the latency for inputs.  The dev team is looking into this issue, and acknowledged the issue.  We will release the fix as soon as the team can, and I will ping back here when the fix is released.  Thanks and please keep us updated on any issues you encountered and like us to pay attention to.

[2021-06-17 17:06] hferrone commented on #350
@veeruby-developer Is this something you've encountered before?

[2021-06-17 17:06] #349 closed

[2021-06-18 13:02] #327 closed

[2021-06-18 20:31] dfields-msft commented on #343
Yes, the projection matrix includes the camera intrinsics. @keveleigh may be able to provide some additional details, but this documentation should be up to date and accurate (if not terribly clear/concise); see specifically the sample code in the linked Unity forum thread:
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/locatable-camera#using-unity
ht

[2021-06-18 20:38] #343 closed

[2021-06-20 12:05] fabs-git opened #351 "Voice Command not recognized"
None of the assigned (response) functions is reacting to speech commands from the tutorial file. I have tried speech input in other files too and still no response. Is there a way to assess whether is it only happening on my machine? How to open the MRTK black box for some feedback?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-06-21 03:53] veeruby-developer commented on #350
@hferrone  we will look into it....

[2021-06-21 10:11] PJBowron opened #352 "Mention the "What's my IP address" vocal command earlier"
Consider adding usage of the "What's my IP address" vocal command to the "Connecting over WiFi" section.

(There is already a mention, but only in the the "Connecting over USB" section)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e0e5f1-b23b-4909-c1ba-6dba39174d30
* Version Independent ID: b0a8777f-e04e-b645-d983-

[2021-06-21 10:31] ttkrpink opened #353 "SpatialAnchorManager is improperly configured"
As indicated in the tutorial, adding the following components is required.
ARSessionOrigin (Script)
ARAnchorManager (Script)

However, after adding these two, the "SpatialAnchorManager is improperly configured" error message is still there. If I forced to start a session and create an anchor, the app will crash on Hololens. The following is my setup.

Unity 2020.3.11
MRTK 2.6.2
OpenXR 0.9.5
ASA SD

[2021-06-21 11:07] paulio opened #354 "Is the collider information correct?"
The documentation states if you want to use the Near Interaction Grabbable that a Collider should be added, but it then informs the reader that it's not needed because it has already being added to the prefab. HOWEVER, the Near Interaction Grabbable only calls GetComponents not GetComponentsInChildren so it doesn't find the collider and complains at run time;
'NearInteractionGrabbable requires a B

[2021-06-21 14:46] wlewis55 opened #355 "Include the Mixed Reality Spectator View in the Mixed Reality Feature Tool"
## Feature Request

The MR Spectator View is an augmented reality product that enables viewing HoloLens experiences from secondary devices. I propose that the latest release of this repo is included in the Mixed Reality Feature Tool.

https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/spectator-view
https://github.com/microsoft/MixedReality-SpectatorView

[2021-06-21 23:13] yl-msft opened #356 "The information for play mode remoting is not latest after MR openxr plugin 1.0 released"
The information on this page is not latest, such as the "menu" screenshot, or the dialog titles.

The feature now is named as "Holographic Remoting for Play Mode".

@yl-msft

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96964557-d6ea-4d0f-e3b8-2a4976860590
* Version Independent ID: ace2aa93-4c83-bbfa-a063-e5550f60e8be

[2021-06-22 15:06] gllebede commented on #353
Do you see any other messages in the output like "Need an enabled ARCameraManager in the scene" or "The anchor prefab for ARAnchorManager must be set to null."?

If there isn't anything like this then most likely Spatial Perception Access is not granted. You can enable it on the Windows Store Build Settings select Publishing Settings by adding the “SpatialPerception” capability:

![image](https://

[2021-06-23 04:24] veeruby-developer commented on #354
Hey @paulio tutorial does not say to add the Collider component, it states that **"Collider" component is required on an Object to use Near Interaction Grabbable and Object  Manipulator**, and in the note it is not mentioned that Collider is not needed it is mentioned that **"Collider" has already been added to the object so no need to add again**.

thanks for pointing this mistake, we will update

[2021-06-23 07:32] felderto commented on #343
Thanks for the answer. It finally worked out, also with the help of your hint (dividing by W instead of Z).

For the post processing part I switched over to matlab which made it a lot easier to debug the whole code.

Thanks again !

![98769590-05A8-4A74-B64E-0A51C1ACFA6D](https://user-images.githubusercontent.com/34155982/123055228-f5481900-d405-11eb-8cec-e6aba35219ef.jpeg)

[2021-06-23 07:32] BalazsAti opened #357 "After deploy app error"
After deploying the app to Hololens 2 device, the app does not open, or work. The app create a window, and do no run.

I use unity 2019.4.28f1, visual studio 2019 Version 16.10.2, Windows 10 19043.1052. I made every step that microsoft docs write, with legacy xr.

[2021-06-23 13:40] t-constantin opened #358 "Wrong title"
[Enter feedback here]
Hi, the section 2's title in the sections tree is for offline speech to text, where the content is how to add voice commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 990e1fa4-74f7-290a-6911-ddffdec5ca66
* Version Independent ID: ad0f9d44-fb71-dc27-4923-f2b6bea99b95
* Content: [Adding an off

[2021-06-24 15:24] SeanBrennan8 opened #360 "Not moveable in Hololens2"
The cube is moveable in unity by using the mouse. It is not moveable when using the hololens, i can see the "Hello World" box but cant move it. Am i supposed to be able to move it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24d36428-004c-e29f-ac5a-602bcbabdb25
* Version Independent ID: 01015fb5-d01b-c738-6671-9a0ca

[2021-06-24 16:40] hferrone commented on #351
@polar-kev Can you assist?

[2021-06-24 16:41] hferrone commented on #355
@davidkline-ms Any way to do this?

[2021-06-24 16:44] sloh-ms opened #361 "The title is misspelled in the Table of Contents"
The title is correct in the document, but in the TOC it says "applicaiton."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 251fbcd1-a6b1-113b-8b91-d92aab40c80b
* Version Independent ID: f0dc010e-05fb-cce9-17d5-a8a8c6ae3353
* Content: [HoloLens (1st gen) and Azure 309 - Application insights - Mixed Reality](https://docs

[2021-06-24 16:45] #352 closed

[2021-06-24 16:46] hferrone commented on #356
@thetuvix Were these addressed in your latest update, or was that just the text?

[2021-06-24 16:49] hferrone commented on #357
Hi @BalazsAti - can you give me some more information on what kind of app you're deploying, and what specific article you're following?

[2021-06-24 16:49] hferrone commented on #360
@veeruby-developer Can you assist?

[2021-06-24 16:50] #361 closed

[2021-06-24 18:58] kangsu opened #362 "Where are the offline directions?"
The title says that this is for offline mode, but as far as I can tell, the actual content of the page doesn't actually describe any offline mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 990e1fa4-74f7-290a-6911-ddffdec5ca66
* Version Independent ID: ad0f9d44-fb71-dc27-4923-f2b6bea99b95
* Content: [Adding an offl

[2021-06-24 19:59] fabs-git commented on #351
@hferrone  @polar-kev: I have been stuck with this for days. Please send any tip or suggestion I could look up! Also, are there any settings (minimum platform version, target SDK version...) that I have to adjust in my unity project?
I can successfully use the Hololens' default commands while running my unity app (start recording, select, stop recording, etc.), but not the custom commands I set in

[2021-06-24 22:03] hferrone commented on #362
@varunsiddaraju Can you assist?

[2021-06-24 22:47] m-the-hoff commented on #351
Have you checked the following:

On HoloLens, go to Settings->Privacy->Speech and turn on speech recognition.

Under Settings->Privacy->App Permissions->Microphone, ensure enabled
Under Settings->Privacy->App Permissions->Voice Activation, ensure enabled

In Unity->Player Settings->UWP tab->Publishing Settings->Capabilities->Microphone (checked)

Does "Hey Cortana" work on the device?  Like: "Hey

[2021-06-25 04:17] ttkrpink commented on #353
Here is my setup. The output has "Need an enabled ARCameraManager in the scene"  message. and the "SpatialAnchorManager is improperly configured". Are there other things I can do to find the problem?

![image](https://user-images.githubusercontent.com/2522889/123367789-26af1900-d5ad-11eb-9fac-03d5bca4e58a.png)
![image](https://user-images.githubusercontent.com/2522889/123367870-50684000-d5ad-11eb-

[2021-06-25 06:51] veeruby-developer commented on #360
@SeanBrennan8  yes you should be able to move the cube on HoloLens2. can you provide us more details,
like Unity version, MRTK version, and are you using openXR or XRSDK or LegacyWSA and also which is the MRTK profile you used?

[2021-06-25 09:37] CYChuang opened #363 "Hololens 2 & Leap Motion"
Hello, I have some problems and I hope someone can help me.
I use Unity to develop Hololens 2's application, and I use Leap Motion to get my hand in another sight.
When I work in the Unity environment, I can catch my hand by Leap Motion.
However, I can't build the UWP application and Unity will show the error like this: [https://imgur.com/TKJF7Rm](https://imgur.com/TKJF7Rm)
So I want to know:
1. C

[2021-06-25 23:34] CDiaz-MS commented on #363
Hello @CYChuang,

Thank you for the questions.

1. Currently, MRTK's leap motion provider is supported on the Standalone platform while in the editor and in a build.  However, while on the UWP platform, the leap provider is only supported in editor and not in a build.  This is noted under the top gif in the [Leap Motion MRTK docs](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/s

[2021-06-26 16:32] jjantzer opened #364 "Configuring the buttons to operate the scene Clarifaction"
Under the header "Configuring the buttons to operate the scene", The tasks for each button could use more clarity

- Assign the ParentAnchor object _(under the scene tab)_ to the None (Object) field
- From the No Function dropdown, select AnchorModuleScript > StartAzureSession () to set this function as the action to be executed when the event is triggered

The ParentAnchor Object must be selected

[2021-06-28 01:29] CYChuang commented on #363
@CDiaz-MS Thanks for your answer and I hope the problem will soon be fix.

[2021-06-28 01:29] #363 closed

[2021-06-28 05:28] kroodl21 opened #365 "DataManager prefab error"
![image](https://user-images.githubusercontent.com/34234312/123584723-b6fc8200-d796-11eb-8793-335e491df729.png)
Cannot manipulate DataManager prefab due to an error that says "Please remove the CanvasRendere component from the GameObject as this component is no longer necessary"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-06-28 08:33] jstiefel opened #366 "Suspending mesh observation: CoreServices does not exist in the current context"
I'm trying to suspend and restart mesh observations according to this example with MRTK 2.6 in Unity 2019.4.26: https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/spatial-awareness/usage-guide?view=mrtkunity-2021-05#starting-and-stopping-all-mesh-observation

[code]

However, I get the error message

[code]

What I'm trying to do is to turn off any occlusions of holograms d

[2021-06-28 09:47] veeruby-developer commented on #364
Hey @jjantzer why do you feel that ParentAnchor Object must be selected from the Assets folder, because it is nowhere mentioned in the tutorial to drag the ParentAnchor Object from the Assets folder.
we add the Objects present in Assets folder into the Hierarchy at the start of the tutorial to work on these objects in the scene.

also you could see in the screenshot that ParentAnchor Object in the

[2021-06-28 10:34] SeanBrennan8 commented on #360
@veeruby-developer i am using unity version 2020.3.12f1. I am using the MRTK.HoloLens2.Unity.Tutorials.Assets.GettingStarted.2.5.0.1.unitypackage. I am using openXR and sorry i am not sure what MRTK profile.

[2021-06-28 14:45] jjantzer commented on #364
The issue I had is under the On Click () component, when selecting the object to assign the function, searching for ParentAnchor yields the prefab unless the scene tab is selected at the top of the search frame. If the prefab is selected, a script can still be assigned, in this case StartAzureSession, but the object (prefab) is not in the scene, and it gives a NullReferenceException when deployed

[2021-06-28 20:05] WLSmith9386 opened #367 "Errors with Azure mixed reality cloud services overview"
Functions and storage are listed twice in the Standalone Unity Services table. the Second link goes to the wrong page.

Cross device notifications goes to the wrong page.

[2021-06-29 05:42] veeruby-developer commented on #360
@SeanBrennan8 I think **Microsoft Hand Interaction profile** in the Interaction profile feature set has been removed by mistake,
![image](https://user-images.githubusercontent.com/61759322/123743209-8289e280-d8ca-11eb-82e0-defb0d6b7198.png)
please add the **Microsoft Hand Interaction profile** by clicking on + icon.
That should fix your issue.
and also ensure that you have selected the **DefaultMi

[2021-06-29 07:36] veeruby-developer commented on #365
@kroodl21  if you are using OpenXR and XRSDK please note that these tutorials are not yet been updated.
please provide us more info at what stage you are getting this error.

[2021-06-29 17:40] #354 closed

[2021-06-29 17:42] #358 closed

[2021-06-29 17:43] #360 closed

[2021-06-29 17:46] #367 closed

[2021-06-29 18:01] davidkline-ms commented on #366
This is a static class that should be always available, so this feels like there may be a missing namespace. Does your file have
using Microsoft.MixedReality.Toolkit; ?

If so, would you be willing to share your script so that we could try to reproduce the issue locally?

[2021-06-30 02:59] CharlesWilliamW opened #368 "Multi-user Capabilities Tutorials requires update"
[Enter feedback here]
I tried to follow https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-sharing-02
However, the links about creating and preparing the Unity project have been updated to use new versions of Unity and MRTK.
I get compile errors [MRTK.HoloLens2.Unity.Tutorials.Assets.MultiUserCapabilities.2.4.0.unitypackage](https://github.com/microsoft/Mixe

[2021-06-30 08:41] BalazsAti commented on #357
Hi! I am building the test app. https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02?tabs=wsa

[2021-06-30 12:41] jstiefel commented on #366
Thanks, this was it. I was missing the information about the namespace. Couldn't find this in the corresponding documentation.

[2021-06-30 12:41] #366 closed

[2021-06-30 12:59] veeruby-developer commented on #350
can you please provide us more details, we were not able to reproduce this issue. we were able to set the object multiple times and upload images.

[2021-06-30 17:57] hferrone commented on #368
We're actively working on updating these, stay tuned!

[2021-06-30 17:57] #368 closed

[2021-06-30 17:59] hferrone commented on #357
@veeruby-developer Can you help?

[2021-07-01 04:07] veeruby-developer commented on #357
Hey @BalazsAti please ensure below points:

- Ensure that Under Player XR Settings Ensure that ** Virtual Reality Supported** is Enabled and **Windows Mixed Reality** SDK is added
![image](https://user-images.githubusercontent.com/61759322/124062834-17b5e400-da4f-11eb-8127-6936adf1aedf.png)
- Ensure that right configuration profile is selected
![image](https://user-images.githubusercontent.com/617

[2021-07-01 07:19] ttkrpink commented on #353
I got to the tutorial's 4th step by the following change:
1. using the Azure Spatial Anchor tutorial's "AnchorModuleScript". The multi-user tutorial script has two error messages.
2. using the Windows Mixed Reality in the XR Plug-in Management. Using OpenXR will have error messages.
3. following the [post](https://www.reddit.com/r/HoloLens/comments/mni5q0/mrtk_azure_spatial_anchors_unity_tutorials

[2021-07-01 18:12] #357 closed

[2021-07-01 22:33] sostel opened #369 "Links require updating"
Link "UnityEngine.XR.WSA.Input" is broken - leads to a Unity page saying: "Sorry... that page seems to be missing!".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff98ca47-dfaa-635b-b12d-90a24acc2d2c
* Version Independent ID: 382b114a-839f-81fd-428b-f3c375fe6195
* Content: [Porting VR apps to Windows Mixed Reality - M

[2021-07-02 20:45] #369 closed

[2021-07-03 08:01] eroldan opened #370 "Typo, Intel "Xenon""
In paragraph "High Resolution Headset Requirements" says "Intel Xenon"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e694a30a-96e3-995a-19db-037e7e8747ed
* Version Independent ID: 05d92353-ad6c-58a3-d863-b9ad60c04447
* Content: [Windows Mixed Reality PC compatibility guidelines - Enthusiast Guide](https://docs.microso

[2021-07-04 02:23] kroodl21 opened #371 "MRTK custom icon"
I am trying to change an MRTK button icon to a customer one.  I created an iconset by Create > Mixed Reality Toolkit > IconSet under Project and imported an icon png I want to use. However, when I click the iconset I have just created, Quad Icons dropdown is disabled saying "You can't nest Foldout Headers, end it with EndHeaderFoldoutGroup." I am using MRTK Foundation 2.7.0. and Open XR Plugin 1.0

[2021-07-06 07:14] Secret-Lin opened #372 "The Step: Click the left mouse button to start the tap-to-place process. Doesn't work."
[Enter feedback here]
The Step: Click the left mouse button to start the tap-to-place process.  Doesn't work. (Solved)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a441bd4f-7fb9-780a-696c-6b07fee8c179
* Version Independent ID: 76453e28-721e-92ee-122c-f1f5ca571377
* Content: [Creating dynamic content using Solvers - M

[2021-07-06 07:21] Secret-Lin commented on #372
Besides, Press-and-hold the mouse and drag the mouse do not change the camera view, it ony change the view in Scene.

[2021-07-06 07:25] Secret-Lin commented on #372
Well, there is an error happen while in play mode:
NullReferenceException: Object reference not set to an instance of an object
Microsoft.MixedReality.Toolkit.MixedRealitySceneContent.InitializeSceneContent () (at Library/PackageCache/com.microsoft.mixedreality.toolkit.foundation@f9119e214301-1624605940213/Core/Utilities/SceneContent/MixedRealitySceneContent.cs:115)
Microsoft.MixedReality.Toolkit.

[2021-07-06 09:57] veeruby-developer commented on #372
these errors does not seem to be from the tutorial implementation, can you provide us more details,
like Unity version, MRTK version, and are you using openXR or XRSDK or LegacyWSA and also which is the MRTK profile you used?

[2021-07-07 19:05] artbydcm opened #374 "Lets Build One"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56908b68-fae3-67a4-8f72-495f670afaf3
* Version Independent ID: 2b7ef884-1096-81f0-923f-a268a75f901f
* Content: [Start designing and prototyping - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/design/design)
* Content Source: [m

[2021-07-12 21:50] laultman opened #376 "Subject is about Performance Optimization - Gives On Instruction of Download"
A nice discussion on optimization. There seems to be some tooling to do this. No link is provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3da8de1e-b87c-425f-8074-ea48143223fc
* Version Independent ID: 3d5f3f97-daf6-ee5c-6302-3e54976e77d2
* Content: [Optimize window - Mixed Reality Toolkit](https://docs.microsof

[2021-07-12 21:59] hferrone commented on #245
@CDiaz-MS Is this fix still coming?

[2021-07-12 21:59] #307 closed

[2021-07-12 22:00] #326 closed

[2021-07-12 22:01] hferrone commented on #335
@sw5813 Can you assist?

[2021-07-12 22:01] hferrone commented on #339
@polar-kev Has this been updated?

[2021-07-12 22:02] hferrone commented on #346
@jessemcculloch Can you point me in the direction of someone who might know what's happening here?

[2021-07-12 22:02] #347 closed

[2021-07-12 22:03] hferrone commented on #350
@MagmaPenguin Can you give us some more details so we can try and reproduce?

[2021-07-12 22:03] #351 closed

[2021-07-12 22:04] hferrone commented on #353
@ttkrpink Do you have any full logs for us to take a look at?

[2021-07-12 22:04] #362 closed

[2021-07-12 22:05] #364 closed

[2021-07-12 22:10] hferrone commented on #370
@tesych Can you confirm?

[2021-07-12 22:11] hferrone commented on #371
@cre8ivepark @polar-kev Can either of you assist?

[2021-07-12 22:12] hferrone commented on #372
@Secret-Lin Can you send us some full logs and detailed implementation instructions on how you're setup?

[2021-07-12 22:12] #374 closed

[2021-07-12 22:12] hferrone commented on #376
@polar-kev Do you have a link for the mentioned tooling?

[2021-07-12 22:17] laultman commented on #376
Performance Getting Started - Mixed Reality Toolkit | Microsoft Docs<https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/performance/perf-getting-started?view=mrtkunity-2021-05> (Sorry, I clicked the GitHub link in the page, assumed it gave the page link.)

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Harrison ***@***.***>
Sent: Monday, July 12

[2021-07-12 22:21] keveleigh commented on #356
@hferrone they still look out of date. I'll open a PR!

[2021-07-12 22:23] CDiaz-MS commented on #245
@hferrone Yes the fix for the docs is coming soon and @haraldsamson I am currently investigating the SR_Triangles shader to see if we could surface a way to change that default color.

[2021-07-13 04:39] Hattexmc commented on #346
It seems to be a problem with the browser.

Firefox works fine, but Edge and Chrome fail to do the job.
It seems that it has nothing to do with the Windows update as previously guessed, as i noticed my company device and my private device (second laptop to try) were on different states and on both devices, 1/3 Browsers work.

Issue started in the first week of June 2021

[2021-07-13 09:39] MagmaPenguin commented on #350
I had this on my first project, I followed the tutorial and setup the DataManager so I could upload and download images to my Azure Storage but doing an upload multiple times would cause the handshake error.
I was originally using a large image file, could this have caused the error because the original upload hadn't finished before I attempted another?
I changed and began testing with smaller ima

[2021-07-14 01:56] ttkrpink commented on #353
I used ASA 2.10.0 for other projects, Those projects seem fine. I guess have to reimport everything for this messy project. Closing this issue, thanks for all your help.

[2021-07-14 01:56] #353 closed

[2021-07-14 20:06] polar-kev commented on #376
@laultman, the Optmization Window can be brought up by navigating to Mixed Reality>Utilities>Optimize Window" from the top bar menu in Unity,
![image](https://user-images.githubusercontent.com/30964480/125685621-a8c5e69e-937f-49c0-9d87-e8eece53c0c9.png)

@hferrone, can you add the above to the docs page?

[2021-07-14 20:23] julesra opened #377 "Bug: Unity editor hangs when OpenXR Editor Remoting can't connect"
Hello,

The Unity editor hangs when OpenXR Editor Remoting can't connect to the remote device.

To reproduce:
- Follow the instructions for setting up OpenXR editor remoting + MRTK + Hololens2
- Enter a bad IP address in the editor remoting tab
- Click Play

Observed result: Unity hangs for multiple seconds at a time while it repeatedly tries to connect.

Expected result: Unity should still be res

[2021-07-14 20:27] julesra opened #378 "Feature request: OpenXR Editor Remoting ability to check connectivity of remote device"
Hello,

Sometimes the OpenXR Editor Remoting won't be able to connect to a remote device (ex: when the device fell asleep, or IP address is wrong, etc)

It would be nice if there was a way inside the Editor Remoting tab to check if a device is connectable or not. Like a "Check Connection" button that the user pushes to see if the connection is successful or not. That way the user doesn't have to p

[2021-07-15 15:27] #245 closed

[2021-07-15 15:29] #356 closed

[2021-07-15 16:46] polar-kev commented on #371
@CDiaz-MS, thoughts on this one?

[2021-07-15 17:02] polar-kev commented on #339
@laultman can you be more descriptive about what the problem you encountered is? Are you not able to find the Progress Indicator example scene? What part of the documentation are you stuck on?

[2021-07-15 20:05] polar-kev commented on #339
There is currently a PR open to improve the progress indicator example scene by providing more real world examples such as scene loading, async tasks, and animations.
https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9971

[2021-07-16 01:14] Secret-Lin commented on #372
For Unity, it is 2019.4.28f1c1.
For MRTK, it is latest version, which is 2.7.2 for Foundation.

I think I strictly follow the toturial and what logs do you want? l am a freshman in this area.  -v-

[2021-07-16 01:55] Secret-Lin opened #379 "MRTK is missing but it is in my project?"
![捕获](https://user-images.githubusercontent.com/49646932/125879511-a427e519-653a-4c78-a5c8-512cc503fc74.PNG)
I was trying to modify the Onclick() in the Events in the intractable section. It raise up an error "MRTK is missing". But MRTK is in my project and I try to click "MRTK > Add to Scene and Configure", it only highlights the MRTK in my Hierachy.

The probelm is solved by redo everything. -v-

[2021-07-16 02:58] Secret-Lin commented on #372
Well! Problem Solved!
In the first and second step of toturial. I followed the ch-veision. Then, I reallize it has some problem then I switch to en-veision.  But I do not redo the first two steps.
Today, I redo the first two steps, the problem is solved.
Anyway, Thanks for your reply and help!! -v-

[2021-07-19 17:25] julesra opened #381 "Visual studio doesn't show an automatic popup for remote machine information"
This article says that deploying to Remote Machine in C# would pop up a window asking for the IP address, but my Visual Studio just gave me this error instead of popping up a window (error below).

If this happens to all recent VS versions, I suggest the documentation should suggest that the user type the IP address under project Properties -> Debugging -> Machine Name, instead of waiting for the

[2021-07-19 17:29] pbarnettms commented on #381
Are you certain that your project is C#?  Unity uses il2cpp now which produces a C++ project.  The proposed documentation change is incorrect for C# projects, and the error message you list below is also consistent with C++ projects.  I would also not expect a C# project to have a ‘Release ARM64’ configuration, unless you manually created one.

From: julesra ***@***.***>
Sent: Monday, July 19, 202

[2021-07-19 17:41] julesra commented on #381
Hi sorry my bad, I am building a Unity3D C# project but it is being built as a VS C++ project, I didn't realize this. My change doesn't apply for C# in this case, it can be discarded. Sorry the confusion.

[2021-07-20 00:04] pinkwerks commented on #111
@Lindaae where you able to resolve this? I'm having very similar problems.

[2021-07-21 07:54] paulio opened #382 "Self directing link"
The "next step" at the bottom takes you to the same page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0051f2fd-9bcd-7eb8-48f0-b8b170d42a49
* Version Independent ID: 2c1a0a2b-6a3f-1a1d-caf1-4a06caf5411b
* Content: [Using the HoloLens Emulator - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/dev

[2021-07-21 13:58] 784651 opened #383 "Emulator Device Registration - Install MRTK Examples Hub"
I am attempting to install the MRTK Examples Hub on my Hololens Emulator. I have logged into the device using my Microsoft Account. In the Portal, account.microsoft.com/devices, I can see the Hololens emulator as a device. When attempting to install the MRTK Examples hub using this URL, https://www.microsoft.com/en-us/p/mrtk-examples-hub/9mv8c39l2sj4?activetab=pivot:overviewtab I get an error stat

[2021-07-21 16:46] pbarnettms commented on #383
@784651 The product page you link shows that the system requirements for the app are an ARM architecture.  The emulator, as documented, requires apps to be built for x86 or x64.  Therefore, that particular app will not work and the error you are receiving is correct.

That said, going through sign in in the emulator just to install this app is the long way to do it.  You can get the MRTK x86 build

[2021-07-21 16:50] Lindaae commented on #111
Well, the problem somehow magically resolved itself someday. When I tried debugging again a few month later, it worked. It even works over USB now. But I have really no idea at all what I did to resolve the issue. Sorry about that!

[2021-07-21 18:39] 784651 commented on #383
This is awesome! Thank you!

[2021-07-21 18:40] #383 closed

[2021-07-22 12:11] ahmed-saber-gomaa opened #384 "the app is stuck at loading on my hololens 2"
I have followed the tutorial "Getting started with azure spatial anchors" step by step. Nevertheless, when the app is deployed on the hololens 2, all I can see is the loading screen (the 4 spheres).

side note: I loaded ASA SDK from the Mixed Reality Feature Tool.

I hope someone cold help, Thanks :D

[2021-07-22 15:34] DreVinciCode opened #385 "Clipping primitive; two ClippingBoxes at the same time"
Hello,

I tried following these [instructions ](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/rendering/clipping-primitive?view=mrtkunity-2021-05#feedback) to add a second ClippingBox to a renderer. I had some of issues that came up:

1) The MonoBehaviour script SecondClippingBox does not reference the variable clipBoxSizeID, and the script requires including the names

[2021-07-23 16:47] bphillips09 commented on #384
HI @ahmed-saber-gomaa, can you let me know the version info for the tools you are using?
- Unity Version
- ASA Version
- MRTK Version
- If you are using OpenXR

[2021-07-23 16:49] bphillips09 commented on #379
HI @Secret-Lin, can you let me know which version of Unity and the MRTK you're using? Thanks!

[2021-07-24 14:53] Psoffie009 opened #386 "Developer"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be7da38f-67f0-9558-e3ec-d1ca87a782e0
* Version Independent ID: 0dc68b17-ee6d-0ae3-31da-792bf0b5deab
* Content: [Getting started with OpenXR - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/native/openxr-getting-started#u

[2021-07-26 16:13] bphillips09 commented on #386
@Psoffie009 Can you provide more information?

[2021-07-26 16:45] #372 closed

[2021-07-26 16:46] #381 closed

[2021-07-27 02:44] satokazu1957 opened #387 "Cannot find Azure Spatial Anchors"
[Enter feedback here]
I made a application along with the first part of the chapter 2.
Start azure session and finished the azure anchors successful.
But cannot fid azure anchor.

The debug window shows that the app finding azure spatial anchor.
Azure dashboard show that the anchor was created.
HoloLens2 tracking data show that the anchor is placed.

I tried the tutorial so many times with several

[2021-07-28 12:21] ahmed-saber-gomaa commented on #384
hi @bphillips09 , thanks for the response. The fault was from my side. I was using an outdated windows XR plugin.

[2021-07-28 12:21] #384 closed

[2021-07-28 17:07] #370 closed

[2021-07-28 17:08] #382 closed

[2021-07-28 17:12] bphillips09 commented on #387
Hi @satokazu1957, we are currently working on updating our ASA tutorial docs - can you try importing this [updated GettingStarted package](https://github.com/microsoft/MixedRealityLearning/releases/download/getting-started-v2.7.2/MRTK.HoloLens2.Unity.Tutorials.Assets.GettingStarted.2.7.2.unitypackage) and seeing if that resolves your issue?

[2021-07-29 05:41] satokazu1957 commented on #387
Hi @bphillips09 , I tried the updated GettingStartedPackage.
I made two projects, one is "Open XR" and one is "Windows XR plugin".
But both are work not good.
Open XR project is stopped at creating Azure anchor.
Windows XR plugin project is stopped at finding Azure anchor.

<Open XR project>
Unity 2020.3.12f1
MRTK Foundation / Standard Assets2.72
Azure Spatial Anchors SDK core / Windows 2.10.2
Mix

[2021-07-29 06:22] satokazu1957 commented on #387
But I progress the tutorial to the "3. Saving, retrieving, and sharing Azure Spatial Anchors", Azure Spatial Anchor is shared by two HoloLens, one is HoloLens1 and other is HoloLens2.
The project is dependent on the WindowsXR Plugin tutorial.

[2021-07-29 13:26] ahmed-saber-gomaa commented on #387
@satokazu1957 I didn't get your last comment. Do you mean that you were able to share an Anchor with two hololens devices?

[2021-07-29 13:58] satokazu1957 commented on #387
@ahojnnes  I could have shared the Azure Spatial Anchors between two HoloLens.
But the instruction "Trying the basic behaviors of Azure Spatial Anchors", of next url was not work good.
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02?tabs=winxr

1. Move the cube to a different location
2. Start Azure Session
3. Create Azure Anchor (creates an anchor

[2021-07-30 23:44] RecycleMichael opened #388 "Altspace Uploader is missing from MRFT"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1069484-7225-532e-be75-7cf6814ef355
* Version Independent ID: 7c9a8a28-7091-c8b5-f0a9-b4a9c86c6088
* Content: [Discovering and acquiring features - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/discovering-featur

[2021-08-02 10:15] SanjyotLiminal opened #390 "Queries regarding 2 Supported Features [UE4.26+]"
[Enter feedback here]
We wish to use the Hololens 2 for an upcoming project where we will be using Unreal Engine 4.26+ for the development.
We have a few concerns/queries regarding two of the features that are present in the “Supported Features” for Unreal Engine list for the Hololens 2. They are described as follows,

 - **Spectator screen support for streaming:** _This feature is not supported i

[2021-08-02 16:44] #386 closed

[2021-08-02 23:11] ghost opened #391 "Error CS0234: when building for IOS."
Trying to build for IOS in Unity but not working.

The errors are below:

Assets/MRTK.Tutorials.AzureSpeechServices/Scripts/LunarcomIntentRecognizer.cs(7,19): error CS0234: The type or namespace name 'Windows' does not exist in the namespace 'UnityEngine' (are you missing an assembly reference?)

Assets/MRTK.Tutorials.AzureSpeechServices/Scripts/LunarcomIntentRecognizer.cs(98,80): error CS0246: Th

[2021-08-03 05:41] oafolabi-msft commented on #387
@satokazu1957, is this still an issue for you, or did the suggestion resolve the problem?

[2021-08-04 07:32] satokazu1957 commented on #387
I tried the "Multi-user capabilities tutorial".
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-sharing-01
I proceeded with the tutorial. And I have checked the results every chapter.
"Connecting multiple user" and "Sharing object movements with multiple users" chapter have no trouble.
At this point I tried the check with HoloLens 2 and PC.
But final resu

[2021-08-04 17:30] davidkline-ms opened #393 "Didn't find information about area restrictions of spatial mapping"
As reported on the MRTK-Unity repository, there is no clear documentation on distance limits.

Describe the issue
I need to scan large spaces and save the entire mesh to an .obj format model.

Feature area
Everything works fine, but I didn't find any information on area restrictions.

Additional context
I increased the Observation extents, but all I got was to keep the scan no more than 400 square

[2021-08-04 23:48] satokazu1957 commented on #387
I have still troubles on the tutorial, "Multi-user capabilities tutorial".
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-sharing-01

[2021-08-06 03:16] Xudarker opened #394 "How can i get the position of Room Floor after SpatialMapping."
[Enter feedback here]

How can i get the position of Room Floor after SpatialMapping? is there have any APIs to do that?  thanks, hope to get response soon.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8aa2e52-391c-7963-0496-7c735c0bc596
* Version Independent ID: bd0e1c49-b23b-91d7-31aa-a1a09fe4e387
* Content: [Scene

[2021-08-06 04:10] MaxWang-MS commented on #394
You can open the SceneUnderstandingExample.unity sample scene as mentioned in the doc, and then create your own script calling the DemoSceneUnderstandingController.GetSceneObjectsOfType(SpatialAwarenessSurfaceTypes) Method.

[2021-08-06 06:26] young-tae-lim opened #395 "Azure spatial anchor_Remove Local Anchor"
I'm doing Azure Spatial Anchor tutorial.
When running on HoloLens 2, the cube object disappears when running Remove Local Anchor in the fifth step 'Allows the user to move the cube'.

For Basic Events in ButtonParent > RemoveLocalAnchor > Button Config helper, it appears that the cube is removed by assigning ParentAnchor.
I wonder how the cube in the instruction manual is created again.
[여기에 피드백 입

[2021-08-06 09:28] Xudarker commented on #394
@MaxWang-MS  i have found the example about scene understanding, not really sure this is the one which i can get my answer about this question, but still thanks.

[2021-08-07 02:11] MaxWang-MS commented on #394
@Xudarker Please close the issue if the issue has been resolved or otherwise let me know what question you have, thanks!

[2021-08-07 13:43] #394 closed

[2021-08-08 19:14] peted70 opened #397 "Fully qualify the namespace for Path"
Use System.IO.Path in the snippets to avoid a build error and trying to work out where Path is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74770102-2289-8f0a-cabc-a5e15b5a4a88
* Version Independent ID: 61fa1f2b-f423-81f3-d42f-9fe9867950c8
* Content: [WinRT in Unreal - Mixed Reality](https://docs.microsoft.com/en-us

[2021-08-09 22:14] #376 closed

[2021-08-09 22:16] bphillips09 commented on #395
Hi @young-tae-lim, can you provide for me some version information?
- Unity version
- MRTK version
- ASA version

[2021-08-09 22:18] bphillips09 commented on #391
Hi @JoshJarc, can you provide for me the following information please:
- Unity version
- Xcode version
- Azure Speech Services version

[2021-08-09 22:21] bphillips09 commented on #388
Hi @RecycleMichael, I just checked and it is there for me. I think it depends on the version of Unity your project is using, as it won't appear if the project is using a version lower than Unity 2020. Can you let me know which version of Unity your project is detected as using when you select it with the MRFT? Also, can you let me know the version of the Mixed Reality Feature Tool you are using? T

[2021-08-09 22:29] bphillips09 commented on #346
@Hattexmc is this issue still prevalent?

[2021-08-10 00:33] m-the-hoff opened #398 "Equal sign in PowerShell scripts causes script to fail"
The PowerShell example commands show as follows:

-unityExePath = "C:\..."

It should be:

-unityExePath "C:\..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f4c6635-145a-7cf1-b53d-a7dc7c71af00
* Version Independent ID: f1cd003b-84f1-6905-1f47-649d3841e047
* Content: [Writing and running tests - Mixed Reality Toolk

[2021-08-10 00:42] elbuhofantasma opened #399 "MRTK Unit Test command line example has an incorrect parameter"
When attempting to use the command line examples from the Unit Test documentation, the user is unable to run the Unit Test due to the "=" in the -unityExePath parameter. Below is a picture with the failed command from the example in the top half of the picture, and the bottom half is the successful command with the "=" removed.
![image](https://user-images.githubusercontent.com/65038391/128791439-

[2021-08-10 04:10] elbuhofantasma commented on #399
This is a duplicate of #398

[2021-08-10 04:10] #399 closed

[2021-08-10 08:03] Hattexmc commented on #346
I always use Firefox where it works fine. (Currently Version 90.0.2 (32-Bit))
I just tried it with Chrome Version 92.0.4515.131 (Official Build) (64-Bit) and Edge 92.0.902.67 (Official Build) (64-Bit), it works again on both Browsers. Unfortunately i cannot tell what exactly caused or fixed the issue.

[2021-08-10 08:15] RecycleMichael commented on #388
I updated and it fixed. Thanks!

On Mon, Aug 9, 2021 at 3:22 PM Brandon Phillips ***@***.***>
wrote:

[2021-08-10 19:36] #388 closed

[2021-08-10 21:51] #339 closed

[2021-08-10 21:51] Sean-Kerawala commented on #339
Please refer to the PR or comment on this issue if the above PR doesnt solve for the need. Thank you!

[2021-08-10 21:53] #346 closed

[2021-08-11 01:11] rgeorge0706 opened #401 "Multiple precompiled assemblies with the same name Newtonsoft.Json.dll"
At "Importing the tutorial assets" when I try to import Azure Storage for Unity (version 2021.1.16f1), I get the below errors (numbers at beginning added by me):
(1) Multiple precompiled assemblies with the same name Newtonsoft.Json.dll included on the current platform. Only one assembly with the same name is allowed per platform. (C:/Users/username/OneDrive/Documents/UnityWork/AzureCloudTutorials

[2021-08-11 07:25] paulio opened #402 ""Quad Icons" is difficult to understand"
IMO, 'You can create a new button icon set with the asset menu: Create > Mixed Reality Toolkit > Icon Set. To add quad and sprite icons, simply drag them into their respective arrays.' is difficult to understand. A 'Quad Icon' had no meaning to me and when it also talked about using a Quad Mesh Renderer it just became more confusing. I would recommend to explicitly state that you need to assign Te

[2021-08-11 10:15] KenanBektas opened #403 "Project Name vs. Short Name vs. Display Name vs. Package Name"
Hi,

I deployed two different apps (the content, Project Name, and Display Names are different) I have noticed that the 2nd one replaces the 1st one i.e., after deployment (VS2019) the 2nd one overwrites the 1st deployment. I think this issue is related to using the same package name in two different projects as explained [here](https://stackoverflow.com/questions/62994573/deploy-multiple-applicat

[2021-08-11 17:13] pbarnettms commented on #403
This is a standard part of the Windows UWP application model, not HoloLens-specific.  For more information about the various elements in the manifest, please refer to https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/appx-package-manifest.

[2021-08-11 23:08] bphillips09 commented on #402
Hi @paulio, the page you referenced does explain what a 'Quad Icon' is: "Quad icons are rendered on a quad using a MeshRenderer. This is the default icon style." - I believe that Quad icons are the default over Sprite icons for example, as they reduce the number of draw calls needed when used in 3D space. It is possible that I am misunderstanding your confusion with the topic though.

[2021-08-11 23:10] bphillips09 commented on #401
Hi @rgeorge0706, can you let me know what version of the MRTK you are using?

Also, I don't believe that specific tutorial has been updated to support Unity 2021 yet. It is possible that this issue is indeed related to the version of Unity you are using, as compatibility has only been tested with Unity 2019.4 LTS.

[2021-08-11 23:11] #398 closed

[2021-08-11 23:14] bphillips09 commented on #397
@DCtheGeek Should this be implemented here?

[2021-08-12 02:36] rgeorge0706 commented on #401
I am using MixedRealityFeatureTool-1.0.2104.4-Beta

[2021-08-12 02:36] rgeorge0706 commented on #401
Sorry closed by mistake

[2021-08-12 02:50] paulio commented on #402
That's an explanation for the existence of them, but it doesn't help the reader understand how to create them.

[2021-08-12 14:27] Morgan-6Freedom opened #404 "Adding the requirement for the animation doesn't work"
I have followed Adding the triggers and it doesn't work.
![image](https://user-images.githubusercontent.com/49686866/129214538-0e073ad9-7c35-4333-8c66-bbe3c29ab456.png)
![image](https://user-images.githubusercontent.com/49686866/129214562-dc96713c-27f1-4a2f-8659-1b496d60a7e4.png)

Try with the GLB attached
👉 [cube_anim3.zip](https://github.com/MicrosoftDocs/mixed-reality/files/6976161/cube_anim3.z

[2021-08-12 19:20] WLSmith9386 opened #405 "Code Snippets need Updating."
[code]
StartPhotoModeAsync only takes two arguments as per https://docs.unity3d.com/ScriptReference/Windows.WebCam.PhotoCapture.StartPhotoModeAsync.html

`PhotoCapture.SupportedResolutions.OrderByDescending((res) => res.width * res.height).First();`

Is dependent on using the System.Linq namespace this should be mentioned so it doesn't show up as an error message inside of Unity.
---
#### Document

[2021-08-12 22:34] bphillips09 commented on #401
@rgeorge0706 This tutorial series supports Unity 2020 LTS (currently 2020.3.x) if you are using Open XR or Windows XR Plugin and also Unity 2019 LTS (currently 2019.4.x) if you are using Legacy WSA.

I would recommend using Unity 2020.3 and seeing if this resolves your issue for now.

[2021-08-12 22:43] bphillips09 commented on #405
@WLSmith9386 Good catch - I can't even find a previous revision of `PhotoCapture` that supported 3 arguments.

[2021-08-12 22:55] #403 closed

[2021-08-12 22:59] bphillips09 commented on #365
@kroodl21 Can you provide more information?

[2021-08-12 23:05] #405 closed

[2021-08-13 01:29] RyanJang111 opened #406 "Issue with 'Initializing your project and deploying your first application'"
![Application Issue](https://user-images.githubusercontent.com/86286992/129291882-0d8b5861-90b2-4894-ab13-8b6f07ff87e5.png)

I have tried to build and deploy the application through visual studio with Unity and HoloLens 2. I have gone through all the steps here (https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02?tabs=openxr), but the installed applic

[2021-08-13 17:00] bphillips09 commented on #397
@fieldsJacksonG Should this be implemented?

[2021-08-13 17:02] bphillips09 commented on #406
Hi @RyanJang111, can you let me know which version of Unity you are using as well as which MRTK version?

I have run through this tutorial myself a few times with HL2 and it has worked for me.

[2021-08-14 15:03] rgeorge0706 commented on #401
Using Unity 2020.3 didn't resolve this issue, and I am getting the same error.  Azure Storage needs Newtonsoft v10, while Unity 2020.3 automatically comes with Newtonsoft v12 since the Version Control package has a dependency on Newtonsoft v12.

[2021-08-14 15:40] rgeorge0706 commented on #401
I used Unity 2020.3, and I still face the same issue and see the same error message.

It seems that Azure Storage needs Newtonsoft v10 while Unity automatically installs Newtonsoft v12 for a Version Control package added when creating a new project.  The dependencies for these packages are causing the "multiple precompiled assemblies" error.

[2021-08-15 06:43] RyanJang111 commented on #406
Hi @bphillips09 , I am using Unity (2020.3.13f1) and MRTK (1.0.2104.4-Beta). Do you think I need to use different versions? Can you let me know which version did you install as well?

[2021-08-16 14:52] bphillips09 commented on #401
@rgeorge0706 Is this a third-party Version Control package you are installing? This tutorial series was validated with no errors on Unity 2020.3 LTS, but I haven't personally tested it myself. I should be able to do that later today and see if I can replicate your issue.

[2021-08-16 17:07] rgeorge0706 commented on #401
The version control package is automatically included when I create Unity projects with Unity 2020.3.16, I did not download it from a third party.

[2021-08-17 06:40] limsb95 opened #407 "Azure Cloud Services tutorial error: Multiple Newtonsoft.Json.dll"
Error Message:
Multiple precompiled assemblies with the same name Newtonsoft.Json.dll included or the current platform. Only one assembly with the same name is allowed per platform. (D:/ACS/Library/PackageCache/com.unity.nuget.newtonsoft-json@2.0.0/Runtime/Newtonsoft.Json.dll)
Multiple precompiled assemblies with the same name Newtonsoft.Json.dll included or the current platform. Only one assembly

[2021-08-17 21:29] bphillips09 commented on #407
Duplicate of #401

[2021-08-17 21:29] #407 closed

[2021-08-17 23:06] limsb95 commented on #401
Any solution for this issue?

[2021-08-17 23:50] rgeorge0706 commented on #401
@limsb95 I removed Version Control, which is found in Windows>Package Manager. And it fixed my multiple Newtonsoft.Json.dll errors.

[2021-08-18 15:39] WLSmith9386 opened #408 "Needs review and to be updated for OpenXR."
As title.

The page lacks information regarding how to do this task within OpenXR or even if it is available in OpenXR. I am requesting a SME review to provide instructions on how to do so.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2835e4a7-2f6f-369c-b08b-972435053c80
* Version Independent ID: a08d14d2-e6ec-16ff-c

[2021-08-19 15:53] bphillips09 commented on #401
@rgeorge0706 I'm glad you got it working, although there should be a fix that is implemented. Once I can reproduce, I'll file a PR.

[2021-08-19 15:54] bphillips09 commented on #404
@Morgan-6Freedom Are there any specific errors you are getting?

[2021-08-19 15:55] bphillips09 commented on #406
@RyanJang111 I recall using similar versions as you - I will try to replicate your issue and get back to you.

[2021-08-19 16:17] Morgan-6Freedom commented on #404
@bphillips09 no. The cube does appear in my room, but it is not animated.

[2021-08-19 17:36] WLSmith9386 opened #409 "Code snippet causing errors when implemented"
While using namespaces `Microsoft.MixedReality.SceneUnderstanding` and/or `Microsoft.MixedReality` I am getting an error with the code snippet

[code]

Error is as follows.

error CS0246: The type or namespace name 'SceneUnderstanding' could not be found (are you missing a using directive or an assembly reference?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-08-19 18:07] AMollis opened #410 "This "anchor persistence" page still reference legacy Unity anchor store apis. Needs to be updated for XRSDK"
This "anchor persistence" page still reference legacy Unity anchor store apis.  Needs to be updated for XRSDK.

This pages need to be update to reference the XRSDK apis for persistence ([here](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/spatial-anchors-in-unity?tabs=anchorstore#persistent-world-locking))

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-08-19 18:21] AMollis opened #411 "This page references deprecatednamespace "Microsoft.MixedReality.ARSubsystems". Should reference Microsoft.MixedReality.OpenXR.ARSubsystems"
This page references deprecated namespace "Microsoft.MixedReality.ARSubsystems".   Should reference Microsoft.MixedReality.OpenXR.ARSubsystems.

The sample code under the OpenXR anchor persistence section needs to be updated to reference newer namespaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce23a257-72cf-932

[2021-08-19 20:56] bphillips09 commented on #404
@thmignon Is this documentation still accurate?

[2021-08-23 06:54] #395 closed

[2021-08-23 08:32] young-tae-lim opened #412 "AnchorModuleScript.cs"
Dear all!

I'm still fail to run the ASA tutorial.

Especially, 'Remove Local Anchor'  from the tutorial web page,
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02?tabs=openxr

In 'AnchormodulesScripts.cs', I can't find the two method 'DeleteNativeAnchor() and FindNativeAnchor().' where the RemoveLocalAnchor method on the 193th line references.

[2021-08-24 09:59] ttkrpink opened #414 "Holographic Remoting not working, no error message at all"
After reading various Holographic Remoting docs, it seems a very straightforward process.
On PC: Unity 2020, MRTK 2.7.2, OpenXR Plugin 1.2.8, MRTK OpenXR Plugin 1.0.2.
On Hololens: Holographic Remoting Player v2.6.1.0. And I can open the Hololens portal page from the PC.
Other settings are shown in the attached picture.

Everything seems right.  Hololens "Waiting for Connection on ...", then I cli

[2021-08-24 18:54] elenzil opened #415 "Broken link on MRTK Asset Packages Page"
this page contains the text:

 but the link on "mrtk_release" is https://github.com/Microsoft/MixedRealityToolkit-Unity/tree/mrtk_release, which is 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a32083af-77bd-e53a-c63e-3aefab07a190
* Version Independent ID: 487af5bb-e5f5-849b-7ee7-300a6a3ec761
* Content: [MRTK pac

[2021-08-25 10:13] KenanBektas opened #417 "Adding Multiple Objects to the NetworkRoom"
This tutorial is really useful. Here you describe how to add the RoverExplorer, which is composed of multiple predefined objects, to the shared scene. I wonder whether you can also describe the required steps for adding other objects (e.g., a simple cube etc.) to the PhotonRoom. Kind regards.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-08-27 21:49] Asadkhujaev opened #419 "I`m Animator"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f464b6-99ef-6d78-c30a-4066e9e7a411
* Version Independent ID: 88e27323-63f3-5113-5038-6ee50a606491
* Content: [Get help with PC compatibility - Enthusiast Guide](https://docs.microsoft.com/en-gb/windows/mixed-reality/enthusiast-guide/get-help-with-pc

[2021-08-29 22:15] young-tae-lim commented on #412
From Pacakages>MixedReality>com.microsoft.azure.spatial-anchors-sdk.core-2.10.2>package>Runtime>scripts

I can find CloudNativeAnchor, SpatiaAnhorConfig, SpatialAnchorExtensions, SpatialAnchorManager, UnityDispatcher.cs

[2021-08-29 22:15] #412 closed

[2021-08-30 15:16] Aquila169 opened #420 "OpenXR section appears to reference the wrong Spatial Mesh Observer section for hiding the spatial mesh"
Under [section 4.](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-03?tabs=openxr#4-clone-the-default-spatial-awareness-mesh-observer-profile) for Unity 2020 + OpenXR, the tutorial says to expand the **XR SDK Windows Mixed Reality Spatial Mesh Observer** section, but I think this should be the **OpenXR Spatial Mesh Observer** section, since this is t

[2021-08-31 01:19] ShayneRC opened #421 "Later versions of Unity don't have UnityEngine.XR.WSA.WorldManager."
What do people do for tracking loss for later versions of Unity? Like 2020.3.3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2835e4a7-2f6f-369c-b08b-972435053c80
* Version Independent ID: a08d14d2-e6ec-16ff-cd06-ba76186c634e
* Content: [Tracking loss in Unity - Mixed Reality](https://docs.microsoft.com/en-us/windows/m

[2021-09-01 01:19] satokazu1957 opened #422 "When creating azure anchor, table move from original position to the possible avatar position."
When I started azure session and clicked the "create azure anchor" button, the table went the place where my head (HoloLens) was placed.
It means that when clicking the "create azure anchor" button, the table move from starting point to avatar point.
Is it correct?

1st picture display the test room
2nd picture display the scene of the application starting.
3rd picture display the time of click "c

[2021-09-02 09:32] AlanWeekend opened #423 "Unity2020+OpenXR,After the program runs, can't see any images"
I followed this tutorial and used unity2020 + openxr, and I'm pretty sure I didn't make any mistakes. But after my program runs in hololens, there is nothing, not even a "make with unity" image. But when I use unity 2020 + windows XR, repeat the above operation. The program is executable.

Unity version 2020.3.12f1

MRTK 2.7.2

Hololens2 system version 21h1

windows sdk 19041。

I don't know why th

[2021-09-02 09:33] AlanWeekend commented on #423
the tutorial is https://docs.microsoft.com/zh-cn/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02?tabs=openxr#configuring-the-unity-project

[2021-09-02 13:01] ahmed-saber-gomaa opened #424 "New tutorial is missing Azure part"
I think in your modified tutorial "Getting Started With Azure Spatial Anchors", you skipped the part where you add the ASA packages. It was there in the past. I can't build the project without them.

[2021-09-07 14:42] morrisq opened #425 "AssetSwapUtility not working"
I've followed the instructions on the page, however, the assets (which are just letter models) are not swapping at all. I don't know if it has something to do with my project build settings, my models, or the way the MRTK in the scene is set up, but there aren't any type discrepancies as far as I can tell and this test scene doesn't have a lot of resources so I'm just curious what the issue could

[2021-09-13 22:39] msftradford commented on #424
@ahmed-saber-gomaa, thanks for reaching out! You can follow [these instructions](https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/setup-unity-project?tabs=unity-package-web-ui) to configure your Unity project with ASA.

[2021-09-14 14:55] shrutipistolwala-tech commented on #387
This worked for me you can try : Update ASA Core and for ASA for Windows SDK to 2.10.2 (latest version) using Mixed Reality Feature Tool. If you cant see new versions click refresh in the lower left corner.

[2021-09-15 18:55] qianw211 commented on #419
Hi @Asadkhujaev , what's your question here?

[2021-09-16 05:55] satokazu1957 commented on #387
@shrutipistolwala-tech thanks,
But now I checked the version of ASA core and ASA windows SDK, both were 2.10.2 already, Mixed Reality Feature Tool say.
Azure Spatial Anchors could be created correctly and share on  my Azure by the 1st HoloLens, and the 2nd HoloLens get the Azure Spatial Anchor from my Azure but cannot placed the anchor object to the correct place.
The debug window of the 2nd HoloL

[2021-09-16 07:38] shrutipistolwala-tech commented on #387
@satokazu1957 I would suggest that if this doesn't work redo the tutorial as if you miss any step it will not work otherwise it works fine for me atleast.

[2021-09-16 09:49] SabinMGeorge opened #426 "Training fails"
It seems the sample project's training part work anymore with 6 images.
I get this error from the training post query
$"{resourceBaseEndpoint}/customvision/v3.0/training/projects/{projectId}/train"
{
    "code": "BadRequestDetectionTrainingValidationFailed",
    "message": "Not enough images for training"
}

Could you please verify this?

---
#### Document Details

⚠ *Do not edit this section. It

[2021-09-17 16:22] swhook52 opened #427 "Getting Started Tutorial from HoloLens 2 Emulator Runs in 2D mode"
I'm trying to run the getting started HoloLens 2 tutorial (https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02?tabs=openxr) on the HoloLens 2 emulator 10.0.20348.1018 on Unity 2020.3.18f1 which installs Mixed Reality Toolkit Foundation 2.7.2. The tutorial goes perfectly fine and I can run via Unity without any issue. When I go to build, swap to VS and

[2021-09-21 17:46] swhook52 commented on #427
Just as a follow up on this issue. I got the tutorial functional in the emulator by doing a few things different than the tutorial states:

- Unity build settings set to "USB Device"
- Visual Studio configuration set to x64

Having some of these steps listed in the docs would have been a huge help.

[2021-09-22 22:57] MSDevBD opened #428 "Just4test"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab5ee258-1860-d594-f724-c03ab7a42e13
* Version Independent ID: 2631bca3-660f-7e54-7988-3e74b5765433
* Content: [Using WebXR with Windows Mixed Reality - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/javascript/webxr-ove

[2021-09-24 03:10] SM36 opened #429 "Latest Open XR Preview Extremely Slow FPS in Microsoft Flight Simulator 2020"
The latest Open XR preview associated with 108.2109.10009.0 is extremely slow FPS in Microsoft Flight Simulator 2020 for a high-end system. My test system is an AMD 5800X and a Gigabyte RTX 3090 Gaming OC and get fps in the 20's with it running and double or triple that with it off in VR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-09-25 07:42] CalaW opened #430 "Missing tutorials for HoloLens2 Unity development"
I have tried to access MRTK beginner tutorial to link it to a readme file for my project. However, those tutorials were deleted. Will you bring them back in near future or write a new version of the tutorial?

[2021-09-25 19:08] rgeorge0706 opened #431 "HTTP 404 Error for multiple pages - Integrating Azure Custom Vision - Mixed Reality"
Hi,

I was trying to follow the guides for integrating Azure Custom Vision Services with Hololens 2 but now the pages display a 404 error.  The pages I tried to access are below:
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-azure-01
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-azure-02
https://docs.microsof

[2021-09-26 09:10] brieucdesoutter opened #432 "HoloLens 2 Tutorial Series link in the Unity tab (Choose your engine) is broken"
In https://docs.microsoft.com/en-gb/windows/mixed-reality/develop/choosing-an-engine?tabs=unity
the "HoloLens 2 Tutorial Series" link is broken.

[2021-09-26 14:38] 962557346 opened #433 "Requesting access to Extended Eye Tracking API and enabling the custom capability"
## Describe the problem

Hi! @magdavuko
I'm currently working on a project that requires left and right eye gaze vectors for obtaining eye gaze depth. Current Eye tracking SDK of HoloLens 2 doesn't provide left and right eye gaze vectors, only offering the single (cyclopean) eye gaze direction and hit position.

## Describe the solution you'd like

We found [Extended Eye Tracking SDK](https://gith

[2021-09-26 18:18] cassiussa opened #434 ""Cache references" section could use more caching"
In "Cache references" section, transform should be cached, shouldn't it?

`using UnityEngine;
using System.Collections;

public class ExampleClass : MonoBehaviour
{
    private Camera cam;
    private CustomComponent comp;
    private Transform tf;
    private Transform camTf;

    void Start()
    {
        cam = Camera.main;
        camTf = cam.transform;
        comp = GetComponent<CustomCompon

[2021-09-27 03:17] Crazyhenry123 opened #435 "Azure custom version integration tutorials missing"
I was reading the tutorials for integrating Hololens 2 with Azure custom version services. However, the pages turned to HTTP 404 after weekends. Could your pls check why these pages become missing?

[2021-09-27 03:19] Crazyhenry123 commented on #431
Same problem here. I am learning through these tutorials for our project, these are the best reference which are missing now..

[2021-09-27 13:43] BuzzwordChief opened #436 "ARCapture QRCode doesn't work reliable"
The proposed way to track a QR Code isn't reliable. ARTrackableNotifyComponent::OnUpdateTrackedGeometry sometimes provides a UARTrackedGeometry with a garbage position. When I tried to pin a hologram to a QR Code, using the provided example, the hologram jumped between the expected position, i.e. near the QR Code, and, it seems, the player position in 3D space.

UE: 4.26.2
UXTools: 0.12
Microsoft

[2021-09-27 16:09] WikkidEdd opened #437 "Release notes are not update to date"
The latest Mixed Reality Open XR package via the Mixed Reality Feature Tool is 1.0.3 and this page's release notes haven't been updated since 1.0.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 080a7cf8-61d0-c43d-dec1-8c7e64655687
* Version Independent ID: 87bda3a8-1c05-4a7d-fbc8-180d84276f57
* Content: [Mixed Realit

[2021-09-28 00:18] polar-kev commented on #433
Hi @962557346, I'm closing this issue as a duplicate of https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10230

[2021-09-28 00:18] #433 closed

[2021-09-28 00:27] JPalmerDev opened #438 "Finding Immersive vs Desktop App options"
I have looked through quite a few documentation pages but cannot find the options I'm looking for.
I'm attempting to find the options for configuring to build an app that is able to be immersive OR desktop.
I can't find the toggle options or documentation about them and it feels like this should be somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-09-28 02:07] 962557346 opened #439 "How to get the Signature Hash of the UWP app using SHA-256"
Hi!
I am trying to get a SCCD file for my UWP app using the custom capability. The UWP is generated from the Unity, and I need to deploy the UWP from Visual Studio 2019 to HoloLens 2. [The document](https://docs.microsoft.com/en-us/windows-hardware/drivers/devapps/hardware-support-app--hsa--steps-for-app-developers#contact-the-custom-capability-owner) indicates that I need to gather the PFN (Packa

[2021-10-01 07:41] Ryosuke-Ymd opened #441 "I'd like you to update the Vuforia page."
If you have time leeway, would you mind updating this [page](https://docs.microsoft.com/ja-jp/windows/mixed-reality/develop/unity/vuforia-development-overview) with the latest information?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e8c4dede-5f71-8f1e-41de-0a79174af5ae
* Version Independent ID: d143fd99-178b-e924-5a6c-08729f2d81d0
* Content: [Vufo

[2021-10-01 11:41] BuzzwordChief commented on #436
It seems like that the "garbage position" is always at (0, 11, 11) +- 0.3.

[2021-10-03 16:54] CalaW commented on #430
OK, I see. Now the tutorial pages were redirected to a Microsoft learning called **learn-mrtk-tutorials**. Good job, but hopefully you can do this process at the same time when deleting the tutorial.

[2021-10-03 16:54] #430 closed

[2021-10-05 05:42] Merichbier opened #444 "Wrong documentation"
Documentation states that Unity 2019 or higher is required for the plugin, but `FigmaToolkitWindow.Files.cs` scritps makes use of  `IStyles.textOverflow` which only exists in [Unity 2020](https://docs.unity3d.com/ScriptReference/UIElements.IStyle.html) (see also [Unity 2019](https://docs.unity3d.com/2019.4/Documentation/ScriptReference/UIElements.IStyle.html))

---
#### Document Details

⚠ *Do not

[2021-10-05 16:15] dan-r95 commented on #444
Hey can I have a look at this?

[2021-10-12 16:34] cyr0zn opened #447 "Missing links -> "Be sure to check out the following links for more details on what's under the hood.""
[Enter feedback here]
No said links are present.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4db9ec0f-8219-f292-1ac5-6ca607125b33
* Version Independent ID: a04e35e0-a4a8-2af9-88a7-a5d44f90901b
* Content: [QR codes in Unreal - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unreal/unreal

[2021-10-15 07:46] dudziakl opened #449 "Voice commands listed on this page are wrong because they were automatically translated."
This page contains list of voice commands that were automatically translated and they are wrong. This makes lots of confusion for non English users.

For example "Take a picture" was translated to German to "Bild machen" that is incorrect. "Bild machen" is not working on HoloLens. Correct voice commands are https://docs.microsoft.com/de-de/hololens/hololens-cortana#general-speech-commands and this

[2021-10-31 18:12] icatchx22i opened #454 "Issue fetching Piano mesh file due to CORS"
Followed tutorial but am seeing this in the browser:

Access to XMLHttpRequest at 'https://docs.microsoft.com/windows/mixed-reality/develop/javascript/tutorials/babylonjs-webxr-piano/filespianoFrame.babylon' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
babylon.js:16

Error originates from:
` BABYLON.SceneLoader.Im

[2021-10-31 21:37] JING1201 commented on #454
Thanks for catching this! Feel free to check if the changes in the PR resolves the issue.

[2021-11-02 14:48] greenwoodms06 opened #456 "Tutorial produces on screen warning and does not enable a packaged product"
The steps in this documentation provide the following error when playing in the editor. Also, the article gives the impression that one should be able to package the project (`File>Package Project>Hololens`). It should be more clear that several more steps are required to be able to package an app that can be installed on the Hololens. If possible, it would be great to extend this tutorial to get

[2021-11-02 15:29] greenwoodms06 commented on #456
To remove the `Attempting to start...` portion one must enable the Windows Mixed Reality Plugin (testing on Windows 10).

- Go to `Plugins` and enable `Windows Mixed Reality Plugin` and Restart when prompted.
- Go to `Project Settings` and under `Platforms>Windows Mixed Reality` check `Enable remoting for editor` and then restart.
- Now go back to `Project Settings` and under `Platforms>Windows Mi

[2021-11-03 09:17] darksnakezero opened #459 "MRTK never finishes on "Refreshing catalog""
When starting MRTK v1.0.2109.0 Preview, the start button is greyed out and the status "Refreshing catalog..." never changes.

OS: Windows 10 Home (running in a oracle VM virtualBox) 19043.1288

I did install the .Net 5.0 SKD which includes the runtime.
Internet connection is working, as I submit my bugreport from inside the VM.

I had the same problem running MRTK without a VM and on another inter

[2021-11-03 09:19] darksnakezero commented on #459
This is how it looks:

![grafik](https://user-images.githubusercontent.com/7238894/140035126-6bf07eff-7148-4643-a57b-3584e63c27f5.png)

[2021-11-03 20:51] vtieto commented on #437
Release notes are now up to v. 1.1.1 (10/15/21)

[2021-11-03 20:51] #437 closed

[2021-11-03 20:54] vtieto commented on #432
The links are currently working.

[2021-11-03 20:54] #432 closed

[2021-11-03 22:40] vtieto commented on #431
Those tutorials have been converted to Learn modules. Links have been corrected.

@rgeorge0706
@Crazyhenry123
@Sean-Kerawala

[2021-11-03 22:54] vtieto commented on #447
I updated this document to be more clear about where additional QR code information can be found.

@cyr0zn
@Sean-Kerawala

[2021-11-04 22:36] dylan-fox opened #460 "QR Codes Fail to Scan on App Resume"
I've created an app that includes scanning QR codes to place digital objects.  Unfortunately, after pausing and resuming the app (e.g. for eye calibration or putting the HoloLens 2 to sleep and waking it), the scanning functionality breaks. I'm forced to end the app using the device portal and restart it, at which point the codes scan regularly.

Using:
Unity 2019.4.30f1
Microsoft.MixedReality.QR

[2021-11-05 07:54] darksnakezero commented on #459
Reported this bug directly on the unity MRTK tool page.

Sorry for any inconvenience.

[2021-11-05 07:54] #459 closed

[2021-11-05 16:55] cheles opened #461 "Video not available anymore"
Youtube video shows as "not available anymore".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e9fe050-958c-20e2-e5c6-a87926dc0d95
* Version Independent ID: b60496fb-d44d-aa87-2f49-0e34092f397e
* Content: [Coordinate systems - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/design/coordinate-syst

[2021-11-05 17:18] AMSchuette commented on #422
@satokazu1957 Any luck with this? I'm having the same issue. And when I join the session on another headset, the table stays in the original position and I see the avatar moving around the room relative to the table, not the real world position.

[2021-11-06 00:16] #447 closed

[2021-11-07 22:36] ipeakermit opened #462 "How do you operate gestures in Unreal test view? Link/further info needed. Mouse operation is limited to changing point of view."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64948c36-a709-2c0e-cd20-d8a4794d8162
* Version Independent ID: 75680be0-e419-e56c-bc04-8fbba95e3efc
* Content: [Creating your first HoloLens Unreal application - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unreal/unre

[2021-11-09 02:08] cousinben6 opened #463 "hp reverb g2 with amd gpu error 13-14 fix"
Working around Error 13-14 for amd gpu's

AMD GPU's normally have a maximum data output, and if you are running 2 monitors with 1 being 144hz, or 2 monitors with 1 being 2/3/4k, 90hz full resolution on your hp reverb g2 reads error 13-14

To fix it lower the resolution or refresh rate of your hp reverb-g2 or of your monitors.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-11-09 05:51] satokazu1957 commented on #422
I have no time to update the project, so this problem is still stay at the time.
But someone commented me on other issue, that this problem was not occurred on the MRTK developing team and check the all the step and rebuild the project.
But I don't check this issue.
And this tutorial will be changed ant toolkit may be updated.

I will try again in the near future!

[2021-11-09 05:54] satokazu1957 commented on #387
So I have no time to update my project, I will rebuild my project with new samples in the near furrure!
Thanks!

[2021-11-09 16:16] tos-kamiya opened #464 "More hololens2-friendly sample"
Dear Babylon Team

After A-frame and WebXR, I came to know about Babylon and found this page.
Babylon is impressive, and I got the impression that it is a high-level and easy-to-use library.
However, I was a little curious about the sample in ChuReal that touches a cube.

I tried this sample with Hololens2 and Oculus quest2, and the experience was much smoother with Oculus quest2.

In fact, with t

[2021-11-09 22:43] saurabhsavara opened #465 "AutoScroll Doesnt Work as per the Instructions"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4908a0b5-309a-7413-a581-3e0f2395a46d
* Version Independent ID: b814e24f-e03f-8418-057e-70ee7e9a7f7d
* Content: [Eye Tracking Navigation - Mixed Reality Toolkit](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/input/eye-track

[2021-11-12 18:45] hololensuser opened #468 "Holographic remoting diagnostics logs"
Hi,

Can you please clarify if there is anyway to collect the latency information provided in diagnostics ? I am looking for a way to study the impact of network bandwidth, congestion on the end-to-end latency.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 465515d0-e7cb-b8f4-192c-27684afaaef6
* Version Indepe

[2021-11-12 23:11] julesra opened #469 "Video link is broken"
Right above "Device Support" there's a video but the youtube player says the video doesn't exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e9fe050-958c-20e2-e5c6-a87926dc0d95
* Version Independent ID: b60496fb-d44d-aa87-2f49-0e34092f397e
* Content: [Coordinate systems - Mixed Reality](https://docs.microsoft.com/

[2021-11-12 23:26] julesra opened #470 "Pointer classes image needs to be updated"
The image showing all the different pointer classes is great, but it doesn't fully match what's discussed on this page. For example LinePointer, CurvePointer, SpherePointer aren't in the image but they are listed below the image. It would be great if the image was up to date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-11-14 20:57] BillyJoelsNightmareExplosion opened #471 "Unreal 4.27 support?"
In Unreal 4.27, HP Motion Controller input does not work with the plugin enabled and bindings correctly set in the project settings.

I understand that only 4.26 is listed as being supported, but it seems silly for 4.27 totally unsupported.

are there any plans for official 4.27 support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-11-16 12:09] Sean-Kerawala commented on #469
We have resolved the issue. Thank you for filing this.

[2021-11-16 12:09] #469 closed

[2021-11-16 12:10] Sean-Kerawala commented on #461
We have resolved this issue. Thank you for filing!

[2021-11-16 12:10] #461 closed

[2021-11-18 08:33] FlorianBagarMicrosoft commented on #468
Yes there is.
If you write a custom player (see https://docs.microsoft.com/windows/mixed-reality/develop/native/holographic-remoting-create-player) there is a method called LastFrameStatistics which you can call on m_playerContext. This is what is used by the player from the Microsoft store to collect the data for the diagnostics.

[2021-11-18 15:42] ArthurEmcon opened #472 "Deploying an app to the HoloLens 2 Emulator"
Hi,

I am having trouble to deploy my Unity project to the Hololens 2 Emulator. When I try to follow the step below:

![image](https://user-images.githubusercontent.com/77690649/142446851-74ed4d3c-65b3-4af3-815d-508ae7e70174.png)

What I actually get from the dropdown follows:

![image](https://user-images.githubusercontent.com/77690649/142447337-d501285f-9030-41d2-a61b-8f26bf8b8d7b.png)

The proj

[2021-11-23 17:34] larsville opened #473 "copy edit needed"
Should be:

or some such.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea162663-1580-2d23-4c07-fbd09f1bee9b
* Version Independent ID: a49e7344-f7f6-1dcc-c885-70037966617b
* Content: [What is Mixed Reality? - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/discover/mixed-reality)
* Content Source

[2021-11-23 17:36] pbarnettms commented on #472
You need to set your UWP project as your startup project.  An Il2Cpp project is only a library and you cannot deploy and debug a library.  Right-click on your Universal Windows project and choose "Set as Startup Project"

[2021-11-23 18:35] ArthurEmcon commented on #472
It worked, thank you. But now that the emulator is started, it only shows the apps panel, nothing from the project. Here's a picture:

![image](https://user-images.githubusercontent.com/77690649/143082888-fa41b0b7-4e92-4653-a99c-9e1e33644be0.png)

I have tested if it is an issue with the unity project by executing a default Holographic DirectX 11 App. Most of the time the same thing happens, but i

[2021-11-23 18:56] ArthurEmcon commented on #472
Ok, after waiting some more, it seems that the implementation is slow and the screen above is while it is loading. Now, after waiting for the implementation, the Holographic DirectX 11 App is working, but the Unity Project exits with errors

[2021-11-23 19:34] pbarnettms commented on #472
Please follow up separately on your Unity project errors.  This is not a function of the HoloLens 2 Emulator or Visual Studio, which both appear to be working properly.  The Unity forums and HoloDevelopers on Slack are a couple of resources available to you.

[2021-11-23 19:36] ArthurEmcon commented on #472
Ok I think the issue here is closed then

[2021-11-23 19:36] #472 closed

[2021-11-24 03:21] pig6485 opened #475 "Can MRTK figma bridge use self-made UI?"
I am curious whether this package can connect to custom UI made with Figma through custom map?
If it possible, how should I do this? Could you please add this process to the document?
Thanks!

[2021-11-24 16:28] fullheartgames opened #476 "error C2653: Is not a class or namespace"
This error comes from this part of the Actors cpp when ever I try to package for Hololens

`void AWinrtActor::OpenFileDialogue()
{
#if PLATFORM_HOLOLENS
	HoloLensWinrtDLL::OpenFileDialogue();
#endif
}`

I verified the paths/file exists to the lib and dll in the build script, for some reason the Actor is not finding the class in the dll.

[2021-11-26 10:48] fvbakel opened #477 "The user interface for the hololens simulator can be improved"
The user interface for the hololens simulator can be improved

I have installed the hololens 2 and tried to use this page to see how you can controll the emultor. The user interface for the emulator is not intuative and difficult/imposible to use. For example. When I start the emulator I first get a screen to accept the terms. There seems to be no posiblity to select the accept button. The emulato

[2021-11-29 02:30] Amshu opened #479 "404 on all Session videos from Mixed Reality Dev Days 2020 links"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8688c8ff-81f9-705a-24eb-c255e31c54f8
* Version Independent ID: 915f7e31-a006-a871-de27-14f9f87c3244
* Content: [MRTK-Unity Developer Documentation - Mixed Reality Toolkit](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/?view=mrtkuni

[2021-11-29 17:36] pbarnettms commented on #477
By default the emulator does not make you accept the license agreement.  This happens only if you've explicitly chosen to enable sign-in with a Microsoft Account, which is not the default configuration.  That said, you can turn that option off in the emulator settings o=and use the keyboard to navigate this interface and complete the experience.  Beyond that, this feedback is not constructive and

[2021-11-30 10:44] fvbakel commented on #477
Sorry for my wording, I changed it. I added a recording of the steps.

You mention that the license agreement is not the default behaviour. It could be that on my first attempt used a wrong button because it was so hard to navigate the user interface of the emulator.

[record.zip](https://github.com/MicrosoftDocs/mixed-reality/files/7625034/record.zip)

Is it possible to make the navigation of the

[2021-11-30 11:49] whatever881 opened #480 "Not able to debug in VS - Microsoft.MixedReality.QR.pdb could not be found in the selected paths"
Symbol loading for Microsoft.MixedReality.QR.dll was skipped because it is not specified in the included modules lis
![Capture](https://user-images.githubusercontent.com/95287242/144042149-dedacf7e-b65d-4e4e-b7a7-0af4c761f815.PNG)
t

[2021-11-30 17:19] pbarnettms commented on #477
Mouse input is not supported in the emulator.

To proceed you should either turn off "Sign in with a Microsoft Account" or temporarily turn off "Use keyboard for Simulation" and use the keyboard to navigate and complete the sign-in experience.

[2021-11-30 18:30] polar-kev opened #481 "Billboard script link is broken"
Billboard script link should point to, https://github.com/microsoft/MixedRealityToolkit-Unity/blob/main/Assets/MRTK/SDK/Features/UX/Scripts/Utilities/Billboard.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22fdc83e-ef53-42ff-144f-18ab27b7c0dd
* Version Independent ID: 41703286-ee4b-2b47-da82-ea0bfa121c8d
* Content:

[2021-12-01 13:26] #477 closed

[2021-12-02 00:42] BitterDone opened #482 ""Feedback Hub" doesn't exist in Windows 11"
Unless I did something to disable / uninstall, I have no apps related to "feedback" on my Windows 11 machine.
![image](https://user-images.githubusercontent.com/4481910/144336957-d488e517-b2d5-466b-94fd-a5e84fe4d17b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbb3b0c5-b2d1-a650-8c86-4b21ec8b4d34
* Version Indep

[2021-12-02 00:44] BitterDone commented on #482
I'm trying to submit a bug regarding the MRTK Feature Tool, where the program just doesn't open. I see the spinning mouse icon for a split second, and then nothing.

[2021-12-02 00:45] BitterDone commented on #482
Also it's the current latest version, MixedRealityFeatureTool-1.0.2111.0-Preview

[2021-12-02 00:50] BitterDone commented on #482
Just kidding, either it was originally installed and I removed it, or you have to download it yourself anyway from the Windows Store

Link for other lazies:
https://www.microsoft.com/en-us/p/feedback-hub/9nblggh4r32n

Please update the page to include this link in case others face the same problem

[2021-12-02 19:34] qianw211 commented on #482
Thank you for your feedback! We have added a link to the Windows Store for downloading and install the app.

[2021-12-02 19:34] #482 closed

[2021-12-06 18:54] Eytos opened #483 "Holographic remoting"
Hello everyone,
I'm trying to connect my Hololens 2 remotly with my unity project in order to test my software. I have some issues with that.
First of all I don't understant this part :
![image](https://user-images.githubusercontent.com/91499576/144903566-59f4b53d-0d06-4f52-a016-32219b3b4e87.png)
I don't know if the problem is in my openXr configuration but I don't find precisely the submenu "Open

[2021-12-07 11:22] soshogoh opened #484 "Suggestion for translated Japanese about <Install the tools>"
[Enter feedback here]
Current:
Windows Mixed Reality 開発用の別個の SDK はありません。

Suggestion：
Windows Mixed Reality 開発用の個別の SDK はありません。

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6144653-f7f3-0ad2-5c8f-24310633144a
* Version Independent ID: a810412b-2ff0-29d3-3004-af58ce8c24be
* Content: [Install the tools - Mixed Reality

[2021-12-09 18:47] usmanbinkhalid commented on #422
I am working on the same project. I did everything according to the module. At last, everything seems to work fine until I press the get azure anchors on the other device. It just says setting object to anchor pose with position (XYZ) and rotation(XYZ) but the table anchor doesn't move from its position. However I was able to find something. When you click the GetAzureAnchor button again, the debu

[2021-12-10 13:09] satokazu1957 commented on #422
Sorry but I have no time to update and check about this issue.
I will check and solve this in the near furere.

[2021-12-10 17:03] julesra opened #485 "What is Runtime Spatial Mesh Prefab ?"
In the inspector there is a field called "Runtime Spatial Mesh Prefab" but it is not discussed in the documentation. Is this supposed to be null or not ? What kind of object is supposed to be in there ? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1f3cc-7595-ff5e-ac27-33faaf226ebf
* Version Independent ID:

[2021-12-10 17:08] julesra opened #486 "Would be nice to talk about the other Spatial Awareness settings"
1. In MRTK 2.7.2 there are some default spatial observers: OpenXR, XR SDK Windows, XR SDK (non-windows). It would be good if the documentation explained what's the difference between these.

2. The first screenshot in the documentation is showing the windows spatial observer, but that name doesn't match any of the existing observers in MRTK 2.7.2. Would be good to update to avoid confusion.

3. Wh

[2021-12-10 21:27] srinjoym commented on #483
@Sean-Kerawala We hit these same issues internally trying to setup remoting with a partner. This is the only configuration that worked:

1. The "Holographic Remoting remote app feature group" checkbox should be disabled (not enabled as the docs say)
2. The "Holographic Remoting for Play Mode" feature in the OpenXR tab should be enabled (not in the docs)

[2021-12-14 15:58] pablomz97 opened #487 "Anchor transform not updating with located spatial anchors"
Hi, I am trying to create a collaborative app between two Hololens 2 devices. After following the tutorial, the anchors are correctly stored in Azure Cloud and correctly retrieved, but when the Spatial Anchor is obtained from Azure, it indicates that the anchor has been correctly located, but no changes are made to the transform of the Anchor that should be updated.

I found a similar thread [here

[2021-12-15 09:12] machineroom opened #490 "White paper can't be opened"
[Enter feedback here]
Hi, the page includes a white paper which I'm assuming should be a link. However it's now clickable.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36ce5dc9-69a4-9264-d9ec-fe55866906aa
* Version Independent ID: 36ce5dc9-69a4-9264-d9ec-fe55866906aa
* Content: [How it works - Mixed Reality Capture S

[2021-12-17 15:52] polar-kev commented on #422
@mr0ng, @msftradford, any ideas what's going on here?

[2021-12-17 22:49] julesra opened #493 "Documentation Request: Please describe the Sequence of Events through the Input/Pointers system"
Hi, I am creating custom pointers, and find it would be *super* useful to have a documentation section (or a whole page) describing how gameobject selection is done by Pointers and Pointer Mediators.

For example, what is the sequence of events/objects that are activated when my Hololens2 finger is moved near 3 objects ? I assume there's a sequence starting from the hardware>controller that gets p

[2021-12-17 22:51] julesra opened #494 "Documentation request: Please discuss PointersMediator"
It would be great if this page discussed how PointersMediator ties to pointers (mediation isn't mentioned in this page). Also, when/why should PointerUtils be used for disabling pointers, instead of using a custom PointersMediator ? Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f42a9027-955f-e309-b005-00094d8

[2021-12-23 03:36] lucamorando95 commented on #280
Hi have the same problem of @laultman.
Completely unresponsive app when deployed on hololens.
The app runs because when I ask to toggle menu it works but is three days that I try to acquire data from the real environment for the scene understanding task.
I try every possible  setup configuration but NOTHING.
I’m working with unity 2019 but I tried also with the latest unity 2020.4 and mrtk 2.7.3.

[2021-12-23 21:21] josh-yang92 commented on #401
I was facing the same issue. I also removed Version Control and it works

[2021-12-24 11:41] Shkoda commented on #422
@satokazu1957
i'm experiencing the same issue (unity 2020.3.20f1, ASA SDK 2.11.0, MR OpenXR Version 1.1.2, MRTK 2.7.2)

[2022-01-05 10:18] keli95566 opened #495 "MRTK + Quest2 Does Not Work"
I followed everything in the documentation to setup MRTK for Quest2, however, the controller freezes no matter what I do. Controller tracking and hand tracking works fine for other applications.

I tried both Unity 2019.4+ and 2020.3LTS. I am using Oculus integration 35 and the latest MRTK versions. Would be great if you could update the documentations soon!

![BugMRTK 1](https://user-images.githu

[2022-01-05 15:52] RogPodge commented on #495
Thanks for filing the issue! Can you provide the console logs and video of the controller freeze in action?

An exception has probably been thrown somewhere, causing the controllers to never gain tracking. We haven't seen this behavior before, so to update the documentation, we need to know which step went wrong/which settings we have made assumptions about.

Listing the MRTK version would also be

[2022-01-06 10:33] keli95566 commented on #495
Hi there, thank you for getting back so quickly! Yes, I am using MRTK 2.7.3, the example for hand tracking.
Unfortunately, there was neither no errors, log, warnings thrown went built, nor when running the app.
I also installed [this](https://sidequestvr.com/app/5100/mrtk-samples-with-passthrough-api) app from side quest, the exact same issue happened..

[2022-01-06 17:25] rowvn opened #496 "What is the difference between legacy, conferencing and balancedvideoandphoto for locatable camera?"
__
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e00a8429-0005-e034-541a-4fc30c0cb4c5
* Version Independent ID: e00a8429-0005-e034-541a-4fc30c0cb4c5
* Content: [Locatable camera overview - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/advanced-concepts/locatable-ca

[2022-01-07 00:31] MaxWang-MS commented on #280
Hi @lucamorando95, can you send us a repro project and/or the log of the deployed app on HoloLens?

[2022-01-07 14:48] lucamorando95 commented on #280
Hi MaxWang-MS:

Thank you for your attention. Actually i have resolved the bug. There were some inconsistencies between the version of unity, Visual Studio and the XR plugin Management.
In Every new build Unity generated a IL2CPP error in the executable itself. It was not visible also during the upload of the executable on the HoloLens via Visual Studio.
To find the error i have launch the deploy

[2022-01-12 15:50] a11303 opened #497 "link error"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf19b222-f79a-c16b-ab29-f92c05a14651
* Version Independent ID: bf19b222-f79a-c16b-ab29-f92c05a14651
* Content: [HoloLens Emulator archive - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/advanced-concepts/hololens-emulat

[2022-01-14 08:59] elbuhofantasma opened #498 "Perception Simulation API examples are out of date"
The Perception Simulation API is out of date and contains information for HoloLens 1 and not for HoloLens 2. The code examples are only good for the HoloLens 1 as well, and they should be updated for HoloLens 2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aec8bc9f-8879-7158-99e8-5ae1eeacfd88
* Version Independent ID

[2022-01-14 18:17] pbarnettms commented on #498
The examples are still current for HoloLens 2 and were updated when HoloLens 2 was released.  Please cite specifics if you believe this not to be the case.

[2022-01-15 00:31] elbuhofantasma opened #499 "OpenXR Basic Sample video gives http 404 error"
The OpenXR Basic Sample video overview is showing an http 404 error instead of page with the video.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be7da38f-67f0-9558-e3ec-d1ca87a782e0
* Version Independent ID: 0dc68b17-ee6d-0ae3-31da-792bf0b5deab
* Content: [Getting started with OpenXR - Mixed Reality](https://docs.mic

[2022-01-15 00:40] elbuhofantasma commented on #498
Some of the comments in the extended code sample mention the bloom gesture from HoloLens 1. The picture below shows where these comments are at in the sample. Thank you for responding quickly!
![image](https://user-images.githubusercontent.com/65038391/149601710-d54fc7a4-d384-45f1-8c44-0c5e0a3a7a9a.png)

[2022-01-15 01:05] pbarnettms commented on #498
Thank you.  However, the mention of 'Bloom' in a code comment has no effect on functionality.  The API call is the same for HoloLens 1 and HoloLens 2 and the example remains current.

[2022-01-15 01:05] pbarnettms commented on #498
Thank you.  However, the mention of 'Bloom' in a code comment has no effect on functionality.  The API call is the same for HoloLens 1 and HoloLens 2 and the example remains current.

[2022-01-16 09:39] jelmer3000 opened #500 "Obsolete namespace?"
EDIT:
I now see it mentioned in the top of the article. You can close this.

ORIGINAL:
In [this section ](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/spatial-anchors-in-unity?tabs=worldanchor#persistent-world-locking), under WorldAnchor, the namespace Namespace: UnityEngine.XR.WSA.Persistence is mentioned.
This is obsolete AFAIK. Or at least from Unity 2020 onwards, you pr

[2022-01-16 09:42] #500 closed

[2022-01-16 16:04] jelmer3000 opened #501 "Information is too ambigious"
In the section [Persistence ](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/spatial-anchors-in-unity?tabs=wlt#persistent-world-locking)under the tab "world locking tools" it says that the WorldLockingContext component saves "local spatial anchors". It is unclear what component you mean here. "local spatial anchors" do not exist as a component or any archetype in a Unity/MRTK

[2022-01-21 04:45] Deltajom opened #502 "Missing Video Link for OpenXR Sample App"
Had been looking into possible OpenXR dev paths and found that the video for the XRBasicApp is missing. Image included below.

![OpenXrMissingSampleVideo](https://user-images.githubusercontent.com/30882465/150467292-b90b1ecc-d028-425a-87f9-ba237a15ca62.jpg)

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be7da3

[2022-01-21 05:16] Deltajom commented on #502
Duplicate

[2022-01-21 05:16] #502 closed

[2022-01-21 21:09] istvanContXtual opened #503 "Teleporting w/ RaiseTeleportRequest"
Hi,

Is there a way to teleport or move the camera without the parabolic teleport pointer?

I am trying to create a map or toolbelt based system, where i can just press a button in a ui panel and move the camera top a pre defined location in the world.

Tried CoreServices.TeleportSystem.RaiseTeleportRequest(pointer, teleportHotspot); but does not seem to be working.

Any help/suggestion is much ap

[2022-01-25 22:17] RogPodge commented on #495
Sorry for the late response. We're not quite sure what can be happening.

Can you tell us which profiles you are using? In addition, Can you show us your XRI and other deployment settings?

[2022-01-26 23:08] TheJokingTeen commented on #463
Issue report and workaround for 13-14 error

Let me start off by saying that if manufacturers like HP and software companies like Microsoft say that a GPU is recommended and/or compatible, it should actually WORK. Microsoft has to fix this if they want to keep their word.

Would like to add that it seems some vendor cards of the RX 580 refuse to run (from my testing) the G1 and G2 at 90Hz at all,

[2022-01-27 01:35] vtieto commented on #473
Fixed.

[2022-01-27 01:35] #473 closed

[2022-01-27 09:18] TheJokingTeen opened #505 "Connecting HMD after unplugging the monitor and switching between using both or one of them causes severe stability issues"
Mouse can become unresponsive, headset going into a permanent sleep mode. If selected to wake it rarely responds unless explorer.exe is restarted. WUDFHost stops rendering to headset, but the audio gets sent to the HMD. Mixed reality portal window refuses to close on request.

[2022-01-27 09:29] TheJokingTeen opened #506 "[SteamVR switchover not initialised]"
SteamVR stays running after a HMD disconnect, WMR will not switch to its SteamVR mode even if launched from the apps menu in WMR Portal.

This may be due a problem of handing over access to another Virtual Display Adapter for SteamVR?

If SteamVR is already active WMR portal forces itself on top of it and isn't triggered to switch to SteamVR because the transition into "SteamVR" mode happens when

[2022-01-27 09:33] TheJokingTeen commented on #505
+UI scaling issues and sometimes forced restarts by Windows (I'll try to look in eventvwr if the latter happens again)

[2022-01-27 09:44] TheJokingTeen opened #507 "[Error 13-14 preventing users from using WMR unless having the monitor disconnected even after lowering monitor bandwidth]"
If a monitor is connected even with display set to 640x480@30, Windows Mixed Reality will refuse to run in 90Hz mode and brings up error 13-14 on bootup.
The Graphics Card would in a normal scenario be capable of running Windows Mixed Reality at 90Hz again by lowering display bandwidth, but on some graphics cards WMR refuses to do it at all.

Graphics Cards affected: Select models of the AMD Radeo

[2022-01-27 09:49] TheJokingTeen opened #508 "Severe input lag when using 60Hz mode (Video will be submitted in the coming hours/days)"
Temporary Workaround (tested once): Extend ouput to the third virtual display adapter (Display 4 if using 1 monitor)

[2022-01-27 10:06] TheJokingTeen opened #509 "Controller Gyroscope and Camera algorithm unsynchronized causing loss of tracking."
After swinging the controllers fast in place and then moving them in a certain direction (Video coming)

Tracking to the specific controller this is done on is completely lost for about 3-5 seconds during which the controller can fly into the direction you last moved it in, and then goes to its default (floor) position. When it regains tracking it takes about a second to stabilize its position. If

[2022-01-27 13:56] TheJokingTeen commented on #507
Update: I have identified the cause of this issue, I will report back later when I have time.

[2022-01-29 09:14] arvinkx commented on #487
@pablomz97 I'm experiencing the same issue - were you able to find a solution to this? No matter what - when I run with two Hololens 2 devices, the anchor is not updated to the correct position.

[2022-01-29 12:14] pablomz97 commented on #487
@arvinkx I did not manage to make it work without external tools. I would recommend having a look at World Locking Tools (WLT) which you can use with Azure Spatial Anchors as well ([link](https://microsoft.github.io/MixedReality-WorldLockingTools-Unity/DocGen/Documentation/HowTos/Samples/WLT_ASA_Sample.html)) or depending on your use case a simple Image Target from Vuforia could get the job done (

[2022-01-29 21:20] arvinkx commented on #487
@pablomz97 Thanks, I'll try out WLT in the meantime. @yl-msft Would you be able to provide any kind of update on this or pull in someone who may know more about what's going on with the ASA multi-user sample?

[2022-01-31 15:17] Zylvian opened #510 "Slider doc options do not correlate to options in inspector"
Documented options:
https://gyazo.com/e5cbfc70bec8e0add4fe6c2e1cb5c667

Actual options:
https://gyazo.com/c7587ab5ad15a440fa67a2279f23b771

Furthermore, the SliderExample scene is not added in the MRTK Examples package, and I'm not quite sure where to find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94494374-dad

[2022-01-31 21:10] ThibaultPotier commented on #487
Hi,
I'm having the exact same issue. I'm testing this with two Hololens 2. I followed every instructions very carefully, several times. The Debug.Logs messages seems happy, but position is never changed despite what logs says.
![image](https://user-images.githubusercontent.com/26235591/151871695-5892b274-f62c-418d-bceb-f1bf6dab3ac9.png)

Following the debug.Logs I fell on this line in the AnchorMo

[2022-01-31 21:32] yl-msft commented on #487
Since you called my name, i'm reaching out to the Azure spatial anchor team to find experts on this.  I'm not familiar with this tutorial, but want to ask if you have tried the Azure Spatial anchor sample on GitHub at following link and see if this sample works for you.  Maybe borrow the sample code here:
https://github.com/microsoft/OpenXR-Unity-MixedReality-Samples/tree/main/AzureSpatialAnchorsS

[2022-01-31 21:39] pablomz97 commented on #487
@ThibaultPotier as I mentioned previously if you do not want to rely on a QR code check World Locking Tools, their sample scene with ASA works and syncs up between devices but its a bit laggy when I tried it myself, maybe mess with a smaller implementation based of WLT_min example.

As for this sample itself I tried multiple times as well and while it seemed to pull the anchor correctly the space

[2022-01-31 22:11] arvinkx commented on #487
@yl-msft I did get that sample running but specifically I am looking at this due to its multiuser capabilities, which correct me if I'm wrong, the sample you linked doesn't cover. I also tried WLT with ASA (which is great for a stable coordinate system) but again I don't think multiuser experiences are covered in the WLT samples. As far as I've seen I think this is the only multiuser tutorial that

[2022-02-01 16:53] fast-slow-still commented on #487
@arvinkx , what is the multiuser aspect you're not seeing in the [WLT ASA sample](https://microsoft.github.io/MixedReality-WorldLockingTools-Unity/DocGen/Documentation/HowTos/WLT_ASA.html)? While it could be used to persist a coordinate space on a single device, the intended scenario was more:
1. A "curator" user establishes the registration points (ASA locations) and publishes them to the cloud.

[2022-02-02 05:32] Zylvian commented on #510
Will note that the MRTK Feature Tool was updated and used the day of this issue.

[2022-02-03 03:38] Varnauld commented on #487
Tagging @pamistel for further support here, thank you

[2022-02-07 09:18] RHelmert opened #514 "Locatable Camera Error while in Holograpgic Remoting Mode"
Unity cannot find the camera. Maybe this is because I tried it by Using Holographic remoting (The holographic remoting site is very inconsequent and not really helpful).

Please add to this text that it does not work while using holographic remoting,  or better, add a section on how to use it with holographic remoting.
Only if this is the cause that it does not work.

---
#### Document Details

⚠

[2022-02-10 02:40] arvinkx commented on #487
@pamistel @Varnauld Any chance there are any updates on this?

[2022-02-10 18:12] TheJokingTeen commented on #463
@PRMerger13 Please note for many users this has not been fixed. Monitor allocation with WMR has been broken for a while now, WMRP seems not to decrease monitor resolution at launch of WMR. Even if this is done by the user it often does not work until lowering down to a monitor resolution of 800x600 or even 640x480. This gets even worse when considering a user session reload is often needed (or a r

[2022-02-12 20:03] turkeyl opened #516 ";p[ol[plo"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 8efffb32-238b-b70d-fa66-03356f7e1212
* Version Independent ID: 13718642-c9e3-3aed-f4f1-5a5f53cdf4e5
* Content: [Windows Mixed Reality Setup FAQ - Enthusiast Guide](https://docs.microsoft.com/ar-sa/windows/mixed-reality/enthusiast-guide/wmr-setup-faq#Languages)
* Content So

[2022-02-12 20:04] turkeyl commented on #516
\'\'/

[2022-02-12 20:04] turkeyl commented on #516
'\

[2022-02-12 20:04] turkeyl commented on #516
//?

[2022-02-12 20:04] turkeyl commented on #516
/\

[2022-02-12 20:05] turkeyl commented on #516
|/

[2022-02-12 20:05] #516 closed

[2022-02-12 20:05] turkeyl opened #517 "\"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 542e0b57-5be5-a436-de94-d64865f0a6a2
* Version Independent ID: 06a6194c-d1d8-bc23-ba24-73cea88f78d9
* Content: [Windows Mixed Reality headset health and safety - Enthusiast Guide](https://docs.microsoft.com/ar-sa/windows/mixed-reality/enthusiast-guide/wmr-health-safety-com

[2022-02-12 20:05] turkeyl commented on #517
.././.

[2022-02-12 20:06] turkeyl commented on #517
517

[2022-02-12 20:06] turkeyl commented on #517
.'''''

[2022-02-12 20:06] turkeyl commented on #517
'

[2022-02-12 20:06] turkeyl commented on #517
turkey1

[2022-02-13 17:17] turkeyl opened #518 "IOL'"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 77f464b6-99ef-6d78-c30a-4066e9e7a411
* Version Independent ID: 88e27323-63f3-5113-5038-6ee50a606491
* Content: [Get help with PC compatibility - Enthusiast Guide](https://docs.microsoft.com/ar-sa/windows/mixed-reality/enthusiast-guide/get-help-with-pc-compatibility#WarnBlu

[2022-02-13 17:17] turkeyl opened #519 "IOL'["
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 77f464b6-99ef-6d78-c30a-4066e9e7a411
* Version Independent ID: 88e27323-63f3-5113-5038-6ee50a606491
* Content: [Get help with PC compatibility - Enthusiast Guide](https://docs.microsoft.com/ar-sa/windows/mixed-reality/enthusiast-guide/get-help-with-pc-compatibility#WarnBlu

[2022-02-13 17:17] turkeyl opened #520 "IOL'[["
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 77f464b6-99ef-6d78-c30a-4066e9e7a411
* Version Independent ID: 88e27323-63f3-5113-5038-6ee50a606491
* Content: [Get help with PC compatibility - Enthusiast Guide](https://docs.microsoft.com/ar-sa/windows/mixed-reality/enthusiast-guide/get-help-with-pc-compatibility#WarnBlu

[2022-02-13 17:17] turkeyl commented on #520
';';

[2022-02-13 17:17] turkeyl commented on #520
;'';

[2022-02-13 17:17] turkeyl commented on #520
GOOD

[2022-02-13 17:18] turkeyl commented on #520
MAHK

[2022-02-13 17:18] turkeyl commented on #520
;\
[
]

[2022-02-13 17:18] turkeyl commented on #520
[[

[2022-02-13 17:18] #520 closed

[2022-02-13 17:18] turkeyl commented on #520
G

[2022-02-15 15:55] mhussar opened #521 "Mixed Reality Feature Tool is not launching when I click the exe"
The Mixed Reality Feature Tool is not launching when I click the exe
I installed all the prerequisite files (.net 5 runtime etc)
There should be troubleshooting information on this page for issues like this.
Please help.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a0405e5-aef5-5ed3-d9a1-960b4065300b
* Versi

[2022-02-16 03:04] Varnauld commented on #487
@arvinkx not yet sorry, but our team is looking into this (+@Sean-Kerawala who is reviewing this too)

[2022-02-16 12:34] philkwek opened #522 "Hololens 2 "no available capture devices" & "access violation error" even after following steps exactly as said in document"
As said in the title, Followed the steps shown in document exactly as said. Code runs fine until the OnPhotoModeStarted after starting the photomode. It simply cannot run the TakePhotoAsync function. Currently i think it's because it cannot find the PhotoCapture object, but can't seem to find what could be causing that issue. I've ensured that settings such as the Build settings are set to Hololen

[2022-02-16 14:06] #522 closed

[2022-02-18 21:34] LimingRenPA opened #524 "RestSimulationStreamSink.Create returns"
I have the hololens 2 emulator installed on my WIndows machine. The emulator starts fine and I can access the device portal
![image](https://user-images.githubusercontent.com/74560586/154764097-70196da5-982a-44fd-9a87-71a925f79332.png)

I also installed the emular cert on my host machine.  But the below call fails. Need help to pass this error, thanks

                    sink = await RestSimulati

[2022-02-18 22:02] pbarnettms commented on #524
The emulator's Device Portal is configured for http by default, not https.  Please update the Uri in your code to use http://.   I was able to reproduce the token error when specifying https on the client with the server configured for http and confirmed that the connection was successful when I specified http.

[2022-02-18 22:48] LimingRenPA commented on #524
Tried "http://my_Emulator_IP",  no port,  the below call raise a different exception:

                sink = await RestSimulationStreamSink.Create(
                    // use the IP address for your device/emulator
                    new Uri(@"https://MY_EMULATOR_IP"),
                    new System.Net.NetworkCredential("", ""),
                    true,
                    token); ;
Press any

[2022-02-18 23:03] LimingRenPA commented on #524
Sorry,  I did not edit it correctly when trying to remove my ip address.
This is my code which gives 12029, it breaks in the exception block (12029)
![image](https://user-images.githubusercontent.com/74560586/154772482-87e23658-28b4-471e-ae83-6bf9eef5befc.png)

[2022-02-18 23:09] pbarnettms commented on #524
From where are you getting the emulator's IP address?  Are you using the address from the Tools popup (click >> and go to 'Network') that's listed as "Emulator Adapter #1"?  This should be the same address that shows in your browser address bar when you launch Device Portal from the emulator (using the globe button).  Also, are you running your test code on the same PC as the emulator?  By default

[2022-02-18 23:17] LimingRenPA commented on #524
(1) Same PC, I am running the code from the host PC.
(2) The ip address is from the Device Portal
![image](https://user-images.githubusercontent.com/74560586/154773530-e65407c3-75b9-4193-931e-59cbf70ef10a.png)

[2022-02-19 00:10] pbarnettms commented on #524
The "SSL connection" showing as required is a UI bug in Device Portal.  SSL is not required in the emulator.  I am unable to reproduce your issue, even using the exact same build of the emulator.  I *can* reproduce the "CSRF token invalid" error if I specify https on the client when it shouldn't be, but the connection succeeds when using http.

 What operating system are you using on your desktop/

[2022-02-19 00:17] LimingRenPA commented on #524
Thanks for your help. Did you use the same code RestSimulationStreamSink.Create?

My windows OS:
![image](https://user-images.githubusercontent.com/74560586/154777157-2357e52c-2b0e-44d1-900a-b93e5c74e327.png)
It has all the updates (not win 11):
![image](https://user-images.githubusercontent.com/74560586/154777241-454f3318-ca54-4b22-a56b-434eab9176a1.png)

[2022-02-19 00:35] pbarnettms commented on #524
Yes, I used RestSimulationStreamSink.Create as written in the sample code in the documentation, using my emulator's IP address.  After it successfully connected I allow the sample code to run to completion, which included minimal interactions with the HoloLens, such as hiding and re-displaying the holographic Start menu.

Since it sounds like you toggled at least the SSL connection in Device Porta

[2022-02-19 01:00] LimingRenPA commented on #524
Yes, i did a few times:
(1)  restart &get the new ip address from click >> and go to 'Network') that's listed as "Emulator Adapter @1".
(2) change the ip address in the code.
the code still gives 12029.
I am actually in Redmond, WA.  Is it possible I share my desktop with you sometime next week if I cannot figure out?

Have a great weekend

[2022-02-21 15:32] egvandell opened #525 "Page not being updated"
This page doesn't seem to be getting updated, it references an "upcoming" event that is in the past.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8249a505-fcfc-b123-b391-46365e0f1c34
* Version Independent ID: 8249a505-fcfc-b123-b391-46365e0f1c34
* Content: [Journey into Mixed Reality development (for beginners) - Mix

[2022-02-23 17:49] pbarnettms commented on #524
I'm glad you were able to get it working on other machines.  If you want to get it working on the first machine I'd recommend focusing on the network settings and policies on that machine.  Does it have multiple adapters or special firewall configuration or software not present on the other machines, or a special proxy configuration, for example?

[2022-02-25 19:08] MehranAzimi-msft commented on #487
@arvinkx please see this [related post](https://github.com/Azure/azure-spatial-anchors-samples/issues/307) which I believe has a workaround for the issue you posted.

Note the tutorial page you are using is the MRTK tutorial for adding ASA to an app. ASA SDK does not require using MRTK. Please have a look at our Unity tutorial [here](https://docs.microsoft.com/en-us/azure/spatial-anchors/unity-ove

[2022-02-28 18:28] vtieto commented on #501
Thanks for your feedback! WLT saves and restores the entire global coordinate space relative to the physical world. To restore an object's position in the physical world from a previous session, simply restore the object's pose, just like in non-AR Unity apps and games. Your app doesn't need to interface with spatial anchors or special components at all.

Thanks again for your feedback, the docume

[2022-02-28 18:32] #501 closed

[2022-03-01 23:44] LimingRenPA opened #528 "Perception Simulation for HoloLens 2 ("HTTP request failed: CSRF Token Invalid")"
Background info: We are exploring how to create some automated UI tests for our HoloLens 2 app.

I have a HoloLen2 device which is connected to my PC ( fully updated win 10 pro).  We also enabled Developer Mode on the HoloLens.

The device portal with **https** works fine after downloading the HoloLens certificate (as attached pic).    However with correct HoloLens user name and password,

`RestSi

[2022-03-02 00:22] pbarnettms commented on #528
Hello,

To answer your questions:

1. Yes!  Perception Simulation works with both a physical HoloLens 2 and the HoloLens 2 Emulator.
2. Yes!  It's a great way to create automated tests.
3. It isn't yet clear where the problem is.  Does it work if you specify http instead of https in the connection uri in your code?  Also, which IP address are you using -- the device's WiFi address or the UsbNcm ad

[2022-03-02 01:04] LimingRenPA commented on #528
(1) The call works with  "http://127.0.0.1:10080/" if the device is connected to my PC **using a cable.**

(2) I used the ip address from the hololens' device portal URL, the same IP if I get from HoloLens setting-> Wifi -> Advanced options -> Ip v4 address.
(3) Http gives  error "HTTP request failed: Temporary Redirect".

I got the same error using wither UsbNcm or Wi-fi (device portal->system->n

[2022-03-02 07:23] zorderjohn opened #529 "Eye tracking not working in OpenXR"
I was having a rough time making this to work using MRTK and OpenXR. I solved it using this:

https://localjoost.github.io/Getting-Eye-Tracking-to-work-with-OpenXR-on-HoloLens-2/

The step I was missing and not described anywhere was Adding The "Eye Gaze Interaction Profile" under The OpenXR dialog in Project settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-03-02 19:37] TheJokingTeen commented on #463
Either the issue magically went away, but it seems Settings no longer crashes when looking at Display info for the HMD. Thanks devs! (plz tell me if this was fixed or whether I should doubt my sanity). Other issues here still remain though. The guide for the workaround to the issue is not that reliable and I've found more reliable methods of achieving 90Hz, although they are still very annoying to

[2022-03-02 19:57] sostel opened #530 "Missing info on Dwell page"
[Enter feedback here]
What happened to Eye Gaze & Dwell? What are recommended dwell times? How do dwell times affect user satisfaction and usability?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369d5fce-cef9-e946-4c11-e12ef4ef61fe
* Version Independent ID: 5a1c2b5d-20bf-d316-775a-2c6934033174
* Content: [Dwell - Mix

[2022-03-02 20:45] cre8ivepark commented on #530
The content in this page is old head-gaze + dwell contributed by D365 team.You can find different Eye-gaze and dwell in the concept Docs page. https://docs.microsoft.com/en-us/windows/mixed-reality/design/gaze-and-dwell-eyes Sent from Mail for Windows From: sostelSent: Wednesday, March 2, 2022 11:58 AMTo: MicrosoftDocs/mixed-realityCc: Yoon Park; MentionSubject: [MicrosoftDocs/mixed-reality] Missi

[2022-03-02 21:09] pbarnettms commented on #528
Thank you for the additional details.  I am investigating.  This is expected to work regardless of WiFi or USB.  I hope to have more information in the next 1-2 days.

[2022-03-03 01:20] TheJokingTeen opened #532 "Missing info which HMD's support built in Bluetooth radio"
Various parts of the enthousiast guide such as in controllers-in-wmr.md mention HMD's with integrated bluetooth, but there is no list for consumers to know if their HMD is supported.

[2022-03-03 08:27] pamistel commented on #422
@satokazu1957 , @Shkoda @usmanbinkhalid @AMSchuette

Thanks for pointing this out. We are aware, that there is a bug in this tutorial. While we're ironing this out please use one of the following tutorials:

1. [ASA HoloLens Unity Tutorial](https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app?tabs=azure-portal) with no extras
2. [ASA HoloLens Unity Learn

[2022-03-04 21:48] LimingRenPA opened #534 "Can we use Perception Simulation to send voice input? thanks"

[2022-03-04 22:27] LimingRenPA opened #535 "WIndows license for HoloLens 2 emulator"
Is a windows license needed for using the emulator?  I am getting this page when using HoloLens 2 emulator.

Thanks

![image](https://user-images.githubusercontent.com/74560586/156850201-345d1681-f6ee-4965-aa29-89ab0cfb8c57.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28c84d41-476f-d14d-814c-241283d8aaf4
* Versi

[2022-03-04 22:42] mattwojo opened #536 "Buttons not documented in the Device Portal API"
Redirected from [issue 2572 filed in the Windows apps repo](https://github.com/MicrosoftDocs/windows-uwp/issues/2572) by @[Filimindji](https://github.com/Filimindji).

...referring to this page : https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/device-portal-api-reference#map-manager

and specifically about the **buttons (Reset System Map, Anchors Expor

[2022-03-05 01:52] kedarjoyner opened #537 "404 error for link to "Kinect""
Received a 404 error when clicking on the linked "Kinect" text:
<img width="1253" alt="Screen Shot 2022-03-04 at 7 51 05 PM" src="https://user-images.githubusercontent.com/12139428/156862950-24c2d0c0-ca35-4e42-b1aa-95d4eabcb6fa.png">

Thank you for compiling all of this amazing content! Enjoying learning about mixed reality so far 🎉

[2022-03-06 12:25] TheJokingTeen opened #538 "Request to adress acknowledged (by MSFT) known issue that has been present since 1903 or later. This issue causes GPU link speed to lower on some GPU's"
During Windows Mixed Reality sessions, virtual monitors will appear as generic physical monitors in Settings > System > Display.

This was an issue that was acknowledged by the Microsoft team in this page: https://docs.microsoft.com/en-us/windows/mixed-reality/enthusiast-guide/set-up-windows-mixed-reality.
However, it still hasn't been fixed. I believe this issue causes the 13-14 error for gpu's w

[2022-03-06 12:43] TheJokingTeen commented on #538
Oh yeah, would like to reiterate that the Virtual Displays aren't just seen as monitors by settings, but also by device manager. This isn't just a bug, it's a misimplementation of the drivers.

![afbeelding](https://user-images.githubusercontent.com/48763181/156923600-799bb3bd-0651-459e-bab2-3b3bcca58995.png)

If you're wondering why there's a black bar in the screenshot, that's caused by a Virtua

[2022-03-06 14:34] TheJokingTeen commented on #538
edit: skip and sketch issue still applies, but the pre-allocation doesn't cause monitor link speed to drop

[2022-03-08 19:28] rueilmanzambi opened #539 "Cannot see HoloLens2 system keyboard display pad"
Hello, I am building an app with MRTK in Unity and I am deploying it to the HoloLens 2. I am calling the system keyboard TouchScreenKeyboard, but it is not showing the display pad part of the keyboard, i.e., when I am entering the characters with the system keyboard inside the app, I cannot see what I am typing. I'am using the default keyboard.

[2022-03-08 19:32] rueilmanzambi opened #540 "HoloLens 2 system keyboard key detection"
How to detect a HoloLens2 system keyboard key such as Enter key through C# scripting in Unity-MRTK ?

[2022-03-09 16:39] joellyons opened #541 "Incorrect sentence about ARM dependencies"
"For projects with a hard ARM64 dependent plugin, you may need to continue building your app for ARM."
Shouldn't that say
"For projects with a hard ARM dependent plugin, you may need to continue building your app for ARM."
?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ee0cfd0-8f75-e71c-a947-0f131e360ed5
* Version I

[2022-03-10 12:07] julja94 opened #542 "Object Manipulator Behaviour: Child Game Object does move the parent."
I came across an issue with the Object Manipulator component in my application.
There is parent Game Object with an Object Manipulator script that functions as an origin for multiple other Game Objects, which are instantiated as children. These children have their own Object Manipulator component, that is disabled and only enabled if needed.

Now I want to move the parent (a cube mesh with an Box

[2022-03-10 19:24] LimingRenPA commented on #528
Another issue, after connecting to my REAL HoloLens 2 using "http://127.0.0.1:10080" and run some code to move my right-hand, the HoloLens device stops responding to any hand gestures (even after reboot).

My code:

[code]

and this is what I see, but I cannot enter the pin (Hololens not responding to any hand movements).

![image](https://user-images.githubusercontent.com/74560586/157739103-230e5

[2022-03-10 19:53] typride commented on #542
Thanks, @julja94, for pointing this out. Will get back to you!

[2022-03-10 20:13] pbarnettms commented on #528
This suggests that you left the device in Simulation mode.  Your code should restore the original Control Mode upon exit.  To manually change it, go to the Simulation page in Device Portal and set the Control Mode dropdown to 'Default'.

[2022-03-10 21:47] Zee2 commented on #542
If the parent ObjectManipulator is enabled, it will be triggered by interactions on child colliders. This is generally a Unity behavior wherein collider events bubble up. This is useful in cases where you are building composite collider arrangements built out of many sub-colliders, but can cause problems if/when you have nested interactables.

I would recommend enabling/disabling the collider of t

[2022-03-10 22:26] LimingRenPA commented on #528
You are right, thanks

[2022-03-11 01:06] LimingRenPA commented on #528
We are seeing exceptions after a few tries (the same code and finger press and release,  to a real HoloLens 2 device).

(0) The device is default mode,
(1)  RestSimulationStreamSink.Create works,
(2)  Then any call will generates an exception as in below pic. The exception message is

{"Exception of type 'System.Exception' was thrown."}

and no inner exception.

![image](https://user-images.github

[2022-03-11 11:47] julja94 commented on #542
Hey @Zee2 and @typride ,
thank you for your quick replies.

It is a good idea to disable die collider of the children, if the object ObjectManipulator ist disabled. But the children also have buttons from the MRTK toolbox, which have their own colliders I cannot disable. So now if I interact (far interaction) with a button it unfortunately moves the parent.

My current solution is to disable the p

[2022-03-11 11:47] #542 closed

[2022-03-12 22:56] TheJokingTeen commented on #463
nope still an issue

[2022-03-13 08:11] paulio opened #543 "Simple spelling mistake"
clear the screen *too* black

---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b548ae6-f9c1-f8ac-172b-efc80b7b1d26
* Version Independent ID: b5a2db60-a656-daae-ab4a-c47fda79791c
* Content: [Performance recommendations for Unity - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/perform

[2022-03-14 18:07] typride commented on #534
There is no Simulation API for injecting voice input programmatically in the current public release. That said, the HoloLens 2 Emulator allows using the PC microphone to manually inject voice input, and 3rd party virtual microphone software solutions can be used in an automated manner with the emulator, though we don't recommend any specific software solution.

We can't guarantee the quality or se

[2022-03-14 18:53] #534 closed

[2022-03-14 19:01] typride commented on #543
PR made for spelling update. Will be merged soon.

[2022-03-14 19:01] #543 closed

[2022-03-15 07:41] satokazu1957 commented on #422
I will try these tutorials in the near future.
But I want a tutorial which contains both ASA and Photon. About 2years ago, there was the tutorial which contains both ASA and Photon. I build the project based on that tutorial. I worked good and convenient for use on my business.
Is there any plan to reproduce the tutorial which contains ASA and Photon?

[2022-03-15 21:54] typride commented on #536
Thanks @mattwojo! Upon inspection, it looks like these buttons are documented in the API.

@Filimindji , is this what you're looking for or is there something missing from these?

[Reset System Map under 'Other'](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/advanced-concepts/device-portal-api-reference#other)
`Reset System Map: $.post("/api/holographic/mapmanager/resetmapandancho

[2022-03-15 22:21] typride commented on #535
@LimingRenPA thanks for asking! Which version are you using?

 [HoloLens 2 Emulator (Windows Holographic, version 21H2 March 2022 Update)](https://go.microsoft.com/fwlink/?linkid=2189132).
[HoloLens Emulator (first Gen) and holographic project templates](https://go.microsoft.com/fwlink/?linkid=2065980).

[2022-03-15 22:34] typride commented on #532
Hello! Thanks for your feedback. For your HMD, it would be best to search to see if it has integrated bluetooth then search to see if your motion controllers are compatible with your HMD or another PC/computer.

If you need help setting up your motion controllers with your HMD, this is a good article to start with: https://docs.microsoft.com/en-us/windows/mixed-reality/design/motion-controllers .

[2022-03-15 22:34] #532 closed

[2022-03-15 22:37] typride commented on #528
@LimingRenPA any updates on your end? Were you able to resolve this issue on your own or still need further assistance?

[2022-03-15 22:41] typride commented on #525
The doc has been updated and is continuing to be updated as events pass! Thank you for your feedback.

[2022-03-15 22:41] #525 closed

[2022-03-16 00:00] typride commented on #521
@mhussar thanks for your feedback! I just ran through the directions (installed .NET, and ensured I am running updated Windows 10). It worked on my computer.

Can you confirm that you:

- Are running Windows 10?
- Installed the right version of .NET for your system (Windows   Arm64 | x64 | x86)
- Extracted the folder for the Mixed Reality Feature Tool (unzipped)

Thanks for confirming these things

[2022-03-16 16:52] typride commented on #518
It looks like there was no note entered in this. The Arabic text above says: [اكتب ملاحظاتك هنا] -> [Write your notes here].

[2022-03-16 16:52] #518 closed

[2022-03-16 17:00] typride commented on #519
It looks like there was no note entered in this. The Arabic text above says: [اكتب ملاحظاتك هنا] -> [Write your notes here].

[2022-03-16 17:00] #519 closed

[2022-03-16 17:09] typride commented on #498
@pbarnettms closing this issue. Can reopen if still relevant.

[2022-03-16 17:09] #498 closed

[2022-03-16 17:13] typride commented on #517
Comments are gibberish. Possible injection attempt.

[2022-03-16 17:13] #517 closed

[2022-03-16 17:23] typride commented on #499
Thank you for the feedback! I've removed the link since the video is embedded in the doc and the link just brought you to the github repo unnecessarily.

[2022-03-16 17:23] #499 closed

[2022-03-16 17:23] typride commented on #499
Thank you for the feedback! I've removed the link since the video is embedded in the doc and the link just brought you to the github repo unnecessarily.

[2022-03-16 17:28] typride commented on #460
Thanks @dylan-fox for the feedback!

Sorry for the huge delay on this, but is this still a problem for you?

I can get some assistance for you if the problem is still present. Due to the delay on our side, I just want to be sure that this is still relevant.

[2022-03-16 21:03] #521 closed

[2022-03-16 21:04] typride commented on #535
Closing issue for now. Based on other issues contributed by @LimingRenPA , it seems safe to assume that this issue was resolved and you've moved onto development with your device.

[2022-03-16 21:04] #535 closed

[2022-03-16 22:17] typride commented on #503
Hello! Thanks for reaching out!

Which version of unity are you using? Can you also provide any other relevant info that could help us solve this for you?

[2022-03-17 02:33] Varnauld commented on #422
Hello @satokazu1957 - this is not currently scheduled, but would you mind submitting your suggestion [here ](https://feedback.azure.com/d365community/forum/f47d9b25-0725-ec11-b6e6-000d3a4f07b8) please? We're actively tracking requests for new content or features through that channel, thank you!

[2022-03-17 14:17] TheJokingTeen commented on #532
If the before you buy FAQ has technical specifications, why can't it include bluetooth support info as well? [mixed-reality](https://github.com/MicrosoftDocs/mixed-reality)/[enthusiast-guide](https://github.com/MicrosoftDocs/mixed-reality/tree/docs/enthusiast-guide)/before-you-buy-faqs.md

[2022-03-17 14:19] TheJokingTeen opened #547 "Add indication for dual display model HMD's"
See pull request
https://github.com/MicrosoftDocs/mixed-reality/pull/544

[2022-03-18 07:36] elbuhofantasma opened #549 "Various links in the package contents table are broken"
The following links on this page are broken:

- BuildWindow
- ReserializeAssetsUtility
- ScreenshotUtility
- TextureCombinerWindow
- TestUtilities
- Samples~
- StandardAssets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a32083af-77bd-e53a-c63e-3aefab07a190
* Version Independent ID: 487af5bb-e5f5-849b-7ee7-300a6a3ec76

[2022-03-18 20:29] typride commented on #547
Thanks for your contribution!

[2022-03-18 21:10] typride commented on #494
Hello @julesra thanks for your feedback!

Does this document do what you're describing?
https://github.com/MicrosoftDocs/mixed-reality/blob/docs/mrtk-unity/architecture/controllers-pointers-and-focus.md

It better describes pointer remediation and how it relates to pointer disabling.

As far as I can tell, pointer remediation is best used to automatically activate/deactivate which pointer is in us

[2022-03-18 21:16] typride commented on #510
@RogPodge do you have insight into this discrepancy?

[2022-03-18 21:26] typride commented on #494
Following up: As of now, this is probably the best answer we can give. Though, thanks to your suggestion, I'll update he doc to better highlight the pointer architecture document to help elucidate how PointerRemediator relates to Pointers and when to use them each respectively for activating/deactivating pointers.

Note also that new updates to MRTK will hopefully resolve some of this unnecessary

[2022-03-18 21:26] #494 closed

[2022-03-25 17:56] Regretful123 opened #551 "Fix broken Unity Documentation Link."
One of the Unity's url link is broken. Please use the 2021 version of API documentation instead:
https://docs.unity3d.com/2020.1/Documentation/Manual/MobileOptimizationPracticalGuide.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b548ae6-f9c1-f8ac-172b-efc80b7b1d26
* Version Independent ID: b5a2db60-a656-daae-ab4

[2022-03-30 16:20] LimingRenPA commented on #528
Nothing has changed on my side, thanks.

[2022-03-31 03:41] stormfly97 opened #552 "Issue with Multi-user capabilities tutorials - Connecting multiple users"
[Enter feedback here]

Stuck at this step:
_In the Hierarchy window, expand the NetworkLobby object and select the NetworkRoom child object, then in the Inspector window, locate the Photon Room (Script) component and configure it as follows:

To the Photon User Prefab field, assign the PhotonUser prefab from the Resources folder_

All scripts in MRTK.Tutorials.MultiUserCapabilities are not able to

[2022-04-02 04:15] robgrahamau opened #553 "Error Communicating with the mixed reality openxr service"
No matter what I try and do I can not get the Developer Settings to work in the OpenXr Tools for WMR. I simply get the ERROR COMMUNICATING WITH THE MIXED REALITY OPENXR SERVICE.
However The service is running, shows as running in the windows services list, System status shows that I am running Runtime version 105.2102.11004, API version 1.0.22, Vendor Identifier 0x45e, Shows that XR extensions, et

[2022-04-03 02:11] robgrahamau commented on #553
So a complete reinstall of WMR fixes this but appeared to downgrade me from run time 150.2102.1104 to 110.2202.1002

Is it possible that the issue is related to windows 11's default WMR runtime version?

[2022-04-03 16:21] trnoble opened #554 "Update to include the link to the recorded lecture"
Hello Microsoft Team,

I am trying to view the recorded lectures for Journey into XR development. It appears that someone forgot to update the URL links to the recorded media for episodes 4 and 5. It would be great to continue viewing the whole series. Please address.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-04-04 22:00] AMollis opened #555 "Screenshots contain non-microsoft application names"
The screenshots in this document need to be updated to hide the non-microsoft application names (spector.exe)  or new screenshots need to be captured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b44cc6-3534-3e62-e8db-736bba57b110
* Version Independent ID: d1b44cc6-3534-3e62-e8db-736bba57b110
* Content: [Performanc

[2022-04-04 23:32] TheJokingTeen opened #556 "Broken link for setup for location based entertainment with Windows Mixed Reality"
The link contained in the last entry of version history on [this](https://docs.microsoft.com/en-us/windows/mixed-reality/enthusiast-guide/mixed-reality-software) page, contains a broken link for a page about [setup for location based entertainment with Windows Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-reality/location-based-experiences#setup)

[2022-04-05 06:58] TheJokingTeen opened #557 "Broken link for 3DOF vs 6DOF in before you buy documentation"
This is what it looks like on the page

Read more about 3DOF and 6DOF here: </windows/mixed-reality/enthusiast-guide/tracking-system#what-is-the-difference-between-3dof-and-6dof>

[2022-04-05 08:00] RubenGarcia opened #558 "Affected versions for flickering on Unity + Hololens 2"
[Enter feedback here]

Please change
Please avoid Unity 2020.3.21f and 2020.3.22f,
to
Please avoid Unity 2020.3.21f, 2020.3.22f and 2020.3.23f

The linked bug report
https://github.com/microsoft/MixedRealityToolkit-Unity/issues/10288
indicateds .23f is also affected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8688c

[2022-04-05 16:37] typride commented on #555
Resolved and merged!
https://github.com/typride/mixed-reality-pr/pull/1

[2022-04-05 17:47] typride commented on #503
Closing issue as of now.. @istvanContXtual please feel free to comment or reopen issue if not resolved.

[2022-04-05 17:47] #503 closed

[2022-04-06 06:26] pallavimohansaab commented on #417
Hi! I have the same query. When I add another object in the place of the rover prefab to the Photon Room Script, the rover prefab still turns up. Any leads on integrating custom objects would be great.

[2022-04-06 12:27] JamesBerlins opened #560 "Link not working anymore"
[3.Click + next to On Add Tracked Geometry to add the node to the Event Graph.
You can find the full list of events in the [UARTrackableNotify](https://docs.unrealengine.com/API/Runtime/AugmentedReality/UARTrackableNotifyComponent/index.html) component API.

-> the link is not working anymore -> 404]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-04-07 17:47] typride commented on #560
Thanks!!

[2022-04-07 17:47] #560 closed

[2022-04-07 17:48] typride commented on #560
https://github.com/MicrosoftDocs/mixed-reality/pull/562

[2022-04-07 18:33] typride commented on #551
Thank you! Updated:

https://github.com/MicrosoftDocs/mixed-reality/pull/564

[2022-04-07 18:33] #551 closed

[2022-04-07 21:47] #557 closed

[2022-04-07 22:10] typride commented on #549
Working on this! Thank you for the issue!

[2022-04-08 16:50] typride commented on #554
Episode links are being updated now. As links are acquired, they will be updated. Thank you!

[2022-04-08 16:50] #554 closed

[2022-04-08 17:02] typride commented on #537
Updated the link! Thanks!

[2022-04-08 17:02] #537 closed

[2022-04-08 17:03] typride commented on #537
Also, we very much appreciate your thanks! Very pleasing to know you're enjoying the learning process!

[2022-04-12 06:24] ZelekM opened #568 "Remote rendering app running on XBOX Series X"
Hello,

do you know if it's possible to deploy remote rendering app to the new XBOX (UWP target, built in Unity) and stream the content to Hololens2?

[2022-04-12 19:53] kcovert opened #570 "No Cliff House debugging"
Only HoloLens covered, trying to debug a UWP app using a WMR headset. Attaching to it in Visual Studio not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2154095e-1d68-7c41-a41b-a24a1fc1a984
* Version Independent ID: d677a6ce-d535-92e2-373e-5b504658a50a
* Content: [Updating 2D UWP apps for Windows Mixed Realit

[2022-04-18 21:12] typride commented on #495
@keli95566 Any updates from you that we can use to help you?

[2022-04-18 21:37] #558 closed

[2022-04-18 21:37] typride commented on #558
https://github.com/MicrosoftDocs/mixed-reality-pr/pull/3451

[2022-04-19 09:25] WikkidEdd opened #572 ""See also - How to clear the codes from my app?" links back to itself"
"See also - How to clear the codes from my app?" links back to the section it itself is part of instead of to the article which actually states how to clear the codes from my app.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63e845ae-dbd1-1700-0221-d615ecbd169d
* Version Independent ID: 63e845ae-dbd1-1700-0221-d615ec

[2022-04-20 06:44] RubenGarcia commented on #558
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/choosing-an-engine?tabs=unity
The page still has the old content.

[2022-04-20 15:55] typride commented on #558
@RubenGarcia can you clarify or specify what's out of date?

[2022-04-28 20:00] rowanfr opened #575 "CreateCoordinateSystemForNode Value Range Error"
I'm currently trying to use the "CreateCoordinateSystemForNode" function in the Unity editor using holographic remoting and not the UWP. I'm using code that is modified from the QRTracking/SampleQRCodes repository found here "https://github.com/chgatla-microsoft/QRTracking/tree/master/SampleQRCodes/Assets/Scripts".

The function line that is causing me issues is:
`CoordinateSystem = Microsoft.Wind

[2022-04-29 07:27] RubenGarcia commented on #558
I just checked it again and now all is good, thanks!
Closing.

[2022-05-04 18:57] dsf5644s6sdf opened #578 "OnHandMeshUpdated not triggered"
I'm trying to update my own hand mesh according to:
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/input/hand-tracking?view=mrtkunity-2021-05#hand-mesh-prefab

[code]
![hand-mesh](https://user-images.githubusercontent.com/17873816/166966706-38881114-3158-4b73-86b4-f2a004af184f.png)

However, the method OnHandMeshUpdated(InputEventData<HandMeshInfo> eventData) never trig

[2022-05-04 20:11] dsf5644s6sdf opened #579 "OpenXR Fov in Unity Editor too small for Hololens 2"
I have a problem after switching from Unity integrated XR to Open XR. The Unity Editor FOV 29 deg, although the Hololens 2 FOV is 54 deg. How can I increase the FOV of my Main Camera in Unity so it's the same as the actual Hololens 2 FOV through the visor? The FOV slider doesn't work once connected via Holographic Remoting.

![fov](https://user-images.githubusercontent.com/17873816/166966869-6286c

[2022-05-06 19:17] carllelandtaylor opened #580 "Link to "Using the Mixed Reality OpenXR Plugin for Unity guide" is broken"
The link "Using the Mixed Reality OpenXR Plugin for Unity guide" https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/xr-project-setup is broken -- I get a "404 - Content Not Found"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae640b1-6e0f-bd94-133f-ae39af0d390c
* Version Independent ID: 47d796b6-f4f

[2022-05-09 15:50] cheles commented on #570
this page https://docs.microsoft.com/en-us/windows/mixed-reality/develop/advanced-concepts/using-visual-studio?tabs=hl2#debugging-an-installed-or-running-app contains steps on how to debug UWP for WMR headsets and or emulators

[2022-05-09 16:12] kcovert commented on #570
Thank you, was attaching to the wrong object for sure,

Kirk

From: CCheles ***@***.***>
Sent: Monday, May 9, 2022 11:50 AM
To: MicrosoftDocs/mixed-reality ***@***.***>
Cc: kcovert ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/mixed-reality] No Cliff House debugging (Issue #570)

this page https://docs.microsoft.com/en-us/windows/mixed-reality/develop/advanced-concepts/using-visual

[2022-05-09 18:06] typride commented on #580
https://github.com/MicrosoftDocs/mixed-reality-pr/pull/3506

[2022-05-09 18:06] #580 closed

[2022-05-09 21:21] typride commented on #556
https://github.com/MicrosoftDocs/mixed-reality-pr/pull/3507

[2022-05-09 21:21] #556 closed

[2022-05-09 21:22] typride commented on #570
Closing issue as it seems resolved.

[2022-05-09 21:22] #570 closed

[2022-05-09 22:14] typride commented on #540
https://docs.unity3d.com/ScriptReference/Input.html

[2022-05-09 22:14] #540 closed

[2022-05-09 22:16] TheJokingTeen commented on #556
I don't understand... This link leads to a 404, is it private? Does that mean it's being worked on by the maintainers of the mixed-reality-pr repo?

[2022-05-09 22:19] typride commented on #539
I'm including some relevant documentation here that may assist you.
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/example-scenes/hand-interaction-examples?view=mrtkunity-2021-05
https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/ux-building-blocks/button?view=mrtkunity-2021-05

Note: "..the system keyboard will not show up when performing Unity

[2022-05-09 22:19] #539 closed

[2022-05-09 22:23] typride commented on #530
I believe you're referring to this page? https://docs.microsoft.com/en-us/windows/mixed-reality/design/gaze-and-dwell-eyes

I'll close this for now, as it seems that the topics you're mentioning are mostly covered in that page. Can reopen if this is incorrect!

Thanks!

[2022-05-09 22:23] #530 closed

[2022-05-09 22:33] typride commented on #579
Hello! Does this documentation help you? https://docs.unity3d.com/ScriptReference/Camera-fieldOfView.html

[2022-05-09 22:41] typride commented on #578
Documentation that may assist you: https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/features/input/create-data-provider?view=mrtkunity-2021-05

I'm looking for assistance with this.

[2022-05-09 22:53] typride commented on #536
Closing for now, but can reopen if issue is not resolved.

[2022-05-09 22:53] #536 closed

[2022-05-09 22:57] typride commented on #497
Link fixed

[2022-05-09 22:57] #497 closed

[2022-05-09 23:12] typride commented on #568
At the moment, I'm not aware of this being possible and don't think we have documentation on this scenario. Can you elaborate? You'd like to deploy a remote rendering app to the Xbox Series X? Are you thinking of Azure remote rendering?

[2022-05-09 23:26] brycehutchings commented on #553
Sorry to hear about your problems with the service, but glad it is working now. 110 is our most recent release. It sounds like you previously had 105 rather than 150, so you should be in good shape now.

[2022-05-10 08:50] ZelekM commented on #568
Thanks for the response.
I am using remote rendering from my local PC to Hololens 2. I think it's called Holographic Remoting.
[Microsoft Docs](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/native/holographic-remoting-overview)

My unity project can be deployed as a UWP app and run on my PC where I specify the IP address of Hololens 2. I've read here [github.com/microsoft/MixedRea