[2020-08-05 14:00] CLHL2727 opened #2 "HoloLens 2 Ue4 Remoting issues"
I'm currently remoting a Ue4 application with the HoloLens 2 using the built in Ue4 connection with Holographic remoting. I have a router that I'm using so that my laptop and HoloLens are on the same network, and start the remoting about 5ish feet from the router itself. I notice that if I walk to far away from the router my quality drops both visually and in terms of my line-casts coming from my

[2020-08-06 13:53] #2 closed

[2020-08-06 19:15] ailyadis opened #5 "Image"
![image](https://user-images.githubusercontent.com/45470042/89572804-a5656100-d7f7-11ea-8ce1-b5eabcb0479f.png)

[2020-08-06 19:18] ailyadis commented on #5
![image](https://user-images.githubusercontent.com/45470042/89573103-173daa80-d7f8-11ea-9284-931a7b6c913d.png)

[2020-08-06 22:53] tmlyon opened #7 "Incomplete set of latest voice commands"
It looks like the dev docs haven't been updated with the latest set of system voice commands from the 20H1 release documented here: https://docs.microsoft.com/en-us/hololens/hololens-cortana

This could cause issues for developers because the system commands are reserved from apps being able to use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-08-12 20:05] #5 closed

[2020-08-14 13:30] Arundelain opened #11 "Click eye for Rover Assembly not Rover Explorer"
Your document says:
To make it easier to work with your scene, in the Hierarchy window, click the eye icon to the left of the object to toggle the scene visibility for the **RoverExplorer** object off. This hides the object in the Scene window without changing its in-game visibility:

This makes everything invisible even the parts that you are manipulating. It should say:
To make it easier to work

[2020-08-14 13:46] Arundelain opened #12 "Indicator only works once"
Could you update the tutorial to make it so the indicator works more than once? When you look away the first time, the indicator is visible however, when you glance back at the explorer, the indicator becomes invisible but never turns visible again when you glance away again.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-08-14 17:53] hferrone commented on #12
@mr0ng @martinwilter Can you assist?

[2020-08-14 17:54] hferrone commented on #11
@mr0ng @martinwilter Is this correct?

[2020-08-14 20:35] hferrone commented on #7
@Hak0n Can you weigh in?

[2020-08-14 20:37] tmlyon commented on #7
@hferrone Hakon is on a different team now, and I'm the subject matter expert for the voice commands.

[2020-08-14 20:39] hferrone commented on #7
@tmlyon Great! What specific changes would you like me to make to the voice-input.md file?

[2020-08-15 01:36] hwinstonuconn opened #13 "Possible Typo"
[Enter feedback here]
The instructions on this page direct the student to add a second On Placing Started () event. However, the associated screen shot shows the creation of a On Placing Stopped () event. Which is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d5ccf2-6270-b146-f5ca-3da70c886028
* Version Independ

[2020-08-16 17:33] laultman opened #14 "The examples do not work as described."
The documentation is out of date, wrong, or incomplete. Cannot make the simplest action work as described in this document. This is true of practically all the Unity and MRTK documentation. Go ahead as usual and close the ticket, not enough information is provided. I cannot explain more. Get a new computer, install all the software recommended. Follow the instructions, when you get a working examp

[2020-08-16 19:40] hferrone commented on #14
Hi @laultman, we're currently going through a complete Unity + MRTK documentation overhaul. As to closing the tickets, I left the main one open so our team could keep a channel of communication open with you and closed the rest of them because they were duplicate or adjacent issues. We appreciate your patience as we update our documentation.

[2020-08-17 15:23] hferrone commented on #7
@tmlyon Following up :)

[2020-08-17 15:24] hferrone commented on #11
@mr0ng @martinwilter Following up :)

[2020-08-17 15:24] hferrone commented on #12
@mr0ng @martinwilter Following up :)

[2020-08-17 15:25] hferrone commented on #13
@mr0ng @martinwilter Can you weigh in on this?

[2020-08-17 18:22] martinwilter commented on #13
@hwinstonuconn, this is a typo and the image is correct, an On Placing Stopped () event should be added, not a second On Placing Started () event. Thanks for pointing this out!

@hferrone we will make a PR for this shortly.

[2020-08-17 18:24] martinwilter commented on #11
@Arundelain, thanks for pointing out this typo.

@hferrone, we will make a PR for this issue shortly.

[2020-08-17 18:33] tmlyon commented on #7
Hey @hferrone, it looks like the page has actually been updated with the ones that were missing now (photo/video capture). It would be good to add a link to this other page though (https://docs.microsoft.com/en-us/hololens/hololens-cortana) at the end of the voice command list, because I don't think these dev docs are guaranteed to be localized correctly, and the voice commands have to match what

[2020-08-17 18:48] martinwilter commented on #12
@Arundelain, sorry about this!

Quick fix: Remove the Directional Indicator Controller (Script) component, and it should work as expected.

__

The root of the issue:

In the tutorial 5. Creating dynamic content using Solvers > [Using the Directional Indicator Solver to direct the user to objects](https://docs.microsoft.com/en-us/windows/mixed-reality/mr-learning-base-05#using-the-directional-indi

[2020-08-17 19:01] hferrone commented on #7
@tmlyon Will do, i'll be making this update in the private repo and closing this issue here. Thanks so much!

[2020-08-17 19:01] #7 closed

[2020-08-19 22:38] Brayinja opened #17 "I encountered just 1 problem during this section of the tutorial. AMAZING TUTORIAL BTW"
I wasn't able to select Default Whiteking on the Reset Button after adding it to the scene, this was because at the blueprint of the Reset Button the WhiteKing variable was not public, to avoid other people encountering this problem, you should remember at the tutorial to mark the variable as public 😄

Besides that, this guide is awesome! 😃

![image](https://user-images.githubusercontent.com/27258

[2020-08-20 20:44] #17 closed

[2020-08-21 08:29] nooxouille opened #20 ""NotImplementedException" from OwnershipHandler.cs"
Hi there! From [Multi-user capabilities got a "NotImplementedException" #8311](https://github.com/microsoft/MixedRealityToolkit-Unity/issues/8311), filling something here as the  issue is related to the tutorial :)

As explained in the MRTK issue, I was wondering the reason behind the "throw new NotImplementedException() " inside OnInputUp(), OnOwnershipTransfered() and OnTriggerExit() as it fire

[2020-08-24 11:27] kkroesl opened #21 "Deploying to Hololens 2 might need different settings (when deploying over wifi)"
"Configure Visual Studio for HoloLens by selecting the Master or Release configuration, the ARM64 architecture, and Device as target" <- this only works when your Hololens is connected to your PC via USB AND you are also able to access it via the device portal by opening https://127.0.0.1:10080 in your browser.
However, this (for some reason) often does not work (I, for example currently get the f

[2020-08-24 16:24] evmill commented on #21
@hferrone The suggested text is accurate and informative, can we include it? I also think the image is very helpful.

[2020-08-24 17:56] hferrone commented on #20
@mr0ng @martinwilter Can you confirm?

[2020-08-24 20:56] Sean-Kerawala opened #22 "MSBuild for Unity Support"
MSBuild for Unity Support is not visible on the users screen in Step 2, but is an option we see in Unity today for the MRTK config settings. Can you please add this so folks have certainty about project initialization? The blurb in the settings pane calls out this as enabling additional HL2 features such as hand joint remoting and depth LSR mode. @martinwilter

---
#### Document Details

⚠ *Do not

[2020-08-24 22:00] #11 closed

[2020-08-24 22:07] #12 closed

[2020-08-24 22:08] #13 closed

[2020-08-24 22:18] hferrone commented on #21
Absolutely, this is going up in an update tonight!

[2020-08-24 22:18] #21 closed

[2020-08-25 23:06] martinwilter commented on #22
Hi @Sean-Kerawala,

As stated in the [Introduction](https://docs.microsoft.com/en-us/windows/mixed-reality/mr-learning-base-01), these tutorials are for Unity 2019.3:

![image](https://user-images.githubusercontent.com/16746283/91236009-b95ffc80-e6eb-11ea-972c-842ce8165a3e.png)
<br><br>

The MRTK Project Configurator [does not show 'Enable MSBuild for Unit'](https://microsoft.github.io/MixedRealit

[2020-08-25 23:24] martinwilter commented on #20
Hi @nooxouille,

Sorry for the confusion. Those are required delegate members that are not used in the project, you can comment out the body like you already did.

@hferrone, this shouldn't prevent users from running the completed app, but I can see how it is confusing. I will update the tutorial assets later this week.

CC @mr0ng

[2020-08-26 07:25] nooxouille commented on #20
@martinwilter Thank you for the clarification. It is indeed confusing as the error prevent the compilation and therefore, to run the samples.

[2020-08-28 03:42] LVEstela opened #23 "RoverAssembly Disappears When I Move It"
FIrst up, the tutorials are great, really clear and easy to follow. Thank you for being so thorough with them.

I'm up to the point though, where I'm testing taptoplace in the Hololens2 and every time I tap to grab the RoverAssembly, I can pick it up and move it slightly, but then it just disappears without me having done the second tap. Testing in the game panel in Unity it works just as expected

[2020-08-28 16:22] hferrone commented on #23
Hi @LVEstela, thanks for the kudos! Can you tell me what version of Unity you're using? I'm pinging @martinwilter to assist :)

[2020-08-28 16:23] #22 closed

[2020-08-28 16:23] hferrone commented on #20
@martinwilter Did this get updated?

[2020-08-28 17:49] martinwilter commented on #23
Hi @LVEstela,

Glad to hear the tutorials are helpful :)

While debugging/trying to fix this issue, I recommend making the spatial mesh visible. You can follow the [5. Change the visibility of the spatial awareness mesh](https://docs.microsoft.com/en-us/windows/mixed-reality/mr-learning-base-03#5-change-the-visibility-of-the-spatial-awareness-mesh) instructions, but set the Display Option to Visib

[2020-08-28 17:51] martinwilter commented on #20
@hferrone, I should be able to get this done today, I'll ping you here once the patch has been released.

[2020-08-28 21:04] LVEstela commented on #23
Hi Harrison and Martin,

Thanks for your very speedy response. I'm using Unity 2019.4.4f1 with the
latest MRTK 2.4.0 and Visual Studio 2019 Version 16.7.2 and I have a
Hololens2

I had already had the spatial mesh visible (I had gone back and switched
that so I could see where it might be going), and I disabled the Graphics
Jobs but it still disappeared. Because it's really early in the
morning he

[2020-08-29 01:05] martinwilter commented on #20
@hferrone, the asset has been updated.

@nooxouille, just as an FYI, the reason your testing in the Unity editor was interrupted by the 'NotImplementedException' logs is because you had 'Error Pause' enabled, you can toggle it on/off by clicking the button in the Console window. Anyway, it's best without those appearing in the console logs, so thanks for pointing this out.

[2020-08-29 20:36] martinwilter commented on #23
Hi @LVEstela,

Thanks for reporting back with details. Great to hear targeting ARM instead of ARM64 worked out.
<br>

ARM64 to ARM? I'm pretty new to Unity and Hololens development (I somehow
managed to stumble my way into a prototype with the Speech Pathology
Department at a Uni in Sydney) so I'm still getting my head around the
compile settings so I apologize if this is a stupid question.

As fa

[2020-08-30 11:00] nooxouille commented on #20
Oh! Thx for the tip! Always happy to help :)

[2020-08-31 11:40] AMX07 opened #26 "provided link to the paper isn't working"
[Enter feedback here]
the link provided at line# 314 of the webpage under[https://docs.microsoft.com/en-us/windows/mixed-reality/mixed-reality](url) <p> tag which is :-
`<a href="https://etclab.mie.utoronto.ca/people/paul_dir/IEICE94/ieice.html" data-linktype="external">A Taxonomy of Mixed Reality Visual Displays</a>`  links to the web page (https://etclab.mie.utoronto.ca/people/paul_dir/IEICE94/i

[2020-08-31 19:35] MSDNAndi opened #27 "Documentation inconsistent with HL1 emulator requirements"
The installer of the HL1 emulator currently requires VS2017 to successfully complete if you do a complete install or want to install the templates. The documentation does not mention this and only requires VS2019.
Please either fix the installer or update the documentation to clarify that to install the HL1 emulator with Visual Studio 2019 you need to deselect the VS templates and manually add the

[2020-09-01 02:57] XiangGuo1992 opened #28 "Failed to connect with Azure Storage."
Hi,

When I tried to run the example in this page at 'Writing and reading data from Azure Table storage', I can run the app in the Unity with the Connection String (Azure storage can update the objects). However, when I deployed the app to HoloLens 2, there is an error, 'Failed to connect with Azure Storage. If you are running with the default storage emulator configuration, please make sure you h

[2020-09-01 10:44] cheles opened #29 "Outdated images/info"
[Enter feedback here]
We should take more info and images from this [doc](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/device-portal#performance-tracing) or just retire this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e0e5f1-b23b-4909-c1ba-6dba39174d30
* Version Independent ID: b0a8777f-e04e-b

[2020-09-01 17:17] StarWardo opened #31 "Example code in c++"
Could we get an example of how to scan a QR code and get the info from the code in C#?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6572ea07-1ad5-ef4e-72de-e3f5f7e2b086
* Version Independent ID: f8a7b6db-5cd3-b895-0e5f-b079b60b8394
* Content: [QR code tracking - Mixed Reality](https://docs.microsoft.com/en-us

[2020-09-02 18:45] #14 closed

[2020-09-02 18:46] hferrone commented on #26
@BrandonBray @cre8ivepark @jessemcculloch Any ideas on how we can get the correct link?

[2020-09-02 18:47] hferrone commented on #27
@thetuvix @polar-kev Can you confirm and assist?

[2020-09-02 18:48] hferrone commented on #28
@jessemcculloch Who can we point this to?

[2020-09-02 18:49] hferrone commented on #31
@jessemcculloch Who could we bring in for this?

[2020-09-02 23:16] laultman opened #33 "Broken link to examples."
Broken link: https://github.com/microsoft/MixedRealityToolkit-Unity/blob/mrtk_development/Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scenes/SurfaceMagnetismSpatialAwarenessExample.unity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8600c8a4-e7b8-288d-9481-7ab90dae39d4
* Version Independent ID: 25a6ae27-ac69-b29

[2020-09-02 23:18] laultman opened #34 "Page links to self"
Page links to itself. https://docs.microsoft.com/en-us/windows/mixed-reality/surface-magnetism

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8600c8a4-e7b8-288d-9481-7ab90dae39d4
* Version Independent ID: 25a6ae27-ac69-b292-3994-6c9126ab54bc
* Content: [Surface magnetism - Mixed Reality](https://docs.microsoft.com/en-u

[2020-09-03 04:09] AMX07 commented on #26
I found this online `https://search.ieice.org/bin/summary.php?id=e77-d_12_1321`

[2020-09-03 12:34] WikkidEdd opened #35 ""Unity Sample Page" links to deprecated git repo"
When you click the link to "Unity Sample Page" towards the bottom of the page it takes you to

https://github.com/sceneunderstanding-microsoft/unitysample

Which says the repo has moved to https://github.com/microsoft/MixedReality-SceneUnderstanding-Samples

The link the docs should be updated to new repo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-09-03 21:08] hferrone commented on #26
Thanks for finding this!

[2020-09-03 21:48] #26 closed

[2020-09-03 21:48] hferrone commented on #29
@cre8ivepark Can you assist?

[2020-09-03 21:52] hferrone commented on #34
Thanks @laultman!

[2020-09-03 21:52] #35 closed

[2020-09-03 21:52] #23 closed

[2020-09-03 22:47] hferrone commented on #33
Thanks for catching this @laultman - here is the link: https://github.com/microsoft/MixedRealityToolkit-Unity/blob/mrtk_development/Assets/MRTK/Examples/Demos/Solvers/Scenes/SurfaceMagnetismSpatialAwarenessExample.unity.

The docs will be updated later today.

[2020-09-03 22:48] #33 closed

[2020-09-04 19:09] nra20 opened #36 "Failed to connect to Azure storage on Hololens2 device"
[Enter feedback here]
Good afternoon,

I was following the Azure storage tutorial and was able to run the app in the Unity Editor just fine, but when I deployed it to the app and attempted to set an object I was met with this error:
'Failed to connect with Azure Storage. If you are running with the default storage emulator configuration, please make sure you have started the storage emulator.'

Is

[2020-09-07 08:46] camnewnham opened #37 "QR codes with Logos documentation"
Not sure if this is sufficient enough information to add to the docs, but the current documentation states _"QR codes with logos have not been tested and are currently unsupported."_

I have tested this feature with QR codes partially obscured i.e. a normal code with a logo, other image, or general obstruction placed over the center. The feature was tested with the sample project from @chgatla-mic

[2020-09-08 22:15] HugoCortell opened #38 "Recognizer remains active accross scenes."
Good day, I have made an implementation of this for my game and found that the script remains active even when changing level, is there any way to lock the recognizer to the scene?
https://github.com/LightBuzz/Speech-Recognition-Unity/issues/4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82198416-51fc-bc46-239d-42d78

[2020-09-09 01:32] #38 closed

[2020-09-09 17:15] kpiascik opened #39 "Missing React-Native development frameworks"
The document can include http://components.magicscript.org/ which is a React-Native based framework which runs on ARKit and ARCore.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df6195f5-7d86-8bf3-a472-116c74f435d5
* Version Independent ID: 9355d0d1-71dd-75b8-ea8e-181d5f0133c4
* Content: [JavaScript Development Overvie

[2020-09-09 18:00] ckskylight opened #40 "Missing Capability Check"
Hi! I followed these instructions and they were great, but sadly they did not work because of missing capabilities, which resulted in several hours of debugging. Users following these instructions should know that they need to set

1. Internet (Client and Server)
2. Private Networks (Client and Server)

Also another issue is that when I set these in Unity under Player settings, they didn't not tra

[2020-09-09 21:18] hferrone commented on #27
@thetuvix @polar-kev Checking in on this one

[2020-09-09 21:18] hferrone commented on #28
@martinwilter Have you run into this before?

[2020-09-09 21:21] hferrone commented on #37
@chgatla-microsoft Can you confirm?

[2020-09-09 21:21] hferrone commented on #39
@thetuvix Can you confirm and let me know where this would go?

[2020-09-09 21:22] hferrone commented on #40
@martinwilter This seems like an issue with the tutorials, can you confirm?

[2020-09-09 21:34] chgatla-microsoft commented on #37
Even though certain logos work not all logos might work. Currently the platform does not support the logo QR codes. But nothing is preventing users to try out and see what works for them but they are not officially surported.

[2020-09-09 21:36] #37 closed

[2020-09-10 01:05] martinwilter commented on #40
Hi @hferrone,

I'm not familiar with this tutorial, but my guess is:

- Internet (Client and Server) capabilities are not needed, probably the desktop app connects to HL app over wifi?
- Private Networks (Client and Server) capabilities are not related to the the tutorial, but depends on local environment:

Personally, I've never seen those capabilities not being transferred to VS, I remember eye

[2020-09-10 01:17] martinwilter commented on #28
Hi @hferrone,

Unfortunately, I'm not familiar with this tutorial series... would love to go through the tutorials, but time is an issue :) For future reference, I'm familiar with the following tutorial series:

- [Getting started tutorials](https://docs.microsoft.com/en-us/windows/mixed-reality/mr-learning-base-01)
- [Azure Spatial Anchors tutorials](https://docs.microsoft.com/en-us/windows/mixed

[2020-09-10 04:27] ckskylight commented on #40
@martinwilter

The tutorial is explicitly for connecting to HL over wifi to stream frames so internet capabilities are 100% needed. This is what it says on the tutorial: "_In this section, you will configure your project to stream your Mixed Reality experience to your HoloLens 2 device from your PC in real-time over a Wi-Fi connection_"

I was doing this on my home network, which I guess falls und

[2020-09-10 17:27] martinwilter commented on #40
Thanks for the additional information, @ckskylight. I've notified the tutorial creators so they can take a look at this.

[2020-09-11 00:32] Yonet commented on #39
@hferrone I can add that under JavaScript. @kpiascik do you have any specific tutorial that you would like to share?

[2020-09-11 21:45] iambetterthanyou opened #42 "this documentation is bad."
[Enter feedback here]

So frankly, this sucks.

You have strung along 30 different code strings, tiny applications and a crap ton of documentation for people to sift through to make thier $3000 AR headset work. This culture of github sucks and frankly a s a business professional, the last thing i want to go do is sit on a forum. Make this work with one package. These instructions are very vague an

[2020-09-11 23:24] iambetterthanyou opened #43 "says nothing about running the app."
[So, this document outlines NOTHING about how to run the app you just produced. It does not say, the app pops up in front of you or that you have to open it, or anything like that.  ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62d386bb-3f93-d434-e7b3-28c58ea673e9
* Version Independent ID: a1a9b02f-66a0-feb0-7a08-9a

[2020-09-12 11:20] enniobolondi opened #44 "XR Legacy Input Helpers 2.1.4 instead of Legacy Input Helpers 2.1.4"
Dear MicrosoftDocs,
at the begin of the page you ask to install "Legacy Input Helpers 2.1.4" but actually I can only see listed another one called "XR Legacy Input Helpers 2.1.4".
I guess this is the valid name.
Thanks for the attention.
Regards
Ennio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 582e33a2-4681-efd2-2c

[2020-09-14 12:26] Dimoki opened #45 "Missing information about Source Code Editor could lead to Error while packaging."
Hey!

Keep in mind that you have to select Visual Studio 2019 for your Source Code Editor, if you have UE already installed with another Editor.

Otherwise there will be an error while packaging!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41c8f2c0-77cc-9ae9-562d-16d163dff85f
* Version Independent ID: 3e0c6539-52e5-

[2020-09-14 23:38] polar-kev opened #46 "Incorrect function in Tap To Place script instructions"
When setting up the Tap To Place button, the instructions guide you through modifying the Tap To Place Script attached to the RoverAssembly. The instructions lead you to set up the wrong function. The image that accompanies this text is correct.

The instructions should say, "On Placing Stopped () event", otherwise the Tap To Place button will not work as described.

![image](https://user-images.g

[2020-09-15 00:47] polar-kev opened #47 "Incorrect Prerequisite for Azure Spatial Anchors tutorial"
One of the prerequisites for the Azure Spatial Anchors tutorial is having already completed the tutorial,
"Completed the Azure Spatial Anchors tutorials series or previous experience creating an Azure Spatial Anchors Account"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac1ea94b-b404-f850-b60c-4f9a5cc60906
* Version

[2020-09-15 13:35] Samvid95 opened #48 "In my Hololens 2, Developer Mode option is grayed out and I am not able to turn it on. Will need more clarification."
So I have received Hololens 2 from a friend and I noticed my Developer Mode option is grayed out and I am unable to turn it on. I stumbled upon this documentation but unfortunately there isn't useful information available for that case. We will need to add appropriate steps to solve the issue.

Best,
Samvid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-09-15 15:06] evmill commented on #48
Hello Samvid,
Sometimes when using a work account / work device you'll receive device management policies. If you see some words along the lines of "some settings are managed by your organization" then they have likely disabled Developer Mode for security reasons.

There's also a chance you may need to be the "device owner" to enable Developer Mode. I'm not sure. In either case you can always [ref

[2020-09-15 16:00] #36 closed

[2020-09-15 16:00] nra20 commented on #36
Hi @hferrone  thank you for the reply. Was anyone able to figure out why this error occurs?

Best,
Nick

[2020-09-16 22:00] varunsiddaraju commented on #40
Hi @hferrone,

We have checked this issue and we need to add the below details on "Build details" sections of the tutorial.

"In the Project Settings window, expand the Publishing Settings, scroll down to the Capabilities section and check the below-shown capability checkbox in addition to the existing capabilities:
•	Internet Clint server
•	Private Network Client Server
"

[2020-09-17 02:18] polar-kev opened #51 "LUIS app creation UI has changed, instructions do not match UI"
The luis.ai webpage UI has changed and there are now options that don't match with what the user is instructed to do.

Old UI for app creation
![image](https://user-images.githubusercontent.com/30964480/93411973-21b87e80-f851-11ea-9dc6-15762c12365b.png)

New UI for app creation
![image](https://user-images.githubusercontent.com/30964480/93411829-d8682f00-f850-11ea-8700-ce00798ddc37.png)

Old UI fo

[2020-09-18 08:14] Yonet commented on #39
@kpiascik link is not displaying black.
![magicscript](https://user-images.githubusercontent.com/3523671/93573682-48a7ab00-f94c-11ea-8b4b-0bf77f8b9f87.png)

[2020-09-18 12:19] js-dignitas opened #53 "Wrong button blueprint used"
Under "Adding a button" section the instructions say to use BP_SimpleButton.  You should actually use BP_ButtonHololens2, like the screenshot shows.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba90317f-fc2e-1af2-dee1-b367368ea697
* Version Independent ID: 37bfc738-80d9-faba-f75e-0651a7b72b74
* Content: [5. Adding a

[2020-09-20 16:20] Samvid95 commented on #48
Thanks it worked.

[2020-09-20 16:20] #48 closed

[2020-09-21 09:45] tmhab opened #55 "The SampleQRCodes Unity project doesn't work on Hololens 2"
Newer Unity versions (2020.1.6f1) when building the SampleQRCodes Unity project and deploying it to Hololens 2, no QR codes are being tracked and the Axis object is just stationary in front of eyes of the wearer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6572ea07-1ad5-ef4e-72de-e3f5f7e2b086
* Version Independent I

[2020-09-21 20:03] polar-kev opened #56 "Hololens 2 Getting Started Introduction page has a link to itself"
This page lists links for the tutorial series that the user is about to begin. The list does not clearly indicate where the user is on the journey and includes a link to the page the user is already on.

![image](https://user-images.githubusercontent.com/30964480/93815272-8df90080-fc0a-11ea-9c56-2441c1ca6516.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-09-21 20:08] polar-kev opened #57 "Links to next page in tutorial series should be a button"
Instead of using text links to continue to the next tutorial in a series, we should use big buttons that grab the attention of the user.

Here is an example from the [Microsoft Docs Blob storage tutorial](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-portal)
![image](https://user-images.githubusercontent.com/30964480/93815851-8423cd00-fc0b-11ea-8441-800113e57e3e.png

[2020-09-21 23:04] polar-kev opened #58 "Project config/legacy XR settings missing explanations"
### Project Configuration Settings are not Explained
This tutorial is geared towards beginners yet does not explain the configuration settings. The user is told to simply check/select settings but is not told why or what these settings do with respect to the project or the hololens 2 device. These config settings include:

- MS HRTF Spatializer
- Depth Format
- Spatial Awareness Layer
- Single Pas

[2020-09-21 23:14] polar-kev opened #59 "Tutorial does not describe what to expect after deploying to Hololens"
At the "Build and deploy the application" stage of the tutorial, the user has created an empty app and is now deploying that app to the Hololens. Since the tutorial does not describe what the user should see in their Hololens device once the app is deployed, it is very difficult for the user to confirm that the app is working correctly on device.

**Fix:** There should be a description of what the

[2020-09-21 23:42] polar-kev opened #60 "MRTK profile tutorial missing explanations"
In the Overview this tutorial says that,

No where in the tutorial does it explain what a spatial awareness mesh is or why its settings should be changed. There is also no recommendation on which setting is best practice for future projects.

This tutorial is also missing general explanations on what a profile is and how it should be used. For someone new to Mixed Reality and MRTK, this can be con

[2020-09-22 11:45] Dimoki opened #61 "Link for MRTKG Getting started Guide not working."
Hey! The link for "MRTK getting started guide" is leading to a 404.

https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/GettingStartedWithTheMRTK.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95809b24-cc2f-3118-6d05-c504ed734cfc
* Version Independent ID: c9341566-b6b7-25bc-0121-1c6c30a43d49
* Con

[2020-09-22 15:04] paulmelis opened #62 "Incorrect button blueprint class listed?"
Under `Adding a button` step 1 it says to add a blueprint class of type `BP_SimpleButton`, but the image below that shows a `BP_ButtonHoloLens2` class being selected. That latter appears to be the correct class, based on the settings that need to be changed (i.e. icon).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba

[2020-09-23 08:55] #55 closed

[2020-09-23 17:05] seannie2 opened #63 "Issue with Photon Unity Networking after following Multi-user capabilities tutorial"
I have followed the guide in the documentation here:
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-sharing-03
multiple times, making sure I follow the instructions exactly, but no matter what I do, there is always ~114 errors relating to Photon when I try to build the unity project.
The errors are basically variations of as follows:
`Assets\Photon\Photo

[2020-09-25 03:02] kpiascik commented on #39
@Yonet  If you navigate to the magicscript.org domain and then click through, the link displays correctly.  For some reason if you try to access it directly it doesn't.  We had this issue with the site before.  I'll need to fix it.  Can you try instead providing components.magicscript.org ?

[2020-09-25 03:03] kpiascik commented on #39
@Yonet these are react-native examples for iOS/Android, not Windows or Web though.

[2020-09-25 05:08] Yonet commented on #39
@kpiascik thank you for confirming. I'll leave it up to @hferrone to decide if it fits in to windows mixed reality docs in that case. Thank you for submitting.

[2020-09-26 12:56] dudziakl opened #64 "What is DirectionalIndicatorController script for?"
It is not explained in the tutorial what is the reason to use the DirectionalIndicatorController script. This script makes Indicator inactive and if you are unlucky like me you won't see Indicator at all. I thought that solver is not working and then found that it is just disabled. Why? Everything is just fine (and working) without DirectionalIndicatorController script. I suggest to remove it from

[2020-09-27 09:58] dudziakl opened #65 "'Enable Tap to Place' voice command is not working on the device"
I have set all as it was described in the tutorial but last voice command 'Enable Tap to Place' works only in Unity Editor but doesn't on the HoloLens 2. I tried to keep cursor on the Rover, look at it etc. Speech confirmation tooltip doesn't pop up! I checked that eyes recognition was working fine on SeeItSayItLabels. Other voice commands that doesn't require focus are working fine. Maybe it is s

[2020-09-27 10:07] dudziakl commented on #64
Sorry, I was wrong. DirectionalIndicatorController script is needed two chapters later. Anyway this should be clarified or it shouldn't be attached at this chapter as it is confusing when testing. It could be added at the end of chapter 7 when floating menu is updated, as this is the best moment to test this functionality.

[2020-09-28 16:33] polar-kev opened #66 ""Creating User Interfaces" tutorial needs additional explanations"
This tutorial instructs on how to configure components but needs more explanation on what the components do. This tutorial is geared towards people getting started so it should explain the "why" behind the "what" every step of the way.

Interactable
The Interactable component is missing an explanation. An example of what could be included:
The Interactable component is an all-in-one container to m

[2020-09-28 16:40] polar-kev opened #67 "Warnings importing Azure Spatial Anchors package"
Unity version 2019.4.10f1

This tutorial should call out that there are warnings related to legacy XR/XR SDK when importing this package and what to do about. The warning instructs the user to update to the new Unity XR plugin system so this tutorial should instruct the user on how to proceed.

![image](https://user-images.githubusercontent.com/30964480/94460781-18db7d00-016e-11eb-90d1-dc98bbb9c4a

[2020-09-28 16:50] polar-kev opened #68 "Spatial Audio tutorial missing explanations"
This tutorial states that the user will learn how to use HRTK offload but there's no description of what HRTF offload is or why you would choose it.

There is also no explanation of what it means to "spatialize audio" and why you would want this.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d4fb4f8-cd18-1332-c10f-426

[2020-09-28 16:54] polar-kev opened #69 "Expectations for testing spatialized audio not clear"
There's no description of what to expect when testing the spatialized button interaction sounds. The user cannot tell if this is working correctly or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d70ec56-d3e7-292b-58cd-2b44b053c04d
* Version Independent ID: c7cf87ae-9b0d-a94f-5463-673a0a1b3634
* Content: [Spatia

[2020-09-28 16:56] polar-kev opened #70 "Typo and missing screenshot in spatial audio tutorial"
This description is missing a screenshot and contains a typo.

![image](https://user-images.githubusercontent.com/30964480/94462729-cd769e00-0170-11eb-87cb-0e4ede9fa5fc.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d70ec56-d3e7-292b-58cd-2b44b053c04d
* Version Independent ID: c7cf87ae-9b0d-a94f-5463-673a0a1b3634

[2020-09-28 17:02] polar-kev opened #71 "Awkward sentences in Azure Cloud Services tutorial"
"In this first tutorial, Introducing Azure Cloud Services for HoloLens 2, you begin by explaining the goals of the application, briefly introduce you to each Azure Cloud service and set up the unity project."

"In this tutorial series, you will build a HoloLens 2 application that can detect objects from images and find its spatial location. To set a domain language, you call such entities from now

[2020-09-28 17:04] polar-kev opened #72 "Warnings when importing Azure Cloud Services Package"
Unity 2019.4.10f1
MRTK 2.4

![image](https://user-images.githubusercontent.com/30964480/94463533-f51a3600-0171-11eb-9221-4986423ec604.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a45a901a-51fd-81b7-c2b9-22e78a7afeed
* Version Independent ID: 32b6e26d-280a-6239-a9bc-6f3bbe68c868
* Content: [Azure Cloud Tutorials

[2020-09-29 15:20] hferrone commented on #65
Hi @dudziakl,

Take a look at these two articles if you haven't already:
 - https://docs.microsoft.com/en-us/windows/mixed-reality/design/voice-input
 - https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/Input/Speech.html

@martinwilter Any ideas?

[2020-09-29 15:21] hferrone commented on #64
@martinwilter If you agree I can make a quick update?

[2020-09-29 15:22] hferrone commented on #63
@mr0ng Can you or the team member that overhauled this tutorial assist?

[2020-09-29 15:24] hferrone commented on #62
Great catch @paulmelis!

[2020-09-29 15:25] #62 closed

[2020-09-29 15:26] hferrone commented on #61
Hey @Dimoki, sorry about that we recently updated our docs - it's working now :)

[2020-09-29 15:26] #61 closed

[2020-09-29 15:27] hferrone commented on #53
Hi @js-dignitas this update is going in today, thanks!

[2020-09-29 15:27] #53 closed

[2020-09-29 15:35] hferrone commented on #45
Good call, this will be udpated today!

[2020-09-29 15:35] #45 closed

[2020-09-29 15:36] hferrone commented on #44
@polar-kev @thetuvix Can you confirm?

[2020-09-29 15:38] hferrone commented on #39
@thetuvix Should we include these iOS/Android React frameworks?

[2020-09-29 15:47] #57 closed

[2020-09-29 15:53] #56 closed

[2020-09-29 16:50] polar-kev opened #73 "First app deployed should not be an empty project"
In this getting started tutorial the user is instructed to deploy an empty project to their hololens. This means that nothing appears on the device when it is working properly. How are you supposed to know it worked if it’s empty?

The first app deployed should include, at the minimum, a cube (or some other object), so the user can confirm that the app is working when running it on device.

**Addi

[2020-09-29 16:55] polar-kev opened #74 "Warnings importing holographic remoting package"
Unity 2019.4.10f1
MRTK 2.4

I was still able to complete the tutorial.

![image](https://user-images.githubusercontent.com/30964480/94589201-d54e4500-0239-11eb-8644-b246387bde69.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55bb143d-e40d-4c26-c310-d4f1777009bb
* Version Independent ID: 29327994-e0cc-83d5-025f-ccf

[2020-09-29 17:10] nra20 commented on #28
Hello everyone,

Was anyone able to figure out why this error was occurring when deploying the app unto the Hololens2 device, but not when testing within the Unity Editor?

Best,
Nick

[2020-09-29 18:07] hferrone commented on #43
Thanks @iambetterthanyou, we're in the midst of addressing this in several of our other issues, specifically #59. I'm going to close this as we don't want to duplicate these.

[2020-09-29 18:07] #43 closed

[2020-09-29 20:34] hferrone commented on #42
Hi @iambetterthanyou, we are actively working to improve our documentation and developer experience. Since this is a broad scope of work, I'm going to close this issue. Thanks for your input.

[2020-09-29 20:34] #42 closed

[2020-09-29 20:58] hferrone commented on #74
@polar-kev Does this happen when you import the MRTK.Tutorials.PCHolographicRemoting.unitypackage or at some other stage?

[2020-09-29 21:00] hferrone commented on #72
@polar-kev Which of the downloaded assets gives these warnings, or are there warnings in all of them?
- Azure storage for Unity
- Azure Spatial Anchors
- MRTK.Tutorials.AzureCloudServices

[2020-09-29 21:07] #71 closed

[2020-09-29 21:08] hferrone commented on #73
@polar-kev Can you supply steps and screenshots and where in the tutorial this update would go and I can make the update?

[2020-09-29 21:10] hferrone commented on #70
@polar-kev Not sure what happened with this issue, but I searched the article you referenced and didn't find any of this text?

[2020-09-29 21:11] hferrone commented on #69
@kegodin Can you assist or tag someone who can?

[2020-09-29 21:11] hferrone commented on #68
@kegodin Can you assist or tag someone who can?

[2020-09-29 21:12] hferrone commented on #67
@mr0ng Can you or someone on the team assist?

[2020-09-29 21:15] hferrone commented on #60
@polar-kev Can you provide some technical explanations for these topics?

[2020-09-29 21:18] #47 closed

[2020-09-29 21:20] #46 closed

[2020-09-29 21:23] hferrone commented on #40
@varunsiddaraju Can you be clearer on where this content needs to go and clarify this part of the sentence: "check the below-shown capability checkbox in addition to the existing capabilities:"

[2020-09-29 21:25] hferrone commented on #29
@cheles These have all been updated, thanks for calling this out!

[2020-09-29 21:25] #29 closed

[2020-09-29 21:27] hferrone commented on #28
@martinwilter Could you tag whoever overhauled this tutorial series in your org?

[2020-09-29 21:30] kegodin commented on #68
@NoelCross

[2020-09-29 21:36] #27 closed

[2020-09-29 21:47] hferrone commented on #68
@NoelCross Can you provide some technical explanation content on the commenters callouts so I can make updates?

[2020-09-29 22:25] martinwilter commented on #64
Hi @hferrone, I believe we already addressed this and as requested updated md and image files were emailed to you on August 19th instead of PR created.

Here's the particular commit on my fork https://github.com/martinwilter/mixed-reality/commit/d5b332e6830fd5db246b31a9e08e2483de051d1c

I also made some other fixes at that same time which you will find on the same branch https://github.com/martinw

[2020-09-29 22:33] martinwilter commented on #65
@hferrone, I'm guessing this is caused by the same bug that caused issue #64. Publishing the fix https://github.com/MicrosoftDocs/mixed-reality/issues/64#issuecomment-701024840 should prevent this from happening to future readers.

[2020-09-29 22:41] martinwilter commented on #28
Sure @hferrone, I'll check if they are available.

[2020-09-30 18:01] hferrone commented on #31
Hi @StarWardo, give this a shot :)

https://github.com/chgatla-microsoft/QRTracking/tree/master/SampleQRCodes

[2020-09-30 18:01] #31 closed

[2020-09-30 19:28] rubit0 commented on #28
Thee Azure Storage Emulator is only accessible to your _local dev machine_, this is why you get this error message on your HoloLens 2. To fix this you need to create an _Azure Storage account_ on Azure (this may require a credit card).

If for some reason your are in a situation where you can't create an Azure Storage account, you could alternatively expose the ports of your local machine to make

[2020-09-30 19:39] martinwilter commented on #40
Hi @hferrone, I'll be stepping in to help with this and some of the other issues.

I see someone on Varun's team had made the update to the old docs fork when they looked into this a while back, they made these two commits:

https://github.com/onginnovations/mixed-reality-old/commit/6ecb21f798d43075fdf86cb43c1b63f3667340d0
https://github.com/onginnovations/mixed-reality-old/commit/3be9f2f472bd3e71

[2020-09-30 20:09] hferrone commented on #28
Thanks @rubit0! @XiangGuo1992 I'm going to close this, but if this problem persists or another one comes up feel free to comment in the thread and I'll reopen :)

[2020-09-30 20:09] #28 closed

[2020-09-30 20:09] hferrone commented on #36
Hi @nra20, check out the suggested fix here https://github.com/MicrosoftDocs/mixed-reality/issues/28

[2020-09-30 21:37] martinwilter commented on #63
Hi @seannie2, this issue is caused by a recent update to the PUN 2 asset (Photon). The tutorials were made with PUN v2.18, however, the current version in the Unity Asset store is v2.22 and somewhere between these version it appears PUN's ability to enable the correct libraries for UWP platform has broken.

We've been able to work around this issue by enabling the WSAPlayer platform in the import

[2020-09-30 21:42] martinwilter commented on #44
Hi @enniobolondi, yes, the correct name is **XR Legacy Input Helpers**, thanks for pointing out this typo.

CC @hferrone

[2020-09-30 21:54] martinwilter commented on #67
Hi @hferrone, these warnings are thrown from ASA SDK (v2.2.1 is used in this tutorial) and can be ignored. Suggest to add a note under the image in the [Importing the tutorial assets](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02#importing-the-tutorial-assets) section:

[code]

[2020-09-30 22:54] #68 closed

[2020-10-01 16:25] Cristian-Hanciuc opened #77 "CloudSpatialException"
[Enter feedback here]

This exception is thrown when trying to create a new azure anchor on Hololens2
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7f65b-2300-1e88-3072-5ecc28e5a8e5
* Version Independent ID: 2089610b-9581-ea9b-11c5-7be97e53c584
* Content: [Azure Spatial Anchors tutorials - 2. Getting started with Az

[2020-10-01 17:24] hferrone commented on #77
Hi @Cristian-Hanciuc , can you post the full exception log?

[2020-10-01 23:29] #44 closed

[2020-10-01 23:31] #67 closed

[2020-10-02 14:44] cheles opened #78 "Wrong UHoloLensARFunctionLibrary class"
[Enter feedback here]
We might have listed the wrong method here
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unreal/unreal-qr-codes#enabling-qr-detection
_Right before the usage, you should manually enable the tracking by calling UHoloLensARFunctionLibrary::**StartQRCodeCapture**(). After ending the QR code tracking, you should disable it by UHoloLensARFunctionLibrary::**StopCam

[2020-10-02 17:46] martinwilter commented on #77
Hi @Cristian-Hanciuc,

Assuming you configured the account id and key correctly in your project and your HoloLens have internet access, this could potentially be caused by some recent changes to Azure Spatial Anchors portal where, unless you created the ASA resource using East US 2 location, you must now also configure the account domain in your project.

In recent ASA SDK versions, this can now b

[2020-10-02 18:38] martinwilter commented on #74
Hi @hferrone, yes, those five warnings are thrown when importing the tutorial assets. Specifically, they are caused by the glb models located at Assets > MRTK.Tutorials.PCHolographicRemoting > Models:

![image](https://user-images.githubusercontent.com/16746283/94955356-4cd0de00-049f-11eb-83f4-8e60551b44d5.png)

I don't think the issue causing these warnings affects the purpose of this tutorial, s

[2020-10-05 14:35] hwinstonuconn opened #80 "Missing Step - Need to Set Buttons Y Position to -0.1"
The figure for this tutorial shows the buttons object at Y = -0.1 but this prefab's default
is y = 0.45. Is there a missing step in the instructions? I set Y = -0.1 to make the scene
consistent with the figures.

Thank you.

Howard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19d6068a-8891-8072-20f4-e162462140b9
* Ve

[2020-10-05 19:58] #63 closed

[2020-10-07 18:53] martinwilter commented on #80
Hi @hwinstonuconn,

I checked the tutorial assets and the Button.prefab Y position is -0.1.

I think what happened is that you accidentally parented the Buttons to the SharedPlayground object:

![image](https://user-images.githubusercontent.com/16746283/95372794-ed087780-0890-11eb-9987-07b9d4b27a8c.png)

then reparented it to the TableAnchor object:

![image](https://user-images.githubusercontent.

[2020-10-07 21:51] woojinko opened #81 "Can't See ButtonParent Within Hololens 2 App (2. Getting Started with Azure Spatial Anchors)"
Hi all,

I'm going through your Azure Spatial Anchors Tutorial right now. https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02

I'm currently on step 2: Getting Started with Azure Spatial Anchors, and I've gotten through the directions up to "Trying the basic behaviors of Azure Spatial Anchors." However, when I try deploying on to my Hololens, I can't s

[2020-10-07 22:08] martinwilter commented on #81
Hi @woojinko,

This could be caused by this [solver issue](https://developercommunity.visualstudio.com/content/problem/1128346/arm64-c-164-165-regression.html).

To check if it is, you can try to disable smoothing:

![image](https://user-images.githubusercontent.com/16746283/95392870-5cd92b00-08ae-11eb-808b-c2b9d84db334.png)

Or if you have many solvers in your scene (this scene only has 2) you ca

[2020-10-07 23:42] woojinko commented on #81
Hi @martinwilter

Thanks for the quick reply! Disabling smoothing worked for me, thanks a ton for that tip. I did notice that deploying with ARM would lead to an empty scene on the Hololens, so I went back to ARM 64 and it worked well.

I am still running into an issue with Creating and Finding Spatial Anchors though.

This picture below shows the debug window output of clicking Create Azure Ancho

[2020-10-08 01:06] martinwilter commented on #81
Glad to hear you were able to work around the solver issue, @woojinko.

For the ASA error, my first thought it is the same as issue https://github.com/MicrosoftDocs/mixed-reality/issues/77, here's my comment on the issue:

[2020-10-08 11:19] Gregoire6Fr opened #83 "QRCodeWatcher events (Added, Removed, Updated) lacks of explanations"
Theses events only have a single comment line to explain them so as user we lack of informations about it.
What's the difference between an Added and Updated ?
When the event Removed is called ?

[2020-10-08 11:25] Gregoire6Fr opened #84 "QRCode.LastDetectedTime return invalid value"
Hello there,

I'm under unity 2019.4.8f1 and the value returned by QRCode.LastDetectedTime is always the same (25/09/2020 in my case) regardless of the QRCode scanned.

[2020-10-08 18:01] woojinko commented on #81
Hi @martinwilter

I gave it a shot with a new ASA in the East US 2 location and updating the spatial anchor manager to take in the new account id and key, but I'm still running into the same error.

Any other ideas on how to get around this?

[2020-10-08 18:18] martinwilter commented on #81
Hi @woojinko, sorry to hear that. Maybe double check that your HoloLens can access internet by loading a web page and also verify that internet is enabled in your projects capabilities (you can run the MRTK project configurator again).

[2020-10-08 18:29] woojinko commented on #81
Hi @martinwilter

I've verified that my Hololens is connected to the internet and can load a web page.

Is this the right way to run the MRTK project configurator again? (right side of screenshot)
Additionally, I went to project/player settings and decided to check off EnterpriseAuthentication, InternetClientServer, and PrivateNetworkClientServer just in case (had not been checked off before). I c

[2020-10-08 20:22] martinwilter commented on #81
Hi @woojinko,

Unfortunately, I'm not familiar with account restrictions, but if you are using your work or school account, it's very possible that it has some restrictions, if that's the case, maybe you can create your own account and use it instead. If your account is part of a family, the family manager could also have placed restrictions on the accounts.

From what I saw in your screenshot, yo

[2020-10-08 20:36] woojinko commented on #81
Hi again @martinwilter

This worked! I guess this means it has something to do with the ASA resource rather than any of my unity/hololens settings?

What should I do moving forward? Will I be able to constantly use this ASA resource you shared in the future as well? Or should I try to figure out why my own ASA resource isn't quite working correctly?

Thank you so much,
Woojin

[2020-10-08 21:22] martinwilter commented on #81
Great to hear, @woojinko.

Yes, that should mean that the issue is related to the ASA resource and that your Unity project and HoloLens configuration is fine. You can use this id/key for a few days, but since they are on our account, you can't keep using them in the long run, so you will need to figure out what's going wrong when you create the ASA resource.

Maybe double check that the resource y

[2020-10-08 21:50] woojinko commented on #81
@martinwilter That makes complete sense, thanks!

Yeah that's pretty strange though - it seems like I have it set correctly (grayed out the sensitive info like you did):

<img width="1271" alt="ASA" src="https://user-images.githubusercontent.com/35548021/95517162-5792e380-0975-11eb-96a2-817e78051f36.png">

Is there anything else I could check? I was looking at my resource group too, but I can't fi

[2020-10-08 22:14] woojinko commented on #81
Just wanted to follow up to let you know that I got it working for my own Spatial Anchor!!! I'm not entirely sure what changed, but it's definitely working now :) Thank you so much for all the help - I couldn't have gotten this working without your guidance!

I think it may be worth it to add the smoothing and East US 2 notes in the tutorial for future users, but of course this is entirely up to y

[2020-10-08 22:20] martinwilter commented on #81
Hi @woojinko, I noticed your Microsoft account (in top right corner of the screenshots) appears to be managed by your university, so my guess would be that there are restrictions associated with the account that's causing this issue. So if you want to keep using that account, I suggest checking with your university if it's possible to remove those restrictions. Alternatively, and probably quicker,

[2020-10-08 22:25] woojinko commented on #81
Hi @martinwilter,

Sounds good. I think actually then the step that solved this problem for me earlier must've been me upgrading my account. I selected the free "No Technical Support" subscription plan I believe.

[2020-10-08 22:25] #81 closed

[2020-10-12 06:35] andreawie opened #88 "XR Settings mess things up for me"
Hey,
so I found out through following each step and then building it after single one that when I check _**Virtual Reality Supported**_ under the **XR Settings** Visual Studio won't be able to find the Windows.mirage.pdb Symbol and I was not able to fix it any other way than unchecking it.
But I also didn't find anyone with the same issue, so maybe it's just a problem on my end. Just thought I'd w

[2020-10-12 18:05] #77 closed

[2020-10-12 18:07] hferrone commented on #78
Thanks for catching this @cheles!

[2020-10-12 18:07] #78 closed

[2020-10-12 18:07] #80 closed

[2020-10-12 18:08] hferrone commented on #83
Hi @Gregoire6Fr , can you post the link to the doc you are referring too?

[2020-10-12 18:09] hferrone commented on #84
Hi @Gregoire6Fr, can you please post the doc you're referring too?

[2020-10-12 18:09] hferrone commented on #88
Hi @andreawie, can you tell me what version of Unity you're using?

cc: @martinwilter

[2020-10-13 07:38] andreawie commented on #88
Oh yeah, forgot to do that, sorry.
**Unity:** 2019.4.12
**Visual Studio: Enterprise:** 2019 16.7.5
**HoloLens 2 Emulator:** 10.0.19041.1109

[2020-10-13 10:01] BitterDone opened #90 "Instruction clarification & update regarding XR Plug-in Management"
A couple instructions updates

`After Unity has finished importing the Windows Mixed Reality SDK, the MRTK Project Configurator window should appear again. If it doesn't, use the Unity menu to open it.` can be clarified to `use the Mixed Reality Toolkit menu`, because "Unity menu" is too vague for new users

`In the Project Settings window, select Player > XR Settings, then use the Depth Format dr

[2020-10-14 12:26] tmhab opened #91 "Deprecated code in examples for Unity 2019.4.10f1"
In Unity 2019.4.10f1 the code presented in the examples is deprecated, with a note about it being removed in Unity 2020.1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4d3daf6-e9f9-d400-1941-ab76efed39ef
* Version Independent ID: f8a2ed75-804a-18f2-4d97-eb7737b0de75
* Content: [Persistence in Unity - Mixed Reality](

[2020-10-14 16:45] hferrone commented on #91
Hi @tmhab, we are working on updating all our Unity content to use XR SDK instead of the legacy APIs. Be on the lookout for new content :) For now, you'll need to refer to Unity docs and their XR APIs.

[2020-10-14 16:45] #91 closed

[2020-10-14 16:46] hferrone commented on #90
@martinwilter Can you confirm?

[2020-10-15 02:39] martinwilter commented on #90
Hi @hferrone,

The full menu path is written out in step 1:

![image](https://user-images.githubusercontent.com/16746283/96069992-2a05d880-0e54-11eb-81a5-98e5d868dac0.png)

so we didn't feel it was necessary to write it out in step 2:

![image](https://user-images.githubusercontent.com/16746283/96070054-499d0100-0e54-11eb-892d-34619de4579c.png)

but there should be any problem repeating it. I thin

[2020-10-15 04:52] martinwilter commented on #88
Hi @andreawie, do you face the same issue when deploying to device, or is it only related to the emulator?

[2020-10-15 06:41] andreawie commented on #88
Here are the things that I've tried so far:

- Use Visual Studio 2017 instead of 2019

- Activate Windows Mixed Reality through the new XR-Plugin Management option instead of through Player-XR Settings

- Messing around with the build Settings a little

- Reinstalling Unity and the HoloLens 2 Emulator

I would try building and running it on the Emulator directly, but the Device Portal for the Emul

[2020-10-15 06:41] tmhab commented on #91
Thank you for the heads-up @hferrone, I will be looking forward to reading it in the future 👍

[2020-10-15 15:12] cheles opened #92 "Updating tutorial assets"
[Enter feedback here]
We should link to latest ASA release. We fixed some bugs in 2.4.0 and from 2.5.0 we removed unitypackages and moved to UPM

- _ASA supports multiple Azure regions. Consumers should explicitly set the AccountDomain property on the SessionConfiguration object to the Account Domain shown in the Azure Portal for their ASA account. If AccountDomain is unset, the SDK uses “mixedrea

[2020-10-15 18:07] AMollis opened #93 "The SU sample code references the ToUnity() extension function, however this function is not in the SU SDK for Unity"
The SU sample code references the ToUnity() extension function, however this function is not in the SU SDK for Unity.

Where is this extension function coming from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e11ada88-8eb6-0e07-0b90-02b8b87179bf
* Version Independent ID: 9bb41118-53ab-73c6-5908-83f0c2334536
* Conten

[2020-10-15 23:58] AMollis opened #94 "SU Documentation mentions non-existing SceneQuad API GetOcclusionMask"
The documentation mentions a GetOcclusionMask() SceneQuad method, but doesn't describe what it does.  Also this method doesn't appear on the SceneQuad.

There is a SceneQuad::GetSurfaceMask, but again the documentation doesn't describe this method.

Please remove reference to SceneQuad::GetOcclusionMask and add reference to SceneQuad::GetSurfaceMask.  And provide a description for SceneQuad::GetSu

[2020-10-16 02:06] martinwilter commented on #88
Thanks for the additional information, @andreawie. Since this issue seems to be related to the emulator and not this tutorial specifically, I recommend referring to the [Using the HoloLens Emulator](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/using-the-hololens-emulator) documentation. Did you check if you have all the system requirements?
__
<br>

[2020-10-16 02:19] martinwilter commented on #92
Hi @hferrone, I agree ASA should be updated, it would resolve the issue that some readers are facing re the domain. However, before updating link to ASA SDK and docs, I believe the project needs to be tested with the latest SDK version to verify it still works as expected with the latest ASA SDK version.

[2020-10-16 10:46] cheles commented on #92
before going down that path, we might mention at least re the domain issue that was fixed in 2.4.0
Also, on the side menu under Sample apps we have Hololens 2- Surfaces. Surfaces redirects to https://docs.microsoft.com/en-us/ Is that still available or hasn't been ported to docs?

[2020-10-16 12:20] FelixWeichselgartner opened #95 "TouchScreenKeyboard.done is deprecated"
Unity says that TouchScreenKeyboard.done is deprecated. Maybe the documentation should be update. TY.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b15a4f6-fb99-7a99-62ad-f22259d375ba
* Version Independent ID: 688c368c-839a-54e8-6f31-c22204fad338
* Content: [Keyboard input in Unity - Mixed Reality](https://docs.micro

[2020-10-17 01:43] martinwilter opened #96 "PC Holographic Remoting tutorial assets not on Microsoft repo"
Hi @hferrone,

I've been cleaning up the PC Holographic Remoting tutorial project a bit and noticed the download link for tutorial assets currently points to [Ong Innovation's fork](https://github.com/onginnovations/MixedRealityLearning) and not [Microsoft's source repo](https://github.com/microsoft/MixedRealityLearning).

In [mr-learning-pc-holographic-remoting-01.md](https://github.com/Microsoft

[2020-10-19 07:05] Gregoire6Fr commented on #84
Hi, sorry for the lack of this info, here is the details from the specific doc.

* ID: 6572ea07-1ad5-ef4e-72de-e3f5f7e2b086
* Version Independent ID: f8a7b6db-5cd3-b895-0e5f-b079b60b8394
* Content: [QR code tracking - Mixed Reality](https://docs.microsoft.com/fr-fr/windows/mixed-reality/develop/platform-capabilities-and-apis/qr-code-tracking)
* Content Source: [mixed-reality-docs/mr-dev-docs/devel

[2020-10-19 07:05] Gregoire6Fr commented on #83
Hi, sorry for the lack of this info, here is the details from the specific doc.

* ID: 6572ea07-1ad5-ef4e-72de-e3f5f7e2b086
* Version Independent ID: f8a7b6db-5cd3-b895-0e5f-b079b60b8394
* Content: [QR code tracking - Mixed Reality](https://docs.microsoft.com/fr-fr/windows/mixed-reality/develop/platform-capabilities-and-apis/qr-code-tracking)
* Content Source: [mixed-reality-docs/mr-dev-docs/devel

[2020-10-19 20:42] hferrone commented on #39
@thetuvix I could really use some guidance here :)

[2020-10-20 08:44] nooxouille opened #98 "Typo in bottom page's anchor"
Hi there !

The bottom like about "Understanding performance for Mixed Reality" isn't display properly. Most likely a typo error in the anchor :)

![image](https://user-images.githubusercontent.com/2682226/96562502-209bc680-12c1-11eb-9108-ce967a2a01ac.png)

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

*

[2020-10-20 10:11] andreawie commented on #88
@martinwilter Thank you for your response and yes, I do have all the system requirements.

**--------------------- **Update** ----------------------------------**

I have now managed to run the app directly on the Emulator (You don't need a Device Portal Username and Password, that was my mistake) while having **Windows Mixed Reality** in the **XR Plug-In Management** turned on.
However at first i

[2020-10-20 11:09] jworch opened #99 "Typo in 'WinRT in Unreal' code example"
There is a typo in the code

`    winrt::Windows::Storage::StorageFile m_file = winrt::Windows::Storage::StorageFile(nullprt);`

should be

`    winrt::Windows::Storage::StorageFile m_file = winrt::Windows::Storage::StorageFile(nullptr);`

`nullprt -> nullptr`

[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsof

[2020-10-20 11:53] jworch opened #100 "Missing include in ConsumerWinRT.Build.cs"
It might be useful to add

`using System.IO;`

[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 74770102-2289-8f0a-cabc-a5e15b5a4a88
* Version Independent ID: 61fa1f2b-f423-81f3-d42f-9fe9867950c8
* Content: [WinRT in Unreal - Mixed Reality](https://docs.microsoft.

[2020-10-20 13:25] jworch opened #101 "Typo in 'WinRT in Unreal' ConsumeWinRT.build.cs"
`            return Path.GetFullPath(
                   Path.Combine(ModulePath,
                   "../../ThirddParty/HoloLensWinrtDLL"));`

should be

`            return Path.GetFullPath(
                   Path.Combine(ModulePath,
                   "../../ThirdParty/HoloLensWinrtDLL"));
`

`ThirddParty -> ThirdParty`

[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie dies

[2020-10-20 15:51] jworch opened #102 "Working Example WinRT in Unreal"
Hi, is it possible to get a working copy of the presented example? Because no matter what I do, I cannot get it running. I think  I followed every step but I must have overseen something.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 74770102-2289-8f0a-cabc-a5e15b5a4a88
* Version Indep

[2020-10-20 16:10] #98 closed

[2020-10-20 16:12] #99 closed

[2020-10-20 16:13] #101 closed

[2020-10-20 16:16] hferrone commented on #102
@fieldsJacksonG Do you have a final build for this doc?

[2020-10-20 16:17] hferrone commented on #102
@jworch Are you getting any specific errors or console output that could help us pinpoint the issue for you?

[2020-10-20 21:50] hferrone commented on #58
@mr0ng @martinwilter This is listed as completed in the spreadsheet Sean shared but there is nothing here?

[2020-10-20 21:50] hferrone commented on #59
@mr0ng @martinwilter This is listed as completed in the spreadsheet Sean shared but there is nothing here?

[2020-10-20 21:51] hferrone commented on #60
@mr0ng @martinwilter This is listed as completed in the spreadsheet Sean shared but there is nothing here?

[2020-10-20 22:00] #64 closed

[2020-10-20 22:01] #65 closed

[2020-10-20 22:02] hferrone commented on #66
@mr0ng @martinwilter This is listed as completed in the spreadsheet Sean shared but there is nothing here?

[2020-10-20 22:02] hferrone commented on #69
@mr0ng @martinwilter This is listed as completed in the spreadsheet Sean shared but there is nothing here?

[2020-10-20 22:04] hferrone commented on #73
https://github.com/MicrosoftDocs/mixed-reality/issues/70

[2020-10-20 22:09] hferrone commented on #83
Hi @Gregoire6Fr , the API reference is available at the bottom of the article (https://docs.microsoft.com/fr-fr/windows/mixed-reality/develop/platform-capabilities-and-apis/qr-code-tracking#qr-api-reference) and the events fire per their title - added fires when a new QR is added, updated fires when a QR code is updated, etc. Removed is called when the QR code is removed.

[2020-10-20 22:09] #83 closed

[2020-10-20 22:10] polar-kev commented on #70
@hferrone, I raised the issue on the wrong page. The text can be found here, https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/unity-spatial-audio-ch4

[2020-10-20 22:29] hferrone commented on #84
@YashMaster Can you assist?

[2020-10-20 22:30] hferrone commented on #88
@evmill Is this something you can help with or ping someone on the Emulator/Device team?

[2020-10-20 22:47] martinwilter commented on #69
@hferrone, I'm not familiar with that spreadsheet, but I know we didn't create this tutorial series, I believe it was created internally, possibly by MRTK team.

Readers can test in Unity editor by entering game mode (ideally with looped audio), then move the object with the audio source from left to right and compare with and without spatial audio enabled (they can change those settings at runtim

[2020-10-20 22:57] martinwilter commented on #58
@hferrone, I think I know what spreadsheet you are referring to now, the issues spreadsheet? If so, that spreadsheet lists the state of the issues as they related to us, not as they related to the repo.

'For Review' means we've responded to the issues not that it's resolved in the repo. 'Done' means you have closed the issue. Our internal status for this issue is 'Backlog', meaning we haven't res

[2020-10-20 23:00] martinwilter commented on #66
@hferrone, please see https://github.com/MicrosoftDocs/mixed-reality/issues/58#issuecomment-713186547.

[2020-10-20 23:02] martinwilter commented on #60
@hferrone, please see https://github.com/MicrosoftDocs/mixed-reality/issues/58#issuecomment-713186547.

[2020-10-20 23:06] martinwilter commented on #59
@hferrone, please see https://github.com/MicrosoftDocs/mixed-reality/issues/58#issuecomment-713186547.

By the way, I see there already is some info about what to expect:

![image](https://user-images.githubusercontent.com/16746283/96653451-fb717d00-12ed-11eb-912a-05425d79103b.png)

[2020-10-20 23:38] #70 closed

[2020-10-20 23:41] #90 closed

[2020-10-20 23:44] hferrone commented on #95
Hi @FelixWeichselgartner, thanks for bringing this up. We'll update to use https://docs.unity3d.com/ScriptReference/TouchScreenKeyboard.Status.Done.html

[2020-10-20 23:46] #95 closed

[2020-10-20 23:48] #96 closed

[2020-10-21 00:40] evmill commented on #88
@pbarnettms Would you be able to help with this?

[2020-10-21 13:33] Seajanjan opened #103 "Can not build ARM due to \build\bin\ARM\Release\GameAssembly.lib is missing"
I'm trying to deploy my app to my HoloLens 2 and after "Start Without Debugging" I'm getting this error
Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK1181	Input file"C:\Users\MyName\MyOneDrive\Desktop\MyProject\build\bin\ARM\Release\GameAssembly.lib" was unable to open.	MyProject	C:\Users\MyName\MyOneDrive\Desktop\MyPrject\MyProjectName\LINK	1

[2020-10-22 05:56] Seajanjan commented on #103
I've worked through https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/using-visual-studio#deploying-an-app-over-usb---hololens-2 this tutorial.

Versions:
 - Unity 2019.4.4f1
 - VS2019 16.7.6

Note: I have 2 errors in the Unity console.
First error:
Error: Could not load signature of Microsoft.Azure.Storage.Core.Auth.BlobSharedAccessSignatureHelper:GetSi

[2020-10-22 12:58] mchikobava opened #105 "Inconsistency between the text and the screenshot"
In the Hierarchy window, select the RoverAssembly object, then in the Inspector window, configure the Tap To Place (Script) component as follows:

Uncheck the checkbox next to its name to make it inactive by default
In the **On Placing Started ()** event section, click the + icon to add a new event:
Assign the RoverExplorer > RoverAssembly object to the None (Object) field
From the No Function dro

[2020-10-22 18:34] blueValeria opened #106 "correction"
1.When disabling TapToPlace component with the menu button, new listener should be added to **On Placing Stopped()** event, not On Placing Started() event

2.Small typo:
Change the ToolTip Override Settings > Manual Pivot Location Position Y to 1.5
should be
Change the ToolTip Override Settings > Manual Pivot **Local** Position Y to 1.5

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-10-22 22:14] tksharpless opened #107 "How to disable the OpenXR runtime?"
The OpenXR runtime, installed I guess by Win10 2004 update, is interfering with testing apps under development -- partly because it kills SteamVR, and partly because it does not seem to work as inteded.  For example the WMR OpenXR DevTool is unable to show its demo scene; and the MS supplied sample BasicXrApp builds but gets exceptions from the runtime.

So I need to bbe able to disable it.  This

[2020-10-22 23:42] YashMaster commented on #84
Thanks for tagging. I'll follow up with the team internally and ping back.

[2020-10-23 10:31] jworch commented on #102
Finally I had some time to work on that again. Right now I get the following error message when compiling the Consumewinrt solution:

`Error	LNK2019	unresolved external symbol "public: static void __cdecl AWinrtActor::OpenFileDialogue(void)" (?OpenFileDialogue@AWinrtActor@@SAXXZ) referenced in function "public: static void __cdecl AWinrtActor::execOpenFileDialogue(class UObject *,struct FFrame &,v

[2020-10-23 15:59] hferrone commented on #102
@fieldsJacksonG bump :)

[2020-10-23 16:13] #106 closed

[2020-10-23 16:21] hferrone commented on #105
Hi @mchikobava, yes that was a typo, it's been fixed. Thanks for filling feedback!

[2020-10-23 16:21] #105 closed

[2020-10-23 16:23] hferrone commented on #103
@pbarnettms Can you assist or mention someone who can? (You're listed as the doc author)

[2020-10-23 16:23] hferrone commented on #107
@thetuvix Can you assist with this?

[2020-10-23 16:38] hferrone commented on #103
Hi @Seajanjan, the issues with the Azure dll isn't related to the doc you're following or Visual Studio. Please see the support info on this page: https://docs.microsoft.com/en-us/hololens/hololens-feedback

[2020-10-23 16:38] #103 closed

[2020-10-23 16:49] hferrone commented on #88
Hi @andreawie, loading symbols is handled by Visual Studio and the symbol server. You might not have the Microsoft symbol server enabled in the VS symbol settings, which you can find in the VS debug settings. (It should be enabled by default).

[2020-10-23 16:49] #88 closed

[2020-10-24 13:48] tksharpless commented on #107
It appears that the WMR runtime has not changed.  The issue with SteamVR + Win10 2004 has been resolved by some Steam beta updates.  However the basic problem with WMR remains: several Microsoft apps fail to enter VR, without any error indication.

i

[2020-10-27 22:16] martinwilter commented on #72
Hi @hferrone,

These warnings were from the MRTK.Tutorials.AzureCloudServices package and most of them were caused by the [SerializedField issue](https://issuetracker.unity3d.com/issues/serializedfield-fields-produce-field-is-never-assigned-to-dot-dot-dot-warning) which has been around for a long time. I've silenced all but three warnings from ASA SDK (v2.2.1).

Please merge in https://github.com/

[2020-10-30 09:40] zhangypcn opened #109 "Render from the PV Camera for MRC."
[在此处输入反馈]

The return value of the camera captured image obtained through **GetARCameraImage** has been invalid. I have made relevant settings, including enabling Webcam, StartCameraCapture, and SetEnabledMixedRealityCamera.

Has anyone tested the GetARCameraImage node, and can you share your successful experience?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 2ab4

[2020-11-02 01:40] zhangypcn commented on #109
@hferrone

[2020-11-02 05:50] jworch commented on #102
Any updates here?

[2020-11-02 17:26] hferrone commented on #109
@sw5813 Who can we ping to get this rolling?

[2020-11-02 19:08] sw5813 commented on #109
@fieldsJacksonG can you offer any guidance here?

[2020-11-02 19:15] fieldsJacksonG commented on #109
Can you check your logs in the device portal under:
"System/ File explorer/ LocalAppData/ %PackageName%/ LocalState/ %ProjectName%/ Save/ Logs/ %ProjectName%.log

Any failures to start the PV camera will be logged here.

Also important to note that StartCameraCapture should be called after StartARSession - you will see an error in your log if this was called too soon.

Future versions of this use

[2020-11-02 22:06] fieldsJacksonG commented on #102
Looks like some transcription errors in the doc.  BeginPlay should load the DLL, referencing the same path as the runtime dependency in the build.cs:
void AWinrtActor::BeginPlay()
{
	Super::BeginPlay();

	const FString BinDir = FPaths::ProjectDir() /
		"ThirdParty" / "HoloLensWinrtDLL" /
		"arm64" / "Release" / "HoloLensWinrtDLL";
	void * dllHandle = FPlatformProcess::GetDllHandle(
		*(BinDir / "H

[2020-11-03 01:57] zhangypcn commented on #109
I connected and debugged through Holographic Remoting, so there is no log information in the device portal. I was sure that StartCameraCapture was called after StartARSession, and I even delayed a few seconds.

[2020-11-03 01:58] zhangypcn commented on #109
I connected and debugged through Holographic Remoting, so there is no log information in the device portal. I was sure that StartCameraCapture was called after StartARSession, and I even delayed a few seconds.

[2020-11-03 02:30] JPinlac opened #110 "AMD wmr reprojection support."
Document states that AMD RX470 or better is supported. I currently have an rx5700 and after following the steps there is no reprojection settings for me to toggle. In addition to RDNA1(rx5700/xt) support, will newer RDNA2(rx6800/xt, rx6800) cards be supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7290b872-634

[2020-11-03 05:49] fieldsJacksonG commented on #109
Unfortunately the PV camera is not supported over remoting.

Check the output log in your Unreal project, and you will probably see a warning log:
"HoloLens remoting does not support the device forward facing camera.  No images will be collected."

[2020-11-03 06:49] zhangypcn commented on #109
That's really unfortunate! Rendering on the PC is an irreplaceable step in my project.

[2020-11-03 12:10] jworch commented on #102
Minor update: I was able to compile, and add the Winrtactor as well as the OpenFileDialog Call to the blueprint. Unfortunately I cannot test that right now. Probably gonna take another week or two. Nevertheless, it does NOT compile when reverting the changes in the header.

`UFUNCTION(BlueprintCallable)`
`static void OpenFileDialogue`**()**`;`

() are necessary for me, to make it compile. Also I a

[2020-11-03 12:33] Lindaae opened #111 "HL does not appear in list of devices"
Hi,
I encounter a couple of problem with debugging my apps on the HoloLens and unfortunately microsoft docs could not solve these issues.
When I do as described in this guide (https://docs.microsoft.com/de-de/windows/mixed-reality/develop/unity/managed-debugging-with-unity-il2cpp), first issues is on point 6. Usually I prefer to deploy my apps to the HoloLens via USB as described here: https://doc

[2020-11-03 17:05] Lindaae opened #112 "Why are my anchors not saved (locally) on HoloLens?"
Hi, I want to work with spatial anchors/world anchors in unity and created an application based on this guide. My intention is that a user can place the cube in a desired location, close the app, start the app again and the cube is still at the chosen location. My application consists of a cube with an ObjectManipulator Component. The OnManipulationStarted Event calls a RemoveWorldAnchor method an

[2020-11-03 18:20] fieldsJacksonG commented on #102
Sorry, you are totally correct, parens are definitely needed.  Dug up the original project used to create the doc, see it here:
https://1drv.ms/u/s!AmC-atmmBtrhm6pGO9xlg3nepiYK5g?e=wDGD1y

[2020-11-03 18:32] fieldsJacksonG commented on #109
When remoting, you could use a webcam attached to your PC to simulate the HoloLens PV camera.

[2020-11-04 05:46] jworch commented on #102
Awesome. Thanks a lot. I had first rough look and it seems to be similar to what compiles for me now. Should work then. In that case, I'll close this issue. When I have time again and it's not working I'll reopen. Thanks again.

[2020-11-04 05:46] #102 closed

[2020-11-04 06:34] zhangypcn commented on #109
Sounds worth a try, can you describe it in more detail?

[2020-11-04 07:22] jworch commented on #102
Just a minor addition: These changes should be incorporated into the docs.

[code]

[code]

[2020-11-04 19:11] HiromuKato opened #113 "Contains the keyword "Unity""
This is Unreal Development Overview page, but the Getting started section contains instructions for installing the Unity package.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c948d6e8-720f-2603-a760-dfc5ae5c7a25
* Version Independent ID: 70c418eb-71d6-aae8-f590-9da1077787c4
* Content: [Unreal Development Overview - M

[2020-11-04 21:13] #58 closed

[2020-11-04 21:13] #59 closed

[2020-11-04 21:13] #60 closed

[2020-11-04 21:57] chwarr commented on #77
After validating, please make sure your code configures your Azure Spatial Anchor's account domain to match what you see in the Azure portal for that account. Please do not rely on an unset domain to mean East US 2.

[2020-11-04 22:43] martinwilter commented on #72
Hi @hferrone, I believe this issue can be closed. (It was meant to be auto closed when PR merged in in the commit message).

[2020-11-05 01:46] #110 closed

[2020-11-05 01:47] JPinlac commented on #110
Stumbled on the settings.

[2020-11-05 23:36] blueValeria opened #114 "XR plugins are incompatible with legacy XR unity set up needed for MRTK 2.4.0 to work"
Hello,
I wasn't able to build my MRTK project for Android (Azure Spatial Anchors for Android and iOS tutorial 5) because ARCore XR Plugin is not compatible with XR Legacy set up needed for MRTK 2.4.0 to work. I tried to incorporate Windows Mixed Reality using XR plugin management, but MRTK throws compiler errors ( tried version 2.5.1 as well), so I'm not sure how to make it work.
[Enter feedback h

[2020-11-05 23:49] blueValeria opened #115 "Unable to find Azure Anchor Saved to Network"
I wasn't able to find Azure Anchor that I successfully saved to Network . I followed the steps 1 - 8  in the Sharing Azure Spacial Anchors between devices section, but step 8 always fails with error: " Attempt to locate anchor with ID "..."failed. Locate anchor status was 'NotLocated' but 'NotLocatedAnchorDoesNotExist'" Anchor ID that is returned from the Network doesn't  match the ID of the ancho

[2020-11-06 00:14] #113 closed

[2020-11-06 00:47] martinwilter commented on #114
Hi @blueValeria,

What version of Unity and ARCore XR Plugin are you using?

Can you share a screenshot of the error message(s)?

[2020-11-06 01:09] martinwilter commented on #115
Hi @blueValeria,

I think it's possible that someone else created an anchor and shared the anchor ID to the network before you retrieved your anchor ID, and causing the ID to change. Can you try to change the default sharing pin to something other random numbers and see if that resolves the issue?

To do this, in the **Hierarchy** window, select the **ParentAnchor** object, then on the **Anchor Mo

[2020-11-06 04:05] blueValeria commented on #115
Hi,
It seems like when I share anchor to the network, it's not actually saved
because now that I changed my public pin, even though I get a debug message
that my anchor was shared successfully, when I try to load it I get 404 not
found error now. I also tried to Debug.Log(httpResponse.Content.ToString())
in ShareAzureAnchorIdToNetwork() method in AnchorModuleScript and I'm
getting an empty string

[2020-11-06 04:10] blueValeria commented on #114
Hi,
I was using 2019.4.4f1 version of Unity, ARCore XR plugin 3.1.3, AR
Foundation 3.1.3, and XR Legacy Input Helpers 2.1.4.
I had to remove it, but will try to reinstall it again tomorrow to make the
screen shots of the errors I'm getting
Thank you for the prompt response!

On Thu, Nov 5, 2020 at 7:48 PM Martin Wilter <notifications@github.com>
wrote:

--

© 2020 Blue Telescope, Inc. All rights r

[2020-11-06 21:01] martinwilter commented on #115
Hi @blueValeria, thanks for changing the pin and for providing additional helpful information. Please keep using the unique pin you created.

Yes, agree that this indicates the anchor ID is never saved. My guess is that it's caused by a known Unity [issue](https://issuetracker.unity3d.com/issues/system-dot-net-dot-socket-objects-throw-argumentexception-in-il2cpp-after-installing-windows-sdk-2004)

[2020-11-06 21:08] martinwilter commented on #114
Hi @blueValeria, the versions seems fine, although I haven't personally tested this project with any Unity 2019.4.x versions. I'll try to do a quick test soon to verify that there are no issues using Unity 2019.4.x versions (the tutorial was created for Unity 2019.3.15 as mentioned in the [prerequisites](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa

[2020-11-09 17:43] blueValeria commented on #115
Hi Martin,
I went through the steps you've recommended and uninstalled  Windows SDK
10.0.19041.0 and actually downgraded my Unity project to 3.15 version
recommended in the tutorial, but unfortunately I still get 'file not found
error' when I try to retrieve the anchor that I supposedly saved to the
network. Are there some Azure account permission settings that would
prevent me from saving anchor

[2020-11-10 13:18] Lindaae commented on #112
I found an existing simple unity project implementing the world anchor function using the WorldAnchorManager component and decided to use this project instead of of following the guide. Therefore, this issue may be closed. I suggest using the WorldAnchorManager to ohter users. Example can be found here:
https://github.com/z3ky/mrtk-world-anchors

[2020-11-10 13:18] #112 closed

[2020-11-11 18:13] martinwilter commented on #115
Hi @blueValeria,

There are some Azure and Unity related things that could cause issues, but since you are able to create Azure Spatial Anchors, I don't think that's the issue. Also, the 'share anchor to network' feature is not directly related to the Azure account, it saves the anchor ID on a simple rest server.

Can you check if your anchor ID was actually uploaded to the server, to do that, jus

[2020-11-11 19:18] martinwilter commented on #114
@blueValeria, just a quick note to let you know the project should work fine with Unity 2019.4.14. I upgrade project and didn't face any issue deploying to HoloLens and Android and sharing anchor between the two devices.

[2020-11-12 04:20] blueValeria commented on #115
Hi Martin,
I know my anchor is not saved to the server because I checked that URL
earlier and got 404 error. The question is why it is not being saved... As
far as target SDK  in Unity, I still can see 10.0.19041.0 in the dropdown,
even though I went through the steps you suggested and removed this SDK
from the Visual Studio Installer. But even though I can see10.0.19041.0
version in the dropdown,

[2020-11-12 14:13] davejones74 opened #124 "Minor descrepency in WMR driver release dates"
The page https://docs.microsoft.com/en-us/windows/mixed-reality/enthusiast-guide/mixed-reality-software page has the WMR device update for 10.0.19041.2034 released on October 8th 2020, yet when you click on the link the published date is September 16th 2020 (9/16/2020).

[2020-11-12 19:23] martinwilter commented on #115
Hi @blueValeria,

Can you check Settings > Apps and then search for windows and if you see 10.0.19041.x, try to uninstall from there:

![image](https://user-images.githubusercontent.com/16746283/98985669-bdc0d800-24d8-11eb-9ba4-5a5437097de4.png)

After uninstall, relaunch Unity project and check if 10.0.19041.x is gone from the Target SDK Version dropdown.

[2020-11-12 21:36] #109 closed

[2020-11-12 23:20] #72 closed

[2020-11-12 23:21] hferrone commented on #110
@tesych Is this something you can answer or ping someone your team who can?

[2020-11-12 23:24] hferrone commented on #124
@tesych Can you confirm?

[2020-11-12 23:26] #114 closed

[2020-11-12 23:29] #40 closed

[2020-11-12 23:32] hferrone commented on #51
@martinwilter Is this a tutorial you or your team updated? If so, can you add these new screenshots and some language to address these new options?

[2020-11-12 23:34] hferrone commented on #66
@martinwilter What's the status on this?

[2020-11-12 23:39] martinwilter commented on #40
@hferrone, were those lines added to the docs repo? (The md I linked in my previous post was from our fork of the old docs repo). Let me know if want me to make a quick PR.

[2020-11-12 23:46] martinwilter commented on #66
@hferrone, I can add some Tip tags and make a PR for this today.

[2020-11-12 23:46] martinwilter commented on #51
@hferrone, our team created this in 2019, but we didn't update it in 2020.

[2020-11-13 00:23] #74 closed

[2020-11-13 00:23] hferrone commented on #84
@YashMaster Any updates on this?

[2020-11-13 00:25] hferrone commented on #93
@SzymonS, is this something you can assist with or ping someone who can?

[2020-11-13 00:25] hferrone commented on #94
@SzymonS, is this something you can assist with or ping someone who can?

[2020-11-13 01:15] martinwilter commented on #51
@hferrone, I was just informed that our team is likely to be able to update this tutorial in the near future.

[2020-11-13 03:47] blueValeria commented on #115
Hi Martin!
I'm so happy to report that after uninstalling Windows SDK 10.0.19041.x
from the Apps Settings I was able to save and retrieve anchor from the
network!
Thank you so much for your help!

On Thu, Nov 12, 2020 at 2:23 PM Martin Wilter <notifications@github.com>
wrote:

--

© 2020 Blue Telescope, Inc. All rights reserved. All Blue Telescope
graphic representations, ideas, concepts, and inte

[2020-11-13 04:04] blueValeria commented on #114
Hi Martin,
I saw this issue was closed by Harrison, but I wanted to let you know that
I just didn't have a chance to investigate and send you screenshots you've
requested. I'm going to find time and play with it in the next couple of
days and let you know how it goes.
Thank you for your patience!

On Wed, Nov 11, 2020 at 2:18 PM Martin Wilter <notifications@github.com>
wrote:

--

© 2020 Blue Tele

[2020-11-13 12:42] lukas-walker opened #125 "Typo in all hand-rigs"
Hello!

As far as I can tell, in all Handrigs that you provide for the HandCoach feature (left, right, both), there's a typo in the third middlefinger joint. It says "middel" instead of "middle". This lead to a lot of confusion when I was trying to implement an automated HandCoach feature in Unity for the Hololens.

That this typo hasn't been found tells me that the handrig isn't used much. Is it

[2020-11-13 18:05] martinwilter commented on #114
@blueValeria, no problem at all, you can respond here when you are ready and I should still be notified even though the issue is closed.

[2020-11-13 18:30] martinwilter commented on #115
Hi @blueValeria, that's great news! Thanks for letting us know.

<br>

__

@hferrone, this issue can be closed.

[2020-11-13 23:07] #66 closed

[2020-11-14 01:44] YashMaster commented on #84
Still following up!

On Thu, Nov 12, 2020 at 4:24 PM Harrison Ferrone <notifications@github.com>
wrote:

[2020-11-16 16:40] #69 closed

[2020-11-16 23:05] grayclee commented on #125
Hi! thank you for bringing this to my attention!
I have updated the rigs and submitted a new PR
https://github.com/MicrosoftDocs/mixed-reality/pull/127#issue-522026634

[2020-11-17 18:21] jessemcculloch commented on #125
We have merged PR #127 and that should resolve the typo part of this issue.

[2020-11-17 21:00] #125 closed

[2020-11-17 21:02] hferrone commented on #51
@martinwilter Ok thanks, please close this issue when it gets an update!

[2020-11-17 21:03] #115 closed

[2020-11-17 21:25] tesych commented on #124
That is correct. We published the driver on September 16th for testing before releasing it to the public on October 8th.

[2020-11-17 21:27] #124 closed

[2020-11-18 09:38] Pepin- opened #128 ""Example of problematic boxing via nullable value types" - Incorrect information?"
Hey, I was reading the section on boxing and looking at the MyParticle example. It seems to say that using a nullable return value will always entail boxing. I don't think that's true since `Nullable<T>` is a basic struct wrapping the underlying value. I believe boxing would only occur if the nullable itself were boxed, no?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-11-20 09:37] paulmelis opened #130 "Shader link broken"
Under "Shader with occlusion support" there's a link ("We have included a simple shader that supports the occlusion") that should point to the file Text3DShader.shader, but the link is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f9f9ed3-b6cd-2a1c-c106-fd719dbfb624
* Version Independent ID: 507bf69d-3d81-4ac

[2020-11-20 23:48] #130 closed

[2020-11-23 09:08] cheles opened #131 "Fix ARTrackableNotify link"
ARTrackableNotify link should point to `https://docs.unrealengine.com/en-US/API/Runtime/AugmentedReality/UARTrackableNotifyComponent/index.html` not Unity root documentation link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4db9ec0f-8219-f292-1ac5-6ca607125b33
* Version Independent ID: a04e35e0-a4a8-2af9-88a7-a5d44f9

[2020-11-23 23:56] #131 closed

[2020-11-24 05:35] Eddiechui opened #132 "UXTools version updated"
[The version of UXTools is updated to UXTools.0.10.0 and there is no BP_ButtonHoloLens2 in it. Can the tutorial get updated? Thanks.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba90317f-fc2e-1af2-dee1-b367368ea697
* Version Independent ID: 37bfc738-80d9-faba-f75e-0651a7b72b74
* Content: [5. Adding a button & resett

[2020-11-24 05:50] Eddiechui commented on #132
I have tried to combine both UXTools.0.10.0 and UXTools.0.9.0 and put it in the Plugins folder. The BP_ButtonHololens2 blueprint is shown as 'Blueprint Bad' instead of the blue icon shown in the tutorial. Can anyone please advise?

[2020-11-24 07:43] Eddiechui opened #133 "Packaging Failure"
When I was packaging my project, it shows an error in 'UxtPressableButtonActor.h' as below. Can anyone please advise?

UATHelper: Packaging (HoloLens):   C:/Users/eddie.chui/Documents/Unreal Projects/MyProject8/Plugins/UXTools/Source/UXTools/Public/Controls/UxtPressableButtonActor.h(106) : Error: Unrecognized type 'FUxtTextBrush' - type must be a UCLASS, USTRUCT or UENUM
PackagingResults: Error: U

[2020-11-25 12:43] Seajanjan opened #134 "Integration Azure Storage failed / Set Object gets stuck at please wait..."
Hey, I've followed this tutorial: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-azure-02 , I'm using Unity 2019.4.4 and VS2019 Version 16.7.6. In Unity I could push data to my Azure Table Storage as showen here: https://prnt.sc/vpt3sv . Then I deployed the application to my HoloLens 2. after pressing **Set Object**, entered a name and pressing **Set Obj

[2020-12-01 19:19] yuchad opened #137 "Unity + LUIS hololens 2 tutorial out of date"
Hi there, I have been attempting to implement Azure Speech services for Unity and the hololens 2.

I have been able to successfully implement step 1-3 fairly easily and quickly.

Unfortunately, step 4, setting up intent and natural language understanding, seems to be having quite a bit of issues.

The issues can be described by a user at this forum post: https://docs.microsoft.com/en-us/answers/qu

[2020-12-01 21:21] hferrone commented on #132
Hi @Eddiechui, we've got an update coming for all our tutorials to use UXTools 0.10. You'll have to hold tight for the moment.

@sw5813 Can you assist in any way?

[2020-12-01 21:23] hferrone commented on #134
@martinwilter, @mr0ng or team - can you assist or is this a support question?

[2020-12-01 21:23] hferrone commented on #137
@martinwilter, @mr0ng or team - can you assist or is this a support question?

[2020-12-01 21:29] yuchad commented on #137
@hferrone Appreciate you bringing this to others who would know about this!

Additionally, it seems that the forum post I sent you has to do with a hololens 1 project, however, comparing the source code, they are essentially the same with different function names as the tutorial provided in the hololens 2 tutorials. Ultimately, I have the same error, which I believe has to do with the way `SubmitR

[2020-12-03 16:32] Eddiechui commented on #132
Sure I can wait. Thanks!

[2020-12-03 18:13] sw5813 commented on #132
@Eddiechui - the tutorial update to use UXT 0.10 is now live!

[2020-12-03 19:45] martinwilter commented on #134
Hi @hferrone, unfortunately, I'm not familiar with the details of this tutorial series.

[2020-12-03 19:53] martinwilter commented on #137
@hferrone, I haven't looked into the new LUIS portal yet, so not sure if this issue might be caused by those changes.

@yuchad, are you seeing any error messages that you can share?

[2020-12-03 20:22] yuchad commented on #137
Hi @martinwilter

[code]

And doing some debugging, it's possible that on line 151,

` AnalysedQuery analysedQuery = JsonUtility.FromJson<AnalysedQuery>(unityWebRequest.downloadHandler.text);`

the analysedQuery is perhaps not being properly parsed.

I try to run a ` Debug.Log(analysedQuery.topScoringIntent.intent);` but, I am simply getting `Null` which leads me to believe that possibility the Js

[2020-12-03 22:55] martinwilter commented on #137
Hi @yuchad, thanks for the info.

I think you are correct, the culprit is on line 151 when creating the AnalysedQuery object from the JSON. Looks like this is caused by LUIS upgrade to v3 and changes to the response structure and variable names, for example, topScoringIntent is now topIntent.

To work around this you would have to recreate the object (AnalysedQuery and probably also TopScoringInte

[2020-12-03 23:10] martinwilter commented on #51
@hferrone, just a heads-up, I'm no longer on the team that handles the tutorials so I won't know if/when this tutorial series is updated.

(You can still tag me on future issues if my assistance is needed).

[2020-12-04 00:57] #132 closed

[2020-12-04 08:35] YIREN1 opened #139 "Cannot download Holographic Remoting Player on Microsoft store on Hololens"
![20201204_003409_HoloLens](https://user-images.githubusercontent.com/39056160/101140991-a647bb80-364e-11eb-9ee5-6bb7ee7db967.jpg)
Please help :)

[2020-12-04 11:28] macborow commented on #133
Hi @Eddiechui ! Apologies for the inconvenience. I see it has been over a week since you reported this issue and judging by another ticket you created I think you might have upgraded the project to use UXTools 0.10.0? Are you still experiencing this build issue or did it go away after the upgrade? In case the problem is still there, perhaps it could be fixed by removing all copies of UXTools from

[2020-12-04 17:34] #133 closed

[2020-12-04 17:36] hferrone commented on #139
Hi @YIREN1, please file a support ticket (https://docs.microsoft.com/en-us/hololens/hololens-feedback) - thanks!

[2020-12-04 17:36] #139 closed

[2020-12-07 06:52] polar-kev opened #141 "Update Visual Studio prereq to version 16.8 or later"
Visual Studio 2019 version 16.8 fixes a HoloLens2 ARM64 compilation issue as described here, https://github.com/microsoft/MixedRealityToolkit-Unity/issues/7624#issuecomment-665309866

Visual Studio 2019 v16.8 is officially released so the prerequisite should be updated to recommend Version 16.8 or later.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-12-07 17:07] #141 closed

[2020-12-07 17:11] hferrone commented on #134
Hi @Seajanjan, please file a support issue - https://docs.microsoft.com/en-us/hololens/hololens-feedback, thanks!

[2020-12-07 17:11] #134 closed

[2020-12-07 17:12] hferrone commented on #111
Hi @Lindaae, please file a support issue - https://docs.microsoft.com/en-us/hololens/hololens-feedback, thanks!

[2020-12-07 17:12] #111 closed

[2020-12-07 17:13] hferrone commented on #107
Hey @tksharpless, please file a support ticket - https://docs.microsoft.com/en-us/hololens/hololens-feedback, thanks!

[2020-12-07 17:13] #107 closed

[2020-12-07 17:14] hferrone commented on #51
Closing this one because we have duplicates for tracking the issue :)

[2020-12-07 17:14] #51 closed

[2020-12-07 17:48] hferrone commented on #93
Hi @AMollis, this doc has been updated! For reference - https://github.com/MicrosoftDocs/mixed-reality/pull/140

[2020-12-07 17:48] #93 closed

[2020-12-07 17:48] hferrone commented on #94
Hi @AMollis, this doc has been updated! For reference - https://github.com/MicrosoftDocs/mixed-reality/pull/140

[2020-12-07 17:48] #94 closed

[2020-12-07 19:55] hferrone commented on #128
Thanks for this callout @Pepin!

[2020-12-07 19:55] #128 closed

[2020-12-07 20:41] yuchad commented on #137
@martinwilter
Thank you. I appreciate the reply.

I will have to take a look at trying to unpack the results and properly recreate the object as required.

Cheers!

[2020-12-08 00:00] thetuvix commented on #107
For Windows Mixed Reality VR headsets, the Feedback Hub info you'll need is here: https://docs.microsoft.com/en-us/windows/mixed-reality/enthusiast-guide/filing-feedback

Hybrid integrated/discrete laptop GPU setups can indeed have unique issues - filing a bug through Feedback Hub will help us gather the right details from your system setup to get this fixed!  Thanks so much!

[2020-12-08 12:42] andreawie commented on #88
I found out that turning **_Use desktop accelerated graphics_** off solves my problem.

[2020-12-08 22:54] hferrone commented on #84
Hi @Gregoire6Fr, what Windows version are you working with, and are you using HoloLens and/or VR desktop?

[2020-12-08 22:54] hferrone commented on #84
@chgatla-microsoft

[2020-12-08 23:41] snakex2000 opened #142 "Need these samples updated prior to 2/2021 since ASA SDK 2.7 is absolutely required per SDK release last month"
The entire ASA samples series needs to be redone since it is promoting to use the old ASA 2.3 SDK versus what is going to be obsolete in less than two months.   ASA 2.7 SDK (and higher in future) is now going to be the only supported SDK for Microsoft support

Also, these docs are pointing to old Unity 2019.3.x as well.  We need to get onto LTS  and revamp all these docs prior to February 2021.

T

[2020-12-08 23:55] hferrone commented on #142
@mr0ng Did these get updated the last time around?

[2020-12-09 13:58] Efaq commented on #77
@chwarr could you please give more details about "make sure your code configures your Azure Spatial Anchor's account domain"? Exactly which part of the code? And how to configure the ASA account domain? I have had a hard time finding documentation about it, and the problem still persists for me.

Thanks!

[2020-12-09 15:15] Tyoons opened #143 "Failed to connect with Azure Storage."
Hi,

Im actually running through https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-azure-02

I created a free Azure Account to test Azure solution with Hololens. However I can't write data to the azure table.
It works fine on unity, but when I deploy it to the Hololens I get this error :

Failed to connect with Azure Storage.
If you are running with the def

[2020-12-09 16:24] chwarr commented on #77
See if these sections of the documentation help, @Efaq:

* [Unity for HoloLens](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-hololens?tabs=azure-portal#configure-the-account-information) (and similarly for Android and)
* [HoloLens  in C++/WinRT](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-hololens?tabs=azure-portal#configur

[2020-12-10 19:56] hferrone commented on #143
Hi @Tyoons, please file a support ticket at https://sitehelp.microsoft.com/, thanks!

[2020-12-10 19:56] #143 closed

[2020-12-11 14:33] FelixWeichselgartner opened #146 "Typo in german version"
Hi, found a typo:

https://docs.microsoft.com/de-de/windows/mixed-reality/develop/platform-capabilities-and-apis/qr-code-tracking#getting-the-qr-package

Erhalten des QR-Pakets
Sie können das nuget-Paket für die QR-Code Erkennung hierherunterladen.

==> hier herunterladen.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum Git

[2020-12-11 14:35] FelixWeichselgartner commented on #146
https://docs.microsoft.com/de-de/windows/mixed-reality/develop/platform-capabilities-and-apis/qr-code-tracking#detecting-qr-codes-in-unity

Sie können die QR-Code Erkennungs-API in Unity verwenden, ohne eine Abhängigkeit von mrtk zu treffen. Hierzu müssen Sie das nuget-Paket mithilfe von nuget für Unityinstallieren.

==> Unity installieren.

both after links... maybe this is a recurring theme - or

[2020-12-11 14:35] Snacko opened #147 "How do I SKIP the "Learn Mixed Reality" tutorial?"
Every time I update my nVidia Drivers, I must first uninstall WMR so that nVidia Control Panel won't act crazy and crash.  Once WMR is removed, nVidia Surround will work correctly and I can setup my 3 monitors.  Then I can reinstall WMR and everything works.

**How do I SKIP the "Learn Mixed Reality" tutorial??????**  It is a pain to have to do that every time I update my graphics drivers.  And I

[2020-12-11 17:28] hferrone commented on #147
@tesych @tmlyon Any ideas?

[2020-12-16 19:28] bgesler1 opened #151 "BoundingBox deprecated"
BoundingBox is deprecated, this page should be updated to use BoundsControl?

![image](https://user-images.githubusercontent.com/69313974/102396696-cbbbba00-3faa-11eb-99f7-364e01a0436a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f20e0bbe-0f42-1b1d-5875-c2fe81e3a3a3
* Version Independent ID: d499b1bb-7c06-7420-8

[2020-12-17 11:04] shahiltp opened #152 "Cursor in MTK Hand Onfocus never trigger"
Cursor in MTK Hand Onfocus always trigger at any time
to reproduce it do the settings for leap motion
show your hand cursor always trigger onfocus even it is not hitting ray casting  anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69249bf8-d2cd-5efe-ec17-b72078174617
* Version Independent ID: cc1ba99d-5d08-f32

[2020-12-17 11:10] shahiltp commented on #152
I mean It is not entering to rest cursor
on press is working but on focus is always actiavted even raycast does not hit anywhere

[2020-12-17 13:00] BaraVR opened #153 "Shared spatial data for multiple users"
Hi, we are developing a Virtual reality application with Unity 2019, using MRTK and the new XR manager plugin for immersive devices (namely Reverb g1) with the Mixed Reality package active in plugin management. We are creating a networked app that will make use of shared space and the Map manager feature. It is working nicely and the setup was very fast, but we have an issue with the automatic map

[2020-12-17 17:13] hferrone commented on #152
If you're using MRTK, please file this issue in their repo to get support :) https://github.com/microsoft/MixedRealityToolkit-Unity

[2020-12-17 17:13] #152 closed

[2020-12-17 17:14] hferrone commented on #153
@polar-kev Is this an MRTK issue or something else?

[2020-12-17 17:34] hferrone commented on #147
Hi @Snacko, this isn't functionality that we currently support.

[2020-12-17 17:34] #147 closed

[2020-12-17 22:02] davidkline-ms commented on #153
@hferrone, This looks to be an issue outside of MRTK,.

and

Lead me to believe it is beneath MRTK.

[2020-12-17 22:03] hferrone commented on #151
Hi @bgesler1, these docs will be updated with MRTK 2.5 in the near future.

[2020-12-17 22:03] #151 closed

[2020-12-17 22:21] bgesler1 commented on #151
Thanks, good to know!

Just to note, I originally used BoundsControl, and it worked in the Unity Editor. But on the Hololens, the app crashed when enabling it. I went back to using BoundingBox which works on the Hololens. May have been something I missed with setting up BoundsControl, so will wait for this documentation to be updated.

[2020-12-17 22:21] hferrone commented on #153
Roger that!

@BaraVR, please file a support ticket if you'd like more assistance! (https://sitehelp.microsoft.com/)

[2020-12-17 22:21] #153 closed

[2020-12-17 22:23] hferrone commented on #146
@cnicco, can you assist?

[2020-12-29 18:46] Flozilla2018 opened #155 "Azure Spatial Anchors demo app is not working on HoloLens 2 Emulator"
Hello,

i tried to do the "Azure Spatial Anchors" tutorial and test it on the HoloLens 2 Emulator but it does not work.
I always get the error that the "SpatialAnchorManager is improperly configured" because somehow the _spatial perception access_ is not granted.

The _Spatial Perception Capability_ is activated in the Unity Project and it is also set in the generated _Package.appxmanifest_ file o

[2020-12-31 21:38] j-a-lewis opened #156 "Suggestion on Presbyopia Correction for Windows Mixed-Reality Enthusiasts Guide"
I'm interested in getting an HP Reverb G2 for Microsoft Flight Simulator 2020.  I understand there is no "eye relief" for the G2 or other Windows Mixed-Reality headsets, at least according to the specs for the standard.  The HP Reverb G2 FAQs section in the Enthusiast's Guide essentially just says, "Just wear your corrective lens."  But the guide and the standard don't address the question of pres

[2020-12-31 23:15] hferrone commented on #156
Great point @j-a-lewis!

@tesych @tmlyon Can you confirm/assist?

[2020-12-31 23:53] alwinv opened #157 "Two objects in the hierarchy are named "Indicator", which can cause confusion with the instructions"
When setting up the "Indicator" button for the menu, I'd suggest distinguishing between the "Indicator" (chevron) and "Indicator" (button). Otherwise, the instructions are ambiguous. For example, since the button we're modifying is named "Indicator" also, I incorrectly used that object :-) I was pretty sure that was wrong while I was doing it though since toggling activation for the object using t

[2021-01-03 02:41] Skyluker4 opened #159 "Holographic Remoting Steps"
For enabling Holographic Remoting there should be an extra step for making sure that the Windows Default RHI is DirectX11. With DirectX12 enabled as suggested by Performance recommendations for Unreal by the previous step in the tutorial, holographic remoting will not connect to the Hololens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-01-04 16:35] hferrone commented on #157
@mr0ng Can you confirm this and make the changes?

[2021-01-04 20:37] hferrone commented on #159
Hi @Skyluker4 - the tutorial is using Windows Mixed Reality, which means the Default RHI/DirectX11 works as expected. Select DirectX12 is for OpenXR only.

We've updated the performance and tutorial docs to call this out clearly - thanks for submitting!

[2021-01-04 20:37] #159 closed

[2021-01-04 20:41] hferrone commented on #137
@mr0ng Can you include this fix in the tutorials update please?

[2021-01-04 20:43] hferrone commented on #155
Hi @Flozilla2018 - this is more of a support question. Please submit a ticket here (https://sitehelp.microsoft.com/).

[2021-01-04 20:43] #155 closed

[2021-01-04 21:25] chgatla-microsoft commented on #84
@Gregoire6Fr can you please elaborate if you are seeing this in your own app or on the sample app also. Also can you confirm if this is on a hololens or on desktop? and you OS version, the sample app version or if this is only in your app then please share the QR nuget package version you are using.

[2021-01-04 22:41] hferrone commented on #84
@Gregoire6Fr - can you also run the app from this release on your HoloLens (https://github.com/chgatla-microsoft/QRTracking/releases/tag/SampleQRCodes_1.0.98.0_Master_Test)

[2021-01-05 15:40] NLR-L opened #160 "Title says Mulitple instead of Multiple in the category menu"
Title says Mulitple instead of Multiple in the category menu
![image](https://user-images.githubusercontent.com/44224883/103666178-92a4b300-4f74-11eb-9045-33e87f5478de.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a79cabb-52f4-1cd5-d473-174391c73de3
* Version Independent ID: fa30affe-a552-a265-6626-855b2326bf02

[2021-01-05 16:46] #160 closed

[2021-01-05 18:40] hferrone commented on #146
@FelixWeichselgartner - thanks for bringing this up, we've filed a bug report.

[2021-01-05 18:40] #146 closed

[2021-01-06 09:50] zxubian opened #161 "Wrong section title in the Table of Contents"
[Enter feedback here]
The title of this page/section is "2. Using speech recognition to execute commands".
However, in the table of contents to the left it is labeled as "Adding an offline mode for local text-to-speech translation".
![image](https://user-images.githubusercontent.com/8446683/103754699-08318180-5050-11eb-966d-ffa3866e1196.png)

---
#### Document Details

⚠ *Do not edit this section.

[2021-01-06 16:29] #161 closed

[2021-01-07 03:07] zxubian commented on #161
@hferrone
Thank you for taking the time to resolve this issue.
The section title is now the same as the title in the Table of Contents. However, the chosen title does not fit the contents of the page. The other title ("Using speech recognition to execute commands") seems to fit the page better.
Please correct me if I'm wrong.

[2021-01-09 00:17] SimonDarksideJ opened #163 "All steps From adding the "Tap to Place" script fail"
[Enter feedback here]
Following the step to add the "TapToPlace" component, the instructions fail, initially as this step is no longer possible in MRTK 2.5+

As the option does not exist.  But also because by adding the TapToPlace script, the editor is flooded with errors and you cannot continue until you remove the script again.

---
#### Document details

⚠ *Do not edit this section. It is requi

[2021-01-12 19:35] hferrone commented on #163
Hi @SimonDarksideJ - The tutorial series overview states that the recommended MRTK version for this tutorial series is MRTK 2.4.0.

We're in the process of updating the content for version 2.5. Thanks for the catch!

[2021-01-12 19:35] #163 closed

[2021-01-12 22:10] Debirma opened #165 "Typing error"
In ACamCapture::BeginPlay(), BaseMaterial is defined with two "l" and then right after used with one "l"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ab48859-8e85-d45a-fb32-86c98af47c30
* Version Independent ID: c3840bec-aae8-2e88-3048-57f985c62a0e
* Content: [HoloLens Photo/Video Camera in Unreal - Mixed Reality](h

[2021-01-13 09:31] SKBSP opened #166 "Button Blueprint wont work"
Hi.

Can't get the button to work. Tried in 4.26 with 0.11.0 first. Everything went fine until I got to the button. It gave me a "Accessed None trying to read property WhiteKing" error. I'm not a programmer but after some googling I surmised that it means it cant find the WhiteKing. I did everything as the tutorial said so after a lot of fiddling today I deleted everything and started from scrach

[2021-01-14 07:21] unncbglee opened #167 "SpatialMappingCollider is Obsolete"
I appreciate if the tutorial of object detection with Azure 300 can be updated with latest code and library packages so we can actually run the tutorial and learn from it. It does not make sense and useless to follow up tutorial lessons and eventually the library package is not found.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-01-14 17:08] #165 closed

[2021-01-14 18:01] sw5813 commented on #166
Hi @SKBSP, did you set the WhiteKing property in the Main level? See step 2 of the [Firing the function](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unreal/tutorials/unreal-uxt-ch5#firing-the-function) section.

[2021-01-15 06:57] SKBSP commented on #166
Jebus... :P Tnx @sw5813 it's working now:)

[2021-01-15 08:08] CYBoys opened #168 "使用 AzureSpatialAnchors SDK 打包成 Xcode 项目的时候编译报错"
使用 AzureSpatialAnchors SDK  打包成 Xcode 项目的时候编译报错
![image](https://user-images.githubusercontent.com/15981638/104698043-b1146680-574b-11eb-90f2-ade172cc3643.png)

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 19d6068a-8891-8072-20f4-e162462140b9
* Version Independent ID: 8bbeeef9-399f-0af2-ba63-30bfe0efc4c3
* Content: [将 Azure 空间定位点集成到共享体验中 - Mixed Reality](https://do

[2021-01-15 17:30] #166 closed

[2021-01-15 17:31] hferrone commented on #168
@keveleigh @mr0ng Can you guys assist?

[2021-01-15 17:49] msftradford commented on #142
Hi @snakex2000, thanks for the feedback! I've opened an internal issue (#31365908) and we'll get right on it. @hferrone and @mr0ng, feel free to assign to me.

[2021-01-15 17:55] msftradford commented on #92
@cheles, thanks for bringing this to our attention. we're working on updating the entire tutorial to modern ASA (#31365908). I'm not sure about the surfaces links, probably best to file a separate issue.

[2021-01-16 05:48] CYBoys commented on #168
I uploaded the entire project to GitHub https://github.com/CYBoys/CompileError.git . The compiled Xcode project is too large to upload. Please switch to the iOS platform to compile and test. You will see the following errors.

![image](https://user-images.githubusercontent.com/15981638/104797015-ef666000-57f5-11eb-95dd-955d248b4d4f.png)

[2021-01-17 13:45] Radixtrator opened #169 "Find Azure Anchors doesnt work"
I followed the tutorial exactly and everything works, but the FindAnchor function doesnt work and always returns with the message "Current Azure anchor ID is empty". Everything else works perfectly and the anchors are created. Even the loading works but that one function never works. Any help?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-01-18 18:05] young-tae-lim opened #173 "AnchorModuleScript > FindAzureAnchor () or FindAzureAnchor(string)"
[여기에 피드백 입력]
I put the spatial anchors account id and account key into ParentAnchor object.
But when I run the tutorial program on hololens 2,
whenever I choose the FindAzureAnchor, then 'account ID is empty' is appeared on Debugwindow.

What is the problem? Can you help me?

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: 97b7f65b-2300-1e88-3072-5ecc28e5a8e

[2021-01-18 22:43] varunsiddaraju commented on #173
Hi @young-tae-lim , thanks for the feedback! We are updating the tutorial and the latest updates will fix the current issues.

[2021-01-18 22:44] varunsiddaraju commented on #169
Hi @Radixtrator , thanks for the feedback! We are updating the tutorial and the latest updates will fix the current issues.

[2021-01-18 22:44] varunsiddaraju commented on #168
Hi @CYBoys, thanks for the feedback! We are updating the tutorial and the latest updates will fix the current issues.

[2021-01-19 01:32] CYBoys commented on #168
Thank you very much, would you please close this isses after updating the tutorial? In that case, Github will let me know.

[2021-01-19 03:08] varunsiddaraju commented on #168
Sure, will do.

[2021-01-19 18:16] #137 closed

[2021-01-19 18:19] #157 closed

[2021-01-19 22:54] hferrone commented on #156
Hi @j-a-lewis - Since this isn't a developer issue, but a hardware/support topic, we can't advise or add this kind of information to our docs. This would be something that HP, or any headset manufacturer, would be responsible for. Thanks!

[2021-01-19 22:54] #156 closed

[2021-01-20 00:58] j-a-lewis commented on #156
As you think best.  However, the Windows Mixed-Reality Enthusiast's Guide does have a table of hardware specs, including IPD distances, and in the HP Reverb G2 FAQ, the issue of how to get a crisper image is discussed, clearly a hardware-related image (or where does software come into that?).  Presumably, the point of the Guide is to have members of the general public have a favorable experience w

[2021-01-22 18:02] #173 closed

[2021-01-22 18:02] #169 closed

[2021-01-22 18:03] #142 closed

[2021-01-22 18:03] #92 closed

[2021-01-25 12:15] cheles commented on #35
I believe that this should link to https://github.com/microsoft/MixedReality-SceneUnderstanding-Samples

[2021-01-25 16:00] hferrone commented on #35
Thanks, updated!

[2021-01-26 00:37] ShogoTakagi commented on #84
Hi. I'm having same problem.
Strangely enough, QRCode.LastDetectedTime returns the time to about a month ago...

Project Environment:

Unity2019.4.4f1
LegacyXR(Windows Mixed Reality)
**Holographic Remoting**
MRTK2.5.0

Is there any information on the environment of holographic remoting?

[2021-01-26 01:33] ShogoTakagi commented on #84
I created a minimal project that can reproduce the issue.
Please run it in a Holographic Remoting in editor.
https://github.com/ShogoTakagi/ForQRCodeIssue

More information on my environment:
Windows 10 Pro (64bit)
OS build: 19042.685

HoloLens2
Windows Holographic for Business
OS build: 10.0.19041.1134

[2021-01-26 09:04] Gregoire6Fr commented on #84
Hey, sorry for the delay.
I'm working with hololens 2 on my own app and the nuget version of the QR package I'm using is 0.5.2103.
I can't tell you the OS version because I do not have access to the hololens at the moment but I will send it to you when possible.

[2021-01-26 17:40] hferrone commented on #84
@chgatla-microsoft Can you take a look at the new info/example project?

[2021-01-26 19:43] chgatla-microsoft commented on #84
@Gregoire6Fr unfortunately remoting cannot translate time stamps properly. Do you have the issue when running the app on the device also did you run the sample app on the device to see if you see the same issue?

[2021-01-26 22:29] hferrone commented on #84
@chgatla-microsoft Can you explain why it doesn't translate time stamps correctly during remoting? I'll need to update the docs at some point.

[2021-01-27 18:52] chgatla-microsoft commented on #84
@hferrone Remoting works by processing the QR data on one device ( in this hololens) and then using them on another device PC unity editor. So when converting timestamps around they might have offset as the Time counters on each machine are different.

[2021-02-01 16:26] hferrone commented on #84
@YashMaster Any updates on this from your end?

[2021-02-01 18:36] chgatla-microsoft commented on #84
@Gregoire6Fr  or @ShogoTakagi  let me know if you repro this on the device ( not remoting). The remoting will have the issues as posted above ( This need some feature work in the remoting to handle different time stamps.) Let me know if you repro this on live device. Also when you repo (if this is your own app) please try the sample app also and see if that repros. Let me know the details of the O

[2021-02-02 03:39] jared-goering opened #183 "Getting Error and can't build"
I keep getting this error from VS when I try to build it even after rebuilding the project.

Exception thrown at 0x000001F63219DE40 in hololens4.exe: 0xC0000005: Access violation executing location 0x000001F63219DE40.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7f65b-2300-1e88-3072-5ecc28e5a8e5
* Version Independ

[2021-02-02 08:39] AvaThalheim opened #184 "Error when deploying on Hololens 2"
I followed the Tutorial as described, yet i can not deploy the application to the Hololens 2.
Visual Studio error:
Exection thrown at 0x000002AFE686F40 in MRTKSpatialAnchors.exe: 0xC0000005: Access violation executing location 0x000002AFE686F40

How can i resolve this issue?
Any help is appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-02-02 17:12] Morgan-6Freedom commented on #84
I work with @Gregoire6Fr and it was on OS V10.0.18362.1042

[2021-02-02 17:48] hferrone commented on #183
@mr0ng Can you or the team assist?

[2021-02-02 17:51] hferrone commented on #184
Closing this issue, as it's a duplicate of one we're actively tracking down - #183

[2021-02-02 17:51] #184 closed

[2021-02-02 17:59] varunsiddaraju commented on #183
@hferrone We tried reproducing this issue on our end and it is working fine for us.
We are looking Into other ways to reproduce the issue.

@jared-goering Could you please let me know which version of unity and VS you are using?

[2021-02-03 00:07] pinkwerks opened #185 "Keyboard shortcuts for manipulating hands needs update"
This link doesn't have correct information for rotating hands.
https://docs.microsoft.com/en-us/windows/mixed-reality/out-of-scope/mrtk-101#how-to-simulate-input-interactions-in-unityeditor

_"Press Q or E(horizontal) / R or F(vertical) to rotate simulated hands"_
I'm not sure what the correct keyboard keys are, but Q & E move the camera. Likewise, pressing ctrl-h in the interaction examples don't

[2021-02-03 05:05] veeruby-developer commented on #183
@jared-goering please use Unity 2019.4.16f, MRTK 2.5.1, and VS 2019.

[2021-02-03 07:25] AvaThalheim commented on #183
Hello, yesterday  i noticed the usage of certain MRTK Prefabs is causing the same issue as well. For example, the Slate Prefab will break the Build, while the NearMenu does not.

[2021-02-03 09:03] AvaThalheim commented on #183
@hferrone I removed the DebugWindow Prefab from the scene, now the deploy works.

[2021-02-03 15:57] hferrone commented on #183
@AvaThalheim hmmmm, that would fall under an MRTK issue then - could you file one here: https://github.com/microsoft/MixedRealityToolkit-Unity/issues

[2021-02-03 15:58] hferrone commented on #185
@pinkwerks We've archived this article, but thanks for catching this! If we ever put it back into circulation, we'll be sure to update the input mappings :)

[2021-02-03 15:58] #185 closed

[2021-02-04 00:49] polar-kev opened #186 "Update recommended MRTK version to latest (2.5.3)"
The recommended MRTK version for this Beginner tutorial series should be the latest, MRTK 2.5.3.

The following tutorials should also be updated,
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-01
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-sharing-01

---
#### Document Details

⚠ *Do not edit this sectio

[2021-02-04 00:53] polar-kev opened #187 "Include MR Feature Tool step by step instructions for Beginner HL2 tutorial"
"Importing Mixed Reality Toolkit" section of "Beginner MRTK Tutorials" > "2. Initializing your project and deploying your first application" should include step by step instructions for importing the MRTK Foundation packages using the [Mixed Reality Feature Tool](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/welcome-to-mr-feature-tool) in addition to downloading github packa

[2021-02-04 01:12] polar-kev opened #188 "Tutorial packages should be included in the MR Feature Tool"
All Unity tutorial packages such should be made available for download in the MR Feature Tool.

For example, The Beginner HL2 tutorial [4. Positioning Objects In The Scene](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-04) includes the following files for download,

- [MRTK.HoloLens2.Unity.Tutorials.Assets.GettingStarted.2.4.0.unitypackage](https:/

[2021-02-04 20:54] julesra opened #189 "Missing step in MRTK setup instructions"
I am using Unity 2019.4.19f1 (fresh install) with MRTK 4.5.1 installed through the MRTK Feature Tool, and having problems with these instructions:
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02

There is a step missing in the section "Configuring the Unity project" right before "In the Project Settings window, select Player > XR Settings, click t

[2021-02-04 21:00] varunsiddaraju commented on #189
Thanks for your feedback @julesra, We will look into it and will make the necessary changes.

[2021-02-04 22:28] julesra opened #191 "Please clarify what XR pipeline is being used"
## Describe the issue

The documentation now contains instructions for two sets of pipelines: the legacy pipeline and the XR sdk pipeline. The documentation needs to be really clear about which of these pipelines is assumed to be present in the user's project. This is because some instructions won't work if the user has the wrong pipeline, and might even cause the project to break. ( Also it would

[2021-02-05 00:01] polar-kev commented on #188
After discussing with Sean Ong and David Kline, including the tutorial packages in the MR Feature Tool is not recommended since it would make the files immutable.

[2021-02-05 00:01] #188 closed

[2021-02-05 00:12] hferrone commented on #191
@varunsiddaraju Can you put this on the to-do list?

[2021-02-05 00:17] #186 closed

[2021-02-05 00:23] varunsiddaraju commented on #191
Yes @hferrone, We will update the documents with the above feedback.

[2021-02-05 16:31] #191 closed

[2021-02-05 16:47] hferrone commented on #187
@varunsiddaraju Did this get fixed in the latest tutorial update PR?

[2021-02-05 17:55] varunsiddaraju commented on #187
Yes, @hferrone This is included in the latest tutorial update PR.

[2021-02-05 17:58] #187 closed

[2021-02-05 22:32] hferrone commented on #167
Hi @unncbglee - all our MR and Azure Services tutorials only work on HoloLens (1st gen) and aren't updated for new tech. This area of our tutorials is under active review/development to bring them up to date, but there won't be any new immediate work.

I appreciate that you need this functionality right now, but all I can do right now is leave this open and update you in the future.

Cheers!

![Sc

[2021-02-06 05:25] veeruby-developer commented on #189
This Issue has been closed in the latest PR #193

[2021-02-06 12:00] RepublicofNumbers opened #194 "Is ARPin Local Store Ready returning False"
I am trying to create local anchors but cannot get past the Is ARPin Local Store Ready as per the documentation in

 https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unreal/unreal-spatial-anchors?tabs=426

What are the requirements to be able to use this function?  I cannot find a lot of info on Is ARPin Local Store Ready or ARBlueprint Library.

I am running UE4 4.26.1
Mixed Reality

[2021-02-08 00:18] #194 closed

[2021-02-08 04:35] d0614 opened #195 "Azure Anchor Cannot be applied to local position"
I'm reading this document：
https://docs.microsoft.com/zh-cn/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02

When I follow the instructions to step 8, the print message gets stuck "Looking for Azure anchor... please wait..."。The previous steps were all correct，The  AzureAnchorID found in step 8 is the same as the AzureAnchorID created in step 3, but the location cannot be position

[2021-02-08 10:15] veeruby-developer commented on #195
@d0614 The azure spatial anchors package used in the tutorial is updated with a fix and tested .
@hferrone Please close this issue.

[2021-02-08 17:43] #189 closed

[2021-02-08 17:43] #195 closed

[2021-02-08 21:58] alexeisenhart opened #197 "Unhandled Exception when enabling bounds control"
[Enter feedback here]

I'm just getting started with HoloLens 2 development. The tutorial works fine in play mode Unity on my PC and in the HL2 emulator. However, when I deploy to my HoloLens2 (via remote debugging or deploying with Visual Studio), and exception is thrown when I turn on the bounding controls.

Here's the exception that is thrown.

Exception thrown at 0x000001EDC1C38C40 in ArTestin

[2021-02-09 05:31] veeruby-developer commented on #197
@alexeisenhart  we were able to successfully build mr-learning-base-07 with Bounds control enabled. with below configuration.

- Unity 2019.4.19f
- MRTK 2.5.3
- VS 2019

[2021-02-09 14:49] alexeisenhart commented on #197
@veeruby-developer Thanks for your fast response! I was on:

- Unity 2019.4.16f1
- MRTK 2.5.4
- Microsoft Visual Studio Enterprise 2019, Version 16.8.3

So I upgraded Unity to 2019.4.19f and downgraded MRTK 2.5.3, testing after each. It still crashes in the same way.

Is this version of VS okay to use? Is there anything else I could look into?

[2021-02-09 17:55] julesra opened #198 "(Wanted) Indicate how to find MRTK version in the migration instructions"
It would be great if the documentation about MRTK migration ( https://microsoft.github.io/MixedRealityToolkit-Unity/Documentation/Updating.html ) would tell me how to find out my current MRTK version in my project. That will help me select the documentation that I need.
PS: What's the way to do this ?

[2021-02-09 19:58] hferrone commented on #198
@polar-kev Can you assist?

[2021-02-09 20:24] polar-kev commented on #198
Hey @julesra, follow these instructions to figure out which version of the MRTK you're currently using:
1. Open your MRTK project in Unity
2. Navigate to the "MixedRealityToolkit" folder in your Project window
3. Open the file called "Version"

If the file and folder above do not exist, you are on a newer version of the MRTK. Try the following:
1. Navigate to the Mixed Reality Toolkit Foundation f

[2021-02-12 23:01] YijunWang opened #199 "Outdated references to BoundingBox"
Those two occurrences of "BoundingBox" on this page should be updated to "BoundsControl" to match the recommended MRTK version (2.5.3 as of the time of reporting).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e526277-fa7f-9d2a-faed-aed2d7555c93
* Version Independent ID: ee349afa-a729-60fd-0570-dfc3458e4cc5
* Content

[2021-02-12 23:07] YijunWang opened #200 "Small target affects eye tracking experience"
The tutorial recommends adding eye tracking to the TextMeshPro object of each button, which is quite small, making the eye tracking response unreliable. Perhaps it will be better to apply that on the entire button instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73165980-1885-b806-7200-65d2bff9ac87
* Version Ind

[2021-02-12 23:11] YijunWang opened #201 "Incorrect BoundsControl dependency mentioned in the Note section"
Here's the Note section:
"The BoundsControl component will automatically add the NearInteractionGrabbable component at runtime. Therefore, we do not need to add this component to grab the enclosed objects with tracked hands."

BoundsControl actually adds ConstraintManager automatically, not NearInteractionGrabbable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-02-14 13:04] KenanBektas opened #202 "Missing steps before "Creating a dynamic menu that follows the user""
As far I can follow, some steps seem to be missing before the "Creating a dynamic menu that follows the user" part. Pressing the buttons (i.e., Hints or Explode) does not have an effect in the Game mode. The Hierarchy Window on the figure has "DontDestroyOnLoad" which is not explained in the tutorial. Where does that come from what is its function? Thanks.

[2021-02-15 09:18] veeruby-developer commented on #202
@KenanBektas once the buttons(Hints and Explode) are configured as mentioned in the tutorial, Hints button will toggle the visibility of the placement hint objects and Explode button will toggle the exploded view on and off.

If you feel that some steps are missing can you please specify which are the missing steps so that we could update the tutorial if it is relevant.

[2021-02-15 09:23] veeruby-developer commented on #202
@KenanBektas once the buttons(Hints and Explode) are configured as mentioned in the tutorial, Hints button will toggle the visibility of the placement hint objects and Explode button will toggle the exploded view on and off.
If you feel that some steps are missing can you please specify which are the missing steps so that we could update the tutorial if it is relevant. also "DontDestroyOnLoad" doe

[2021-02-15 09:27] KenanBektas commented on #202
Thank you for responding.
Unfortunately, I can not say that specifically.
In my message, I tried to describe what I've observed while following the
tutorial.
Once I have time, I will start over and try to replicate it and let you
know.
PS: I just saw your message regarding the " DontDestroyOnLoad ". Thank you
for that.

On Mon, Feb 15, 2021 at 10:18 AM VeeRuby Developer <notifications@github.com>

[2021-02-17 09:04] Holo-Fiedel opened #204 "QR Codes Tracking Distance is Limited to About 50cm"
When tracking a QR code, the user has to get very close to it.
Tracking seems to be successful, when the user is about 50cm or less from the QR code.

This also applies to large QR codes (tested with 20 cm and 30cm side length).

A frequent use case of our customers is to put the QR code on the floor and in order to localize (or re-track) them, they have to crouch, which is a degradation of UX.

I

[2021-02-17 09:40] fjaen commented on #163
I followed the steps and the tap to place part of the tutorial didn't work. Nothing occurs when I click with the left mouse button. The rover does not move. The directional indicator works fine.
Thanks for your help

[2021-02-17 14:05] cheles opened #205 "Connecting over USB with HTTPS"
[Enter feedback here]
Communication over USB does not use TLS or certificates as the IpOverUsb connection uses port 10080 which maps to port 80 on the device, not port 443, and the server should not redirect when using USB.  We shouldn't try to force TLS on a non-TLS connection.

Hence we need to update our link from https://127.0.0.1:10080 to http://127.0.0.1:10080 for USB connection only.

---
#

[2021-02-17 20:46] Raelx opened #206 ""HP Motion Controller" Unreal Plugin missing action mappings"
The HP Motion Controller Plugin for Unreal has Action Mappings for "HP Mixed Reality (R/L) Thumbstick X/Y" that fire at full thumbstick travel. But it only fires in the positive X/Y directions. Full stick in the negative X/Y direction does not fire this event. If it fired at both limits you could look at position and figure this out but it does not.

However these should probably be changed to sep

[2021-02-19 08:27] FelixWeichselgartner opened #208 "Typos in german version"
Räumliche Koordinatensysteme
Alle 3D-Grafikanwendungen verwenden kartesische Koordinatensysteme , um die Positionen und Ausrichtungen von virtuellen Objekten zu verwenden. Diese Koordinatensysteme richten drei senkrechte Achsen ein, um Objekte zu positionieren: eine X-, Y-und Z-Achse.
**In gemischter Realitäthaben ihre apps Informationen zu virtuellen und physischen Koordinatensystemen. Windows Ru

[2021-02-19 08:29] FelixWeichselgartner commented on #208
Also in the first sentence

Im Kern platzieren Mixed Reality-apps holograms in ihrer Welt, **die wie und echte Objekte** aussehen.

Maybe somebody should read the hole paragraph - i suppose there are more erros

[2021-02-19 08:32] FelixWeichselgartner commented on #208
Die oben beschriebenen Ober skalamöglichkeiten folgen einem "Schachteln von Puppen"-Modell.

[2021-02-19 08:34] FelixWeichselgartner commented on #208
Windows Ruft ein Koordinatensystem auf, das in der physischen Welt ein räumliches Koordinatensystem hat.

Error
Windows Ruft

I will stop now

[2021-02-21 05:12] SilasContaifer commented on #208
Hello @FelixWeichselgartner I think would be better for you to create a **Pull Request** fixing the typos - so other person who also understand German can review it and accept later

[2021-02-23 08:56] ylwuhan opened #214 "DllNotFoundException：AzureSpatialAnchors"
I follow the instructions in the tutorial （https://docs.microsoft.com/zh-cn/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02） to configure the project, but an error is reported after running:DllNotFoundException: AzureSpatialAnchors.
Can anyone help me solve this problem

[2021-02-24 17:33] JonPaulKing opened #215 "Device Compilation Fails"
[Enter feedback here]
So go a Hololens 2 device to play with. My laptop (Win10) is locked down so create an Azure Win 10 machine . Used it to install Unity 2019.4.20f1,  Visual Studio 2019 and all other prerequisites for MRTK.  Its my intention to create a package and use this for the installation on the lens via its Windows Device Portal. So following the successful build in UNITY, I then create

[2021-02-25 04:05] veeruby-developer commented on #214
@ylwuhan  could you please provide more information on this.

If you are getting this **DllNotFoundException: AzureSpatialAnchors** error in Unity Console, then please note that Azure Spatial Anchors can not run in Unity, so to test the Azure Spatial Anchors functionality, you need to build the project and deploy the app to your device.

[2021-02-25 12:30] JonPaulKing commented on #215
I have since resolved this issue. I was trying to create an application package, and my inexperience meant that I had assume merely invoking the build from the menu would create this, which actually resulted in the error. When I create the package via the publish option for the project this works and installed correctly. So my issue is resolved - but the bug with the compilation settings will stil

[2021-02-25 12:30] #215 closed

[2021-02-25 15:00] sealfoss opened #216 "All of this is wrong."
Basically nothing about accessing video from the HoloLens webcam in this article is correct. Please update w/ relevant info.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dd07cb8-0169-9eeb-706a-890cd0418d0e
* Version Independent ID: 46b95d28-2e43-1c9d-a338-495210bd9f91
* Content: [Locatable camera in Unity - Mixed Re

[2021-02-26 19:08] paco-ms opened #217 "MRTK - Initializing Project tutorial page should list "Enable Virtual Reality Support" (legacyXR) step"
Using Unity 2019.4.21f11

In the Step "Select Depth Format: 16-bit" - I believe this needs to be preceded by a "Enable the "Virtual Reality Supported" checkbox" step (legacy XR), which is disabled by default, afaics, in Unity 2019 LTS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24d36428-004c-e29f-ac5a-602bcbabdb25
*

[2021-03-01 04:17] veeruby-developer commented on #217
@paco-ms  Thanks for the feedback.
It has been mentioned to enable "Enable the "Virtual Reality Supported" before the step "Select Depth Format: 16-bit" in the tutorial. Please refer to the below screenshot.
![image](https://user-images.githubusercontent.com/61759322/109451220-f4643380-7a72-11eb-93d4-d77f3af9184c.png)

Please let us know if there is anything missing so that we could update.

[2021-03-01 06:52] MADAOHSUE opened #218 "About docs for multple users by unreal engine"
I saw hololens for multple users only can develop by unity on the microsoft tutorial,but i want to develop it by unreal engine,and i have watched apollo 11 program contains double people watched and played in same scene, docs for multple users by unreal engine is missing?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: c6660b47-979f-8807-71fb-5727301c85f3
* Version I

[2021-03-01 12:39] paco-ms opened #219 "Tutorial - "Tap to Place" setup should include disabling "Use Default Surface Normal Offset""
The tutorial includes a step to set the surface normal offset to 0 on "Placing Started", but that will be ignored given the fact that the "Use Default Surface Normal Offset" option is on (by default). This can be detected by:
- The fact that a debug assert is raised ("The new value for SurfaceNormalOffset on the Tap to Place object will not be applied because UseDefaultSurfaceNormalOffset is true"

[2021-03-01 13:15] paco-ms commented on #217
You are totally right, I missed it (and I had double checked before posting). Thanks.

[2021-03-01 13:15] #217 closed

[2021-03-02 09:27] veeruby-developer commented on #219
@paco-ms its correct. Thanks for the feedback,
tutorials will be updated.

[2021-03-04 03:54] MaxWang-MS opened #222 "Add link to inform user how to use the Package Manager in Unity"
@davidkline-ms @polar-kev I would propose adding a link to [this section on the Using the Unity Package Manager page](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/configuration/usingupm#managing-mixed-reality-features-with-the-unity-package-manager) on this page as it is not obvious to first time UPM users on how to use UPM/import the samples in the examples package into their

[2021-03-04 13:27] JonPaulKing commented on #151
Like bgesler1, the solution, based upon the bounds control, throws an exception when enabled (VS2019, 2019.20.4.f1, 2.53, Hololens 2). Inspired by bgesler's use of the deprecated control, I used it to replace the 'BoundsControl' and it worked.  I am using side loading (via Visual Studio App Package) to install the application on my Hololens 2.

[2021-03-04 13:30] JonPaulKing commented on #197
The solution, based upon the bounds control, throws an exception when enabled (VS2019, 2019.20.4.f1, 2.53, Hololens 2). Inspired by another thread on this page's feedback, I used a deprecated control (BoundingBox) to replace the 'BoundsControl' for the Gaming Object (Rover Explorer) and this worked. I am using side loading (via Visual Studio App Package) to install the application on my Hololens 2

[2021-03-04 17:20] RonnyA opened #223 "Wrong URL for "Unity Asset Store""
The link to "Unity Asset Store" is pointing to  https://www.assetstore.unity3d.com/

That page doesnt exist anymore, the correct is https://assetstore.unity.com/
---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 76e098e0-29ca-45df-3f9e-673a84914904
* Version Independent ID: 12c889e1-3ed9-c773-5eff-68c796333726
* Content

[2021-03-04 17:39] #223 closed

[2021-03-04 17:40] hferrone commented on #218
@sw5813 @sajidfarooq Any ideas here?

[2021-03-04 22:32] keveleigh opened #224 "Broken links to mrtk-unity docs throughout mixed-reality"
There are quite a few incorrect links to the MRTK docs that are linking to `https://docs.microsoft.com/windows/mixed-reality/mrtk-docs/*` instead of `https://docs.microsoft.com/windows/mixed-reality/mrtk-unity/*`. A good place to see this is the two links at the bottom of this page, in "See also":

![image](https://user-images.githubusercontent.com/3580640/110039407-043f7a00-7cf6-11eb-9613-ad18f5e

[2021-03-04 22:35] polar-kev commented on #224
FYI @varunsiddaraju. Are you able to take a look at these?

[2021-03-04 22:37] keveleigh commented on #224
Via a rough search, possibly 67 incorrect links with both `mrtk-docs` and `.md`

![image](https://user-images.githubusercontent.com/3580640/110039994-ee7e8480-7cf6-11eb-803b-9a13a45a1a01.png)

and ~103 with `mrtk-docs`

![image](https://user-images.githubusercontent.com/3580640/110040067-0bb35300-7cf7-11eb-91a0-ad86cbda2274.png)

[2021-03-04 22:51] varunsiddaraju commented on #224
@polar-kev I'm looking into this issue and we will work on it.

@keveleigh Could you please let me know how to find those 67 incorrect links?

[2021-03-04 23:05] keveleigh commented on #224
@varunsiddaraju I opened the repo in VS Code and used their regex search with string `mrtk-docs\/.*\.md`:
![image](https://user-images.githubusercontent.com/3580640/110042638-eaecfc80-7cfa-11eb-86ff-a2296d920ded.png)

After that, just searching for `mrtk-docs` should reveal any remaining issues

[2021-03-05 14:18] zyb-cn opened #225 "when testing, It shows "no connection with database""
[在此处输入反馈]

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: b4bf8e38-57dc-77f6-22e8-9c157900daa3
* Version Independent ID: 1b4c66e9-49fb-5a35-992f-4352506b20ac
* Content: [集成 Azure 自定义视觉 - Mixed Reality](https://docs.microsoft.com/zh-cn/windows/mixed-reality/develop/unity/tutorials/mr-learning-azure-03)
* Content Source: [mixed-reality-docs/mr-dev-docs/develop/unity/tu

[2021-03-05 14:20] zyb-cn opened #226 "Object Detection Manager"
how to set the Api key,

[2021-03-05 20:08] varunsiddaraju commented on #224
Hi @polar-kev

For M/S doc migration, we were using mixed-reality-pr repo but this issue is created from mixed-reality repo so we are not sure whether we are supposed to work on this on this or not. Kindly, please clarify.

[2021-03-07 17:11] robertos opened #228 "Feature icons have low contrast and aliased borders on Dark theme"
When viewing the index page for MRTK on the Dark theme, the "Feature areas" icons look aliased and have low contrast.

To repro:
1. Open https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/
2. Scroll all the way to the bottom
3. On the left part of the footer, select Theme > Dark

Suggestion: make the icons opaque (not transparent), adding a white background in the image.

![image](h

[2021-03-08 19:45] polar-kev commented on #73
Under the section "Creating and configuring the scene", I would like to see instructions to:

1. Import a cube prefab into the scene
2. Apply the Object Manipulator and Near Interaction Grabbable scripts to the cube
3. Interact with the cube using input simulation in the Unity editor
4. Interact with the cube after deploying the app to the device

Stretch Goal: The cube should be a premade asset t

[2021-03-08 23:52] polar-kev opened #229 "Asset swap utility missing from Release Notes and Feature Overview"
The following .md file is missing from the new docs repo
https://github.com/microsoft/MixedRealityToolkit-Unity/blob/mrtk_development/Documentation/Tools/AssetSwapUtility.md

It should appear in Feature Overviews>Tools>Asset Swap Utility, and in the MRTK 2.6 release notes.
![image](https://user-images.githubusercontent.com/30964480/110397187-39193d00-8026-11eb-9139-df12f182f245.png)

---
#### Docu

[2021-03-09 01:33] polar-kev commented on #224
Hey @varunsiddaraju, please use the mixed-reality-pr repo for fixes.

The mixed-reality repo is a public repo that allows anyone looking at our docs to file an issue using the feedback button at the bottom of the page.
![image](https://user-images.githubusercontent.com/30964480/110404688-26a60000-8034-11eb-94dd-09dfe11384f0.png)

The mixed-reality-pr repo is a private repo where we stage updates v

[2021-03-09 06:39] veeruby-developer commented on #225
@zyb-cn  Please verify that entered connection string of the Azure storage account is correct and valid.

[2021-03-09 10:58] veeruby-developer commented on #226
@zyb-cn  As per the tutorial, please find and locate the Custom Vision Resource of type Cognitive Services(its name followed by -Prediction), There click Keys and Endpoint to retrieve the key and replace the API key present in ObjectDetectionManager (script) where custom vision key is already assigned. if your model has been trained previously now you can detect the Object.

[2021-03-09 22:11] #84 closed

[2021-03-09 22:13] hferrone commented on #39
@Yonet Is this still something we should be including in the upcoming JS updatePR?

[2021-03-09 22:13] #167 closed

[2021-03-09 22:14] hferrone commented on #168
@varunsiddaraju Can I close this item?

[2021-03-09 22:15] #183 closed

[2021-03-09 22:16] hferrone commented on #197
@veeruby-developer Can this issue be closed or is there an update that needs to happen?

[2021-03-09 22:27] #198 closed

[2021-03-09 22:28] #201 closed

[2021-03-09 22:28] #202 closed

[2021-03-09 22:32] hferrone commented on #204
@chgatla-microsoft can you assist?

[2021-03-09 22:32] #205 closed

[2021-03-09 22:33] hferrone commented on #206
@sw5813 Can you weigh in here?

[2021-03-09 22:34] #214 closed

[2021-03-09 22:35] #219 closed

[2021-03-09 22:38] #222 closed

[2021-03-09 22:39] hferrone commented on #224
That is correct!

[2021-03-09 22:39] #226 closed

[2021-03-09 22:40] hferrone commented on #228
@cre8ivepark Can you help with this?

[2021-03-09 22:56] #229 closed

[2021-03-10 03:36] cre8ivepark commented on #228
@hferrone I'll update them. Thanks!

[2021-03-10 10:41] veeruby-developer commented on #197
@hferrone  this issue can be closed.

[2021-03-10 13:39] loleklel opened #231 "build errrors"
[Enter feedback here]
I tried to build the project and deploy to hololens 2 but I got 16 error such as:
How can I deal with these errors?

Reference rewriter: Error: type `System.Web.HttpUtility` doesn't exist in target framework. It is referenced from RestSharp.dll at System.String RestSharp.Extensions.StringExtensions::UrlDecode(System.String).
UnityEngine.Debug:LogError(Object)
PostProcessWinRT

[2021-03-10 16:34] loleklel commented on #231
Hi,

1. I am using Unity 2019.4.18f1
2. ASA SDK is the 2.7.2
3. I followed the tutorial on docs.

st 10. 3. 2021 v 17:25 odesílatel pamistel <notifications@github.com>
napsal:

[2021-03-10 22:25] #199 closed

[2021-03-10 22:25] #197 closed

[2021-03-10 22:27] hferrone commented on #224
@varunsiddaraju @polar-kev Is this fixed or does this need to remain open?

[2021-03-10 22:41] varunsiddaraju commented on #224
@hferrone Thanks for checking up on this, We are still working on it, please keep it open.

[2021-03-11 02:44] comicxmz001 opened #232 "Broken/expired links"
Links on this page are either broken or associated with the old doc, such as "Button", "Slate", "Solver", "example scene", etc.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af10c861-77a3-ae2f-d82c-8ce164afea84
* Version Independent ID: 3148ae2f-0dd3-2863-6068-aaa7b5a94f98
* Content: [Articulated Hand and Eye Tracking

[2021-03-11 03:04] theolizard opened #233 "Missing animation file format version 1.1 specs?"
Hello,

MRTK 2.6 claims the motion capture format has changed to version 1.1 and links to this page but this page only details the version 1.0 structure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01d77645-a814-700f-c79a-b86e925505ab
* Version Independent ID: a97205c5-1272-3146-8773-6e33238bf28a
* Content: [InputAn

[2021-03-11 14:51] pamistel commented on #231
Thanks for the response. Since there are multiple tutorials i want to make sure I'm looking at the correct one. Can you link me to the page of the tutorial you followed

[2021-03-11 17:41] #232 closed

[2021-03-11 17:55] polar-kev commented on #233
@hferrone, here are the version 1.1 updates that should be appended to input-animation-file-format.md.

Section | Type | Notes
-- | -- | --
Has Camera Pose | [Boolean] |  
Has Hand Data | [Boolean] |  
Has Eye Gaze | [Boolean] |  
Camera | Pose Curves | Only if Has Camera Pose is true
Hand Tracked Left | Boolean Curve | Only if Has Hand Data is true
Hand Tracked Right | Boolean Curve | Only if Has

[2021-03-11 17:56] polar-kev commented on #233
@hferrone, I'm not sure why this file wasn't carried over in the migration. The version in the old repo has the 1.1 data,
https://github.com/microsoft/MixedRealityToolkit-Unity/blob/mrtk_development/Documentation/InputSimulation/InputAnimationFileFormat.md

[2021-03-11 18:32] #233 closed

[2021-03-11 22:58] #228 closed

[2021-03-12 04:03] veeruby-developer commented on #224
@hferrone This Issue can be closed Now.

[2021-03-12 07:35] loleklel commented on #231
https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02

čt 11. 3. 2021 v 15:51 odesílatel pamistel ***@***.***>
napsal:

[2021-03-12 16:25] #224 closed

[2021-03-12 20:09] rickfromwork opened #235 "Page feedback"
Feedback:
- Under Next Steps, you check off "Deploy and test the application in a HoloLens2 emulator," but in the steps you only talk about the Mixed Reality Portal emulator. At the very start, you use the term "MixedReality emulator," which more closely matches the actual step.
- In the steps that set faceColors, the closing bracket is indented too far in.

Thoughts:
- This only talks about using

[2021-03-15 19:25] SheehanC1 opened #236 "MultiUserCapabilities tutorial Console Error Remains After Importing PUN 2 - Free"
![image](https://user-images.githubusercontent.com/45801579/111209178-147f1100-85a2-11eb-839f-7a52b5bdb197.png)

I'm currently running into this issue after importing PUN 2. All the other errors that this page warned about happening prior to importing PUN 2 went away except this one.

Is this due to the update to PUN 2 - Free now that they've released a version 2.29?

---
#### Document Details

⚠

[2021-03-16 03:46] spartan1047 opened #237 "Shaders folder is missing if the Mixed Reality Feature Tool is used to import MRTK"
I’m using the new Mixed Reality Feature Tool to create a new Unity project for HL2, I’m importing all latest and available Mixed Reality Toolkit features/packages, but when I go to the Unity Editor the Shaders folders is not part of the project, leading in the default pink used for missing shader.

I have made another project importing the foundation package (Microsoft.MixedReality.Toolkit.Unity.F

[2021-03-16 07:58] skons35 opened #238 "NullReference Exception when trying to apply "Mixed Reality / OpenXR / Apply Recommended settings for Hololens 2""
Following step by step this OpenXR activation for Hololens 2 project, there is a
"NullReferenceException: Object reference not set to an instance of an object
Microsoft.MixedReality.OpenXR.Editor.UpdateSettings.ApplyOpenXRSettings () (at Library/PackageCache/com.microsoft.mixedreality.openxr@36a5beedbb7b-1615820934411/Editor/UpdateSettings.cs:46)"
occuring when reaching the project tuning recommen

[2021-03-16 10:09] pamistel commented on #231
Hi @loleklel

Thank you for the clarification. This tutorial is from the MRTK team. We will reach out and ask them to update it.
In the meantime, could I ask you to try the [tutorial ](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-hololens?tabs=azure-portal) from the ASA Documentation

[2021-03-16 10:11] sunnymoon82 opened #239 "one wronglink"
thank you for the nice tutorial
the MRTK.HoloLens2.Unity.Tutorials.Assets.AzureSpatialAnchors.2.4.0.unitypackage link is wrong it downloads the 2.5.3 package
thank you very much for this amazing work
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7f65b-2300-1e88-3072-5ecc28e5a8e5
* Version Independent ID: 2089610b-95

[2021-03-16 13:47] SheehanC1 commented on #236
Sorry for closing and reopening. I thought I had found the reason/solution but I hadn't

[2021-03-16 17:42] polar-kev opened #240 "Correction to Dialog documentation"
Documentation for Dialog was updated by a community member in the MRTK repo,
https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9461/files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7b857c5-b24f-17a4-5444-5e67dd074d14
* Version Independent ID: 8345a513-0f01-e4ae-a81d-fdbddddf79b7
* Content: [Dialog](https

[2021-03-16 19:15] #240 closed

[2021-03-16 21:24] SheehanC1 commented on #236
It was, in fact the new version of PUN 2 - Free. I found the previous version I had updated from prior to importing in my recycle bin and imported that over the new PUN 2 - Free and the error no-longer appears

[2021-03-16 22:10] vrobel opened #241 "There's no mention in documentation of how to use TeleportHotSpots"
Hi, I can't seem to find any info about how to properly implement TeleportHotSpot. How I approached it was to place an object with a collider on it and to add TeleportHotSpot component. Implementation suggests it only accepts TeleportPointers but ParabolicTeleportPointer seems to ignore my hot spots and the pointer hides when I'm over my hotspot area.

EDIT: Noticed that I needed to update my setu

[2021-03-16 22:15] hferrone commented on #225
@zyb-cn Is this resolved for you?

[2021-03-16 22:18] #236 closed

[2021-03-16 22:23] #239 closed

[2021-03-16 22:28] chgatla-microsoft commented on #204
The distance depends on QR version ( module size),  the higher the version then the modules are smaller and can only be detected from closer. you can also try micro QR codes if you want the distance of detection to be longer. Also make sure you have enough contrast and proper border.

[2021-03-16 22:31] #204 closed

[2021-03-16 22:51] polar-kev commented on #237
@spartan1047, can you confirm that you created a completely fresh Unity project and aren't updating an older project?

@davidkline-ms, should the above have been covered by your addition of shaders to import logic https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9404?
Any idea what's happening here?

[2021-03-16 22:54] polar-kev commented on #241
@RogPodge, is this a docs gaps or are there instructions we can point to?

[2021-03-16 22:54] davidkline-ms commented on #237
The above should definitely have been covered. I will need to investigate.

Thanks @polar-kev!

@spartan1047 if you use Mixed Reality Toolkit > Utilities > Check for Shader Updates, does that get them copied into your project?

[2021-03-16 23:03] RogPodge commented on #241
@polar-kev yeah we're currently missing documentation (and unit testing!) on this feature. I think it was included when the teleport system was still in experimental, and when it was graduated, we never properly vetted the teleport hotspot feature.

I'm somewhat booked at the moment but I can handle graduating this particular aspect of the Teleport system in a future release!

[2021-03-17 03:37] spartan1047 commented on #237
Hello guys, thank you for the answers
@polar-kev Yes, I'm making a new Unity project from 0, I have created another one just to be sure that I was not making a mistake in the process. I'm having the same issue.

@davidkline-ms If I use the "Check for Shader Updates" I get the following exception:

System.IO.__Error.WinIOError (System.Int32 errorCode, System.String maybeFullPath) (at <9577ac7a62ef4

[2021-03-17 06:41] yl-msft commented on #238
@skons35
Thanks for the report.  The error might happen when the Unity project didn't setup for OpenXR in XR plugin manager yet.  Please follow this step first before using this menu item.

https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/openxr-getting-started#configuring-xr-plugin-management-for-openxr
![image](https://user-images.githubusercontent.com/33265158/111425900-0a98

[2021-03-17 08:11] skons35 commented on #238
Hello,
Thanks for the quick reply.

Following your link,  i started again -from scratch- and create a new project, switching to UWP,  adding OpenXR and fixing XR plugin settings as explained (Fix All), then i close the Unity editor, and reopen that project in Unity ( there was a request to activate the new Unity input system in the player settings that is not mentionned in the guide).

Arrived bac

[2021-03-17 15:40] hferrone commented on #231
Please file a support request to follow up, thanks!

[2021-03-17 15:40] #231 closed

[2021-03-17 21:42] polar-kev commented on #73
@mr0ng, would we be able to get some assistance here?

[2021-03-17 21:45] yl-msft commented on #238
@skons35 , did you also checked the "openxr" plugin for the "standalone" build target?  since that setting is used by "unity editor" itself, which is a openxr win32 app itself, we also have logics to modify its settings.  Can you try this out?
![image](https://user-images.githubusercontent.com/33265158/111542796-6d2fe480-872f-11eb-944e-46b31aa873b3.png)

[2021-03-17 21:49] varunsiddaraju commented on #73
Hi @polar-kev : We will work on this and will provide you the update.

[2021-03-18 16:31] davidkline-ms commented on #237
@spartan1047, that exception looks a bit odd to me. the shader update check should not involve the foundation package in any way.

i am working on trying to reproduce what you are seeing and will hopefully have an update for you soon.

[2021-03-18 16:44] lazerwalker commented on #237
FWIW, I'm having the same issue with MRTK 2.5.4. This is a brand new Unity project, using Unity 2019.4.16 and importing MRTK 2.5.4 via the Mixed Reality Feature Tool 1.0.2103 Beta. I've never seen materials render properly with this project; as soon as I drag in the Mesh prefabs for the first time, they're all pink.

There is no Mixed Reality Toolkit -> Utilities -> Check for Shader Updates option

[2021-03-18 16:46] davidkline-ms commented on #237
@lazerwalker , thanks for the info. the Check for Shader Updates is new to 2.6.x so i would not expect to see it in 2.5.4.

What version of Unity are you using?

[2021-03-18 16:47] lazerwalker commented on #237
As mentioned above, this is with 2019.4.16

[2021-03-18 18:04] davidkline-ms commented on #237
Haha! Thanks! I guess i need more coffee today 😄

[2021-03-18 18:05] davidkline-ms commented on #237
FYI: Work on this issue is being tracked on the MRTK repository https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9527

[2021-03-18 18:18] davidkline-ms commented on #237
@spartan1047, i think i may know what is happening on your machine.  Unity has a path length limit of 255 characters. The following message from the exception (i took a second look) points to that as potentially being the root cause:

[code]

In general, Unity does not execute script code if there are compilation issues (such as would occur with a very long path).

Could you please try a project w

[2021-03-18 18:19] davidkline-ms commented on #237
@lazerwalker, do you have any script compile errors in the console for your project?

[2021-03-18 20:44] lazerwalker commented on #237
@davidkline-ms I get the following warning at runtime, which seems specific to the visual profiler:

[code]

There are no compile-time errors.

I'm relatively confident I'm not hitting a path length limit issue, but I'm going to try moving the project closer to root as well just to be sure, will update.

[2021-03-18 21:40] lazerwalker commented on #237
For the record, manually importing the MRTK Foundation 2.5.4 `.unitypackage` right on top of the broken copy fixed my rendering issues.

Still happy to help debug however I can, and would still love to see this fixed with 2.5.4 -- my team is recommending people use the MRFT in a MS Docs quickstart, and I would prefer to not need to adjust that.

[2021-03-18 22:15] davidkline-ms commented on #237
@lazerwalker,

MRTK 2.6.x took a change to how shader copies are made (and provides the Check for Shader Updates menu item).

If you could try creating a new project using 2.6.0 or 2.6.1 and let me know your results, it would be SUPER helpful, Thanks!

[2021-03-18 22:17] spartan1047 commented on #237
@lazerwalker I have made a new proyect in C:/UnityProject and everything works fine now, thank you for the suggesitons.

[2021-03-19 00:52] parsley777 opened #242 "An error occurred after installing the MRTK program in Unity."
[여기에 피드백 입력]

An error occurred after installing the MRTK program in Unity.

1. I installed MRTK(Foundation, Example) in Unity.
 2. I went into the HandInteractionExamples Scene.
 3. I saw the bug, Console message is
'Unable to register IMixedRealityInputDeviceManager data provider (Windows Mixed Reality Device Manager) because the value of concreteType is null.
This may be caused by code being st

[2021-03-19 05:54] sajidfarooq commented on #218
Yes:
All new example here: https://github.com/microsoft/MixedReality-Unreal-Samples/tree/master/HL2Collab

[2021-03-19 06:19] MADAOHSUE commented on #218
Thank you,and i want to know can it synchronize the anchors? because i made a program by MRTK &amp; UNet,but an object two people see is not in the same place,i think it should be cause by it.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "MicrosoftDocs/mixed-reality"

[2021-03-19 07:39] #242 closed

[2021-03-19 12:42] sajidfarooq commented on #218
Are the people using the device in the same location? If so, then you will need to align them first. A good way to do so is to provide a QR code that all Co-located devices have to look at to calibrate and align the origin first.

I have an example of that but didn’t include it because I wanted to keep the HL2Collab example as simple as possible.

[2021-03-19 19:15] Betterlife-exe opened #243 "Does not specify supported/required hardware for this feature"
This page does not say if this works with all WMR compatible base stations and WMR headsets with Inside-Out tracking, or which devices that specifically support this feature. Unity's openXR "Microsoft Hand Interaction Profile" interaction feature only lists Microsoft HoloLens 2, and this page says nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-03-19 20:22] hferrone commented on #243
@keveleigh Any ideas here?

[2021-03-20 17:05] ddobric opened #244 "Documentation is not up to date"
Reading the very first HoloLens tutorial and find gaps in the documentation.

This picture shows what should be done:
![image](https://user-images.githubusercontent.com/1756871/111878003-55ae6100-89a6-11eb-8c94-1243834eacd9.png)

This picture shows what can be done:
![image](https://user-images.githubusercontent.com/1756871/111878019-75de2000-89a6-11eb-9f46-858af2e1e413.png)s
Points 4 and 5 do not

[2021-03-22 13:47] haraldsamson opened #245 "Pulse mat black color"
Hello,

First issue, in the demo scene the default color of MRTK_Pulse_SpatialMeshBlue.mat is opaque black, is there a way to turn this base color to transparent ?

Second issue, In the following text from the web page, the names of the textures are inverted between spatial mesh and hand mesh  :

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.

[2021-03-22 15:44] hferrone commented on #244
Hi @ddobric - thanks for posting. Per the note at the beginning of the tutorial, these articles are not updated. Please see the HoloLens 2 content :)
![Uploading Screen Shot 2021-03-22 at 9.42.14 AM.png…]()

[2021-03-22 15:44] #244 closed

[2021-03-22 17:14] SheehanC1 opened #246 "Build errors when attempting multiplayer"
While following the multiplayer for HoloLens 2 tutorial, I got to the part where you test if you can see the "PhotonUsers", one in the headset, the other in Unity (the very bottom of 3.Connecting multiple users). I tried to make the build for the headset in order to test but ran into 15 errors. They don't stop the build from being made, but running the build on the HL2 always results in an immedia

[2021-03-22 17:20] vtieto opened #247 "Missing link, text needs a clean-up"
"Additionally, check out [this helpful article, which provides an overview of an art workflow for exporting glTF models from Blender and 3DS Max directly."

There apparently was supposed to be a link added here. It's missing, so it should either be added or this text should be updated to mention the link. "[" should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-03-23 15:07] oafolabi-msft commented on #246
Hi @SheehanC1, I would like to get some more information about the problem. Since you mentioned that it is similar to the issue with azure (#231), I would like to know I you were able to successfully run that tutorial?

[2021-03-23 15:17] #247 closed

[2021-03-23 18:03] #237 closed

[2021-03-23 18:05] #208 closed

[2021-03-23 18:23] yl-msft commented on #243
@Betterlife-exe , thanks for the feedback.  We are in progress to write a new version of this page in near future to address questions like this.  For your specific question, the "openxr hand interaction profile" will support on WMR controllers on PC VR as well, if you limit to just the "air-tap and aim pose" for far objects, and "grasp and grip pose" for direct manipulation.

[2021-03-23 19:18] SheehanC1 commented on #246
Hi @oafolabi-msft, after following the [Getting Started with Azure Spatial Anchors](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials/mr-learning-asa-02) tutorial I got what looks to be near identical errors logged with my original build errors and quite similar with the [231](https://github.com/MicrosoftDocs/mixed-reality/issues/231) issue

![image](https://user-image

[2021-03-23 20:59] hferrone commented on #246
@varunsiddaraju is this an issue with the tutorial or something else? @mr0ng for visibility

[2021-03-23 21:07] varunsiddaraju commented on #246
@hferrone Looks like it's an issue related to an asset package that was shared with the tutorials.
We will look more into it.

[2021-03-23 22:30] mr0ng commented on #246
Thanks @varunsiddaraju

[2021-03-24 22:36] danielcv-dev opened #249 "i have a problem when i use the feature Tool"
Helo,
i donwload the MRFT for unity v1.0.2103.2 and when found the unity project apear the next message:
"failed to retrieve the feature catalog. pleas check your internet connection and try again"

this is the log:

`Mixed Reality Feature Tool 1.0.2103.2
[24/03/2021 04:29:15 p. m.] Loading the project manifest.
[24/03/2021 04:29:15 p. m.] Project manifest successfully loaded.
[24/03/2021 04:29:15

[2021-03-25 17:10] hferrone commented on #249
@davidkline-ms Any ideas?

[2021-03-25 20:21] #241 closed

[2021-03-29 07:39] mfdursun opened #250 "Device Portal Simulation Tab"
Hello,

According to the document in simulation tab there are 4 different choises on the tab. However there are only upload recording and control mode options. **What is the data type for that recording? How may I record such thing?**  How to get recording and use it on the device?

![Capture](https://user-images.githubusercontent.com/81554132/112802445-dd692f00-907a-11eb-9516-b83e0e58a74e.PNG)

T

[2021-03-29 08:15] iluvian opened #251 "The MixedRealityToolkit has no children and does not report an error"
[在此处输入反馈]
![image](https://user-images.githubusercontent.com/39895100/112806714-ac542300-90a9-11eb-8551-0c597358e60a.png)

Follow the steps of the document, no error is shown, cannot be resolved

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 24d36428-004c-e29f-ac5a-602bcbabdb25
* Version Independent ID: 01015fb5-d01b-c738-6671-9a0ca9af000e
* Content: [初始化项目并部署第一个应用程

[2021-03-29 09:18] veeruby-developer commented on #251
@iluvian MixedRealityToolkit with no child Objects is correct.

[2021-03-29 16:34] davidkline-ms commented on #249
Hello @danielcv-dev! Thank you for the log! I believe the team has a fix for this issue. Can you please download v1.0.2103.3 of the Feature Tool from https://aka.msfeaturetool and see if it resolves the issue?

thanks!

[2021-03-29 16:39] hferrone commented on #251
@veeruby-developer Can you update the screenshots or send me correct ones?

[2021-03-29 16:40] hferrone commented on #246
Any updates here @varunsiddaraju @mr0ng

[2021-03-29 16:40] hferrone commented on #245
@CDiaz-MS Any updates here?

[2021-03-29 16:41] #243 closed

[2021-03-29 16:41] hferrone commented on #238
@skons35 Did the above resolve your issue?

[2021-03-29 16:43] #225 closed

[2021-03-29 16:44] koudic opened #252 "Pressable button script executes twice"
I'm using a custom gameobject with the pressable button script from the mrtk 2.6. My button executes a press twice, from the front and the back, the interactable arrow (white arrow) shows towards the user, how can i change this behavior so it only executes from when pressing the button from the front?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-03-29 16:44] #168 closed

[2021-03-29 16:45] hferrone commented on #216
@sealfoss Thanks for point this out, we've updated the content!

[2021-03-29 16:45] #216 closed

[2021-03-29 16:54] #235 closed

[2021-03-29 17:19] sealfoss commented on #216
Thank you!

[2021-03-29 17:44] varunsiddaraju commented on #246
We are working on replace Resharp.dll with unity web request API’s.

We will be sharing the updated tutorial packages soon.
On Mar 29, 2021, 10:10 PM +0530, Harrison Ferrone ***@***.***>, wrote:

[2021-03-30 02:32] iluvian commented on #251
The version numbers I used were MRTK2.5.3，Unity 2019.4.8，Is this an older one？

[2021-03-30 05:20] vijitrahi opened #253 "Tap to place generating error"
'Tap to place' component generating error NullReferenceException

NullReferenceException: Object reference not set to an instance of an object
UnityEditor.EditorGUILayout.IsChildrenIncluded (UnityEditor.SerializedProperty prop) (at <8d21067e8d9c494db25a2b2485216e63>:0)
UnityEditor.EditorGUILayout.PropertyField (UnityEditor.SerializedProperty property, UnityEngine.GUILayoutOption[] options) (at <8d

[2021-03-30 06:51] skons35 commented on #238
Hello,
Yes, sorry it take me some time to go back to my tests.
This solves my issue, thanks.

[2021-03-30 06:51] #238 closed

[2021-03-30 09:53] parsley777 opened #254 "I have a question about "Local anchor transfers in Unity""
[여기에 피드백 입력]
The Web page below states that when I export anchor data, you run the "TransferDataToClient" function.
https://docs.microsoft.com/ko-kr/windows/mixed-reality/out-of-scope/local-anchor-transfers-in-unity

Do I need to implement a function(TransferDataToClient) that sends the data to other devices over the network?
Or can I just send the data to another device with the content on that w

[2021-03-30 10:43] veeruby-developer commented on #251
@iluvian  MRTK 2.5.3 is the right version for this tutorial you can proceed with it.

[2021-03-30 11:43] veeruby-developer commented on #253
@vijitrahi could you please provide us more information at what stage you are getting this error.

[2021-03-30 17:11] m-the-hoff opened #256 "Default image when sharing is MS logo, instead of a more specific and compelling image."
When sharing this page such as in a LinkedIn post by pressing the Share icon -> LinkedIn icon, the default image is the plain Microsoft logo. Ideally, it would be MRTK specific like the first photo on the page, to make it more compelling and more informative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95809b24-cc2f

[2021-03-30 20:29] CDiaz-MS commented on #252
To enforce a front push only, make sure the `Enforce Front Push` property is active.

![image](https://user-images.githubusercontent.com/53493796/113052126-9ef77100-915b-11eb-85f0-9f7b36afa723.png)

If switching this property does not resolve the issue, then it would be helpful for you to attach a screen shot of the game object with Pressable Button attached.  The screen shot will show where the p

[2021-03-30 20:36] koudic commented on #252
Thanks for your reply, the "Enforce Front Push" is activated, see screenshot below:

![image](https://user-images.githubusercontent.com/50170855/113053047-28349500-91a8-11eb-87c0-2ded5221f475.png)

![image](https://user-images.githubusercontent.com/50170855/113053181-4ac6ae00-91a8-11eb-9022-4c0c079f0f66.png)

[2021-03-30 22:51] polar-kev opened #258 "Broken Links in eye gaze section of MRTK tutorial"
This is seen in both the XR SDK and legacy tabs of this page.

![image](https://user-images.githubusercontent.com/30964480/113066665-c6f0cf80-916f-11eb-842d-de88aac75c68.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73165980-1885-b806-7200-65d2bff9ac87
* Version Independent ID: 4ce5f95c-de8d-b246-6f06-e00f5dc2d21

[2021-03-30 23:04] hferrone commented on #256
Agreed, but this isn't a supported feature at this time. Thanks for the callout!

[2021-03-30 23:04] #256 closed

[2021-03-31 05:22] Yonet commented on #39
Hi @kpiascik, we need to have either Universal Windows Platform(UWP) or WebXR platform support documentation to add MagicScript to the documentation. I do not see either on your documentation. See an example deployment doc on [BabylonReactNative](https://github.com/BabylonJS/BabylonReactNative#universal-windows-platform-uwp).
If you do support Browser or UWP, please share docs. Thanks!

[2021-03-31 11:50] kpiascik commented on #39
We have support for ARCore, ARKit and Magic Leap. We don't have WebXR at the moment. If that changes I'll create a new issue to have it added. On Mar. 31, 2021 1:22 a.m., Yönet ***@***.***> wrote:
Hi @kpiascik, we need to have either Universal Windows Platform(UWP) or WebXR platform support documentation to add MagicScript to the documentation. I do not see either on your documentation. See an exa

[2021-03-31 15:32] CDiaz-MS commented on #252
It looks like the Start Push Distance plane is placed in front of the Near Interaction Touchable plane (indicated by the blue plane placed in front of the origin of the white arrow).

I recommend changing the Start Push Distance to align exactly on the front surface of the object.  The easiest way to complete this is to set the Start Push Distance to -0.5 while the Distance Space Mode is in Local

[2021-03-31 16:21] #249 closed

[2021-03-31 16:22] #251 closed

[2021-03-31 16:23] #258 closed

[2021-03-31 18:28] #252 closed

[2021-04-01 06:09] xlmv521 opened #259 "Error feedback"
[在此处输入反馈]
这个页面的说明文档，有些截图和解释是不匹配的，在解释发布的那一栏，命名是导入包，确用来解释发布。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 24d36428-004c-e29f-ac5a-602bcbabdb25
* Version Independent ID: 01015fb5-d01b-c738-6671-9a0ca9af000e
* Content: [初始化项目并部署第一个应用程序 - Mixed Reality](https://docs.microsoft.com/zh-cn/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02#importing-the-mixe

[2021-04-01 12:12] veeruby-developer commented on #259
@xlmv521 please provide us the information where the Explanation does not match to the Screenshots.
so that we could update the tutorials if it is relevant.

[2021-04-01 12:17] xlmv521 commented on #259
这里的文字解释的是发布项目文件，但是图片是导入包，图文不一致。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "MicrosoftDocs/mixed-reality"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年4月1日(星期四) 晚上8:12
***@***.***&gt;;
***@***.**

[2021-04-01 12:22] xlmv521 commented on #259
刚才给你截图的那个位置的图片应该是这里的导入包的过程，图文排版有问题。
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "MicrosoftDocs/mixed-reality"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年4月1日(星期四) 晚上8:12
***@***.***&gt;;
***@***

[2021-04-02 07:45] ddobric commented on #244
@hferrone  I think this a misunderstanding. The tutorials are NOT as they have been before. Years ago, it was possible to build applications with these tutorials I agree they can remain, but I think all tutorials MUST deliver useful information.
The comment above is ok, if it would be right. But, you didn't leave tutorials as they have been before. They are changed in a way that nobody needs. Righ

[2021-04-02 16:01] hferrone commented on #244
Hi @ddobric, I completely agree. However, these HL1 tutorials are made with Unity 2018, which means they are correct for that older version. We're in the process of working through these to determine their accuracy and value. At the moment, we have these HL2 tutorials available that are up-to-date: https://docs.microsoft.com/en-us/windows/mixed-reality/develop/unity/tutorials#hololens-2

[2021-04-02 16:14] keveleigh commented on #244
Even older for some of them! Much of the 200-level courses were originally made with Unity 5.4 and were only updated through Unity 2017.2.1p2.

[2021-04-02 17:19] ddobric commented on #244
@keveleigh, I only recommend somebody should step through tutorials and check if it works :)
I have posted the issue here after I received a lot of complaints. Then I tried it step by step, It does not work. There so no clear separation between HL1 and HL2 tutorials especially regarding the Unity version.
In my opinion, this has to correct. There are lot of people out there who invested in HL1, wh

[2021-04-02 17:24] keveleigh commented on #244
Are you saying they don't work with the version of Unity they're built for?

That's true, there's no clear message about the newest version of Unity they're compatible with. @hferrone maybe we should add a tag like "this tutorial was designed for Unity 2017. Newer versions may not be compatible".

[2021-04-02 18:15] hferrone commented on #250
Hi @mfdursun - You can record using the HoloLens device and then use that in the Emulator. The format is xref. Thanks!

[2021-04-02 18:15] #250 closed

[2021-04-02 21:43] ddobric commented on #244
Yes, by following tutorials the wrong version of Unity is installed. The new one has also some compiling issues related ti mixed reality SDK. The tutorial describes something that cannot be found in the Unity (at least in that version).
It is totally wired. Forums are full of questions related to that issue.

I have no recommendation what is the best way, because I do not know what is supported by

[2021-04-06 03:20] hyoshioka0128 opened #262 "[LOC]Back-Translation "Azure ストレージ エミュレーター"→"Azure Storage Emulator""
[LOC]Back-Translation "Azure ストレージ エミュレーター"→"Azure Storage Emulator"

ja-jp:https://docs.microsoft.com/ja-jp/windows/mixed-reality/develop/unity/tutorials/mr-learning-azure-02

![mr-learning-azure-02_1](https://user-images.githubusercontent.com/40815708/113654261-66fbab00-96d2-11eb-8526-18ce81d52a15.png)

![mr-learning-azure-02_2](https://user-images.githubusercontent.com/40815708/113654271-6bc05f

[2021-04-06 06:34] veeruby-developer commented on #259
@xlmv521 Thanks for the replay, due the language barrier it is been difficult for us to understand for which screenshot you are referring to. could you please help us and provide us the information along with the highlighted screenshot.

[2021-04-07 09:02] paulesn opened #264 "c# tutorial for the qr scanner"
Is there a C# Version of the main part of the tutorial?

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 6572ea07-1ad5-ef4e-72de-e3f5f7e2b086
* Version Independent ID: f8a7b6db-5cd3-b895-0e5f-b079b60b8394
* Content: [Nachverfolgen von QR-Codes - Mixed Reality](https://docs.microsoft.com/d

[2021-04-07 09:40] pamistel opened #265 "Where are the "Standalone settings""
There is a step " Go to the Standalone settings". What and where can this be found in unity?
A screenshot might be helpful.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ae640b1-6e0f-bd94-133f-ae39af0d390c
* Version Independent ID: 47d796b6-f4fe-a711-0feb-dde3987ee62f
* Content: [GettingStartedWithMRTKAndXRSD

[2021-04-07 10:00] pamistel opened #266 "Getting three errors when going over this tutorial"
I'm using Unity 2020.3.2f1
I imported MRTK using the MR Feature tool and followed this page.

I still have three errors when i hit play in unity:

1.

System.IO.DirectoryNotFoundException: Could not find a part of the path 'C:\<projectFolder>\Library\PackageCache\com.microsoft.mixedreality.toolkit.foundation@c66073525d8c-1617699052553\SDK\Experimental\InteractiveElement\Examples\Scripts\CustomStat

[2021-04-07 12:54] haraldsamson commented on #245
Issue is still running

[2021-04-07 13:43] felderto opened #267 "Is there a Tutorial for the ASA 2.9.0 package?"
Hey there

I am using Unity 2020.3 with the XR-Plugin and therefore use the ASA 2.9.0 package. Is there a "getting started tutorial" for this?
This tutorial does not seem to work with ASA 2.9.0.

Thanks for the feedback,
Tom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7f65b-2300-1e88-3072-5ecc28e5a8e5
* Version I

[2021-04-10 03:13] Romoth opened #269 "MRTK Deployment onto Emulator"
Instructions were decent overall.  Some minor things have changed in the current tool releases.  Instead of deploying to an actual Hololens device, I want to run the basic cube app on the Hololens emulator.  The instructions didn't mention how to deploy to the emulator.  Perhaps there is written up elsewhere.  Provide a link if it is.

Thanks

---
#### Document Details

⚠ *Do not edit this section

[2021-04-10 16:43] enqui opened #270 "Can't leave feedback for the WebXR using WMR feature/product"
Clicking on the button on the low end of the page leads to 404 (non existent page).
(https://docs.microsoft.com/en-us/windows/mixed-reality/develop/javascript/aka.ms/mrsupport)

The feedback is, you should work with Unity or Unreal to create an easy WebXR publishing pipeline if you want wide WebXR adoption with WMR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-04-12 04:29] jmc529 opened #271 "Typo in html title"
There is a typo on this page's title: Scroling should be Scrolling

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05ea4359-87ae-5039-db7b-54ebda0daa2c
* Version Independent ID: fe294fb4-fe0a-1acd-83df-46073eb15d50
* Content: [ScrolingObjectCollection](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/fe

[2021-04-12 05:16] veeruby-developer commented on #73
@hferrone  this has been updated in the closed PR #255.
This issue can be closed.

[2021-04-12 05:25] veeruby-developer commented on #269
@Romoth you could find instructions for Deploying apps to the HoloLens Emulator on this [Page](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/using-the-hololens-emulator)

[2021-04-12 15:54] #271 closed

[2021-04-12 15:56] #270 closed

[2021-04-12 15:57] #269 closed

[2021-04-12 16:07] #73 closed

[2021-04-12 16:30] hferrone commented on #264
Hi @paulesn - We are currently working on creating a C# QR code tutorial, but in the meantime please refer to the API reference at the bottom of the article (if you haven't already :)): https://docs.microsoft.com/de-de/windows/mixed-reality/develop/platform-capabilities-and-apis/qr-code-tracking#qr-api-reference

[2021-04-12 16:30] #264 closed

[2021-04-12 17:13] keveleigh commented on #266
This looks like you're likely hitting a max path length issue. Some additional info can be found at https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9457 and https://github.com/microsoft/MixedRealityToolkit-Unity/issues/9464. Unfortunately, this is a Unity issue which we don't have much control over. We have plans to reduce the length of our paths to try to work within those restricti

[2021-04-12 17:14] keveleigh commented on #266
Oh and the `IsLoaderActive` issue should be fixed by https://github.com/microsoft/MixedRealityToolkit-Unity/pull/9521 in 2.7.0 (there's a preview.2 of this release currently present in the Feature Tool if you enable previews)

[2021-04-12 18:12] hferrone commented on #265
Thanks, this has been updated!

[2021-04-12 18:12] #265 closed

[2021-04-12 18:14] hferrone commented on #246
@varunsiddaraju Any updates on this?

[2021-04-12 18:17] keveleigh commented on #254
`TransferDataToClient` is a function you'd need to implement yourself. That page describes obtaining the data to send but not the exact method of sending the data.

[2021-04-12 18:48] Romoth commented on #269
I had looked at that page many times.  What I was missing was the Debug
Target setting in Project Properties.  I had to be running the emulator
before it could be found.

[image: Snap1.png]

On Sun, Apr 11, 2021 at 11:25 PM VeeRuby Developer ***@***.***>
wrote:

[2021-04-12 19:25] #262 closed

[2021-04-14 16:30] #266 closed

[2021-04-14 16:31] #254 closed

[2021-04-14 16:37] hferrone commented on #218
@sajidfarooq Can you link that other example here so we can close this with all available resources?

[2021-04-14 16:40] hferrone commented on #253
@vijitrahi We'd love to help, but we need more info as mentioned above or let us know if you resolved the issue :)

[2021-04-14 16:40] hferrone commented on #259
@xlmv521 We'd love to help, but we need more info as mentioned above or let us know if you resolved the issue :)

[2021-04-14 19:48] veeruby-developer commented on #246
Hello Harrison,

We are still working on replacing Restsharp.dll with Unity WEB Request for Uploading files.

Will keep you updated.

Regards,
Varun Siddaraju
On Apr 12, 2021, 11:44 PM +0530, Harrison Ferrone ***@***.***>, wrote:

[2021-04-15 00:06] polar-kev commented on #267
Hi @felderto, we're currently working on updating this tutorial to work with the new sdk and will have the updates out soon.

[2021-04-15 00:14] cgimber opened #272 "Sergoe UI Font not included with Figma Mixed Reality Toolkit"
Hi! My team is looking for the Sergoe UI Fonts used in the figma components. Where are these available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62712b23-e5db-ab31-7cce-eb31e2e6baad
* Version Independent ID: 14d3b6ff-951a-1e92-8508-8d2b2ba608fa
* Content: [Figma Toolkit - Mixed Reality](https://docs.microsoft.com

[2021-04-15 05:05] felderto commented on #267
Hey Kevin

That is amazing. Thanks a lot for the feedback!

On 15 Apr 2021, at 02:06, Kevin Semple ***@***.***> wrote:

﻿

Hi @felderto<https://github.com/felderto>, we're currently working on updating this tutorial to work with the new sdk and will have the updates out soon.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Mi

[2021-04-15 16:55] cre8ivepark commented on #272
@cgimber I guess you are using this on Mac? (Windows should have Segoe UI fonts in the system by default)
You can download Segoe UI fonts from this page:
https://docs.microsoft.com/en-us/windows/uwp/design/downloads/
Thanks!

[2021-04-15 16:57] #272 closed

[2021-04-15 22:19] m-the-hoff opened #273 "Add Quality Fundamentals and Designing Holograms apps"
These apps from Cris Derr's team could benefit from being added here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5d25dd4-34af-76e2-ba44-e891270163d2
* Version Independent ID: fb8e60b8-b3fa-5b05-7898-b2492fc8524e
* Content: [Samples and feature apps - Mixed Reality](https://docs.microsoft.com/en-us/windows/mixed-re

[2021-04-16 00:12] justinpando opened #274 "Changing Spatial Awareness Display Option at runtime is unclear"
This tip is unclear:

The linked page shows you how to create a new custom profile and manually change the spatial awareness display option, but doesn't include instructions about procedurally changing the display option at runtime. I'm not sure how to handle that, in following the tutorial I might have expected to drag something into the TapToPlace component's OnPlacingStarted and OnPlacingStoppe

[2021-04-16 01:31] yhong3 opened #275 "Documentation for migrating from manual install to feature tool"
Hi, is there any documentation about how to migrate from manual install to the feature tool? I tried the manually installed/upgraded MRTK 2.5.1 and 2.5.4, following the [Updating guide](https://docs.microsoft.com/en-us/windows/mixed-reality/mrtk-unity/updates-deployment/updating) but the feature tool was not able to detect the MRTK installed in the unity project. I feel like it should be on this p

[2021-04-16 02:04] dfcarpenter commented on #253
I am getting this as well. For me this happens when I click to expand the Advanced Properties of the Tap to Place (Script).

- Unity 2020.2.6f1
- OpenXR
- MRTK 2.6.1

![image](https://user-images.githubusercontent.com/4450286/114961077-cd8c7180-9e14-11eb-816f-c1b0b806f30b.png)

[2021-04-16 04:41] justinpando opened #277 "Reset Button - Rover Assembly doesn't have a PartAssemblyController"
[Enter feedback here]

In following the tutorial, I reached this instruction:

However, the RoverAssembly object doesn't have a PartAssemblyController. Instead, I dragged the PartAssemblyController from each of the five parts to the Reset button's OnClick event and it works as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-04-16 09:52] Ryosuke-Ymd opened #278 "Texts and images do not match."
[

[Docs]>[Windows]>[Mixed Reality]>[Development]>[Unity]>[HoloLens2 Tutorials]>Getting Started tutorial series>[2. Initializing your project and deploying your first application](URL : [https://docs.microsoft.com/ja-jp/windows/mixed-reality/develop/unity/tutorials/mr-learning-base-02])

Texts and images of this web page after "Building your application to your HoloLens 2" do not match. So I want

[2021-04-16 12:24] veeruby-developer commented on #277
@justinpando you should attach the PartAssemblyController Script to the RoverAssembly as per the tutorial,
![image](https://user-images.githubusercontent.com/61759322/115023674-bca73300-9edc-11eb-8ac2-accc42b1db7b.png)

please let us know does this solve your issue?

[2021-04-16 19:27] hferrone commented on #253
@veeruby-developer Does this provide more clarity on the issue?

[2021-04-16 19:27] hferrone commented on #278
@veeruby-developer Can you assist?

[2021-04-16 19:28] #277 closed

[2021-04-16 20:13] hferrone commented on #274
@RogPodge Can you assist?

[2021-04-17 06:21] justinpando opened #279 "PinchSlider start/end points missing, start and end distance fields non-functional"
I'm trying to modify a PinchSlider for my UI layout, and referenced this documentation page:

There don't seem to be any start and end points for the slider as shown in the image. Modifying the Start Distance and End Distance fields also don't seem to change the slider's start and end positions in space in any way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-04-18 21:38] laultman opened #280 "Scene Understanding Example does not work in MRTK 2.61 or Higher"
Scene Understanding Example in MRTK does not work when deployed to HoloLens 2. The menu is out of sight when executed and the scene is head locked. After adjusting the menu setting to get the menu in view, it too is head locked and completely unresponsive. The Demo Spatial Awareness Example scene is also head locked and does nothing. I would guess it is not configured correctly but have NO idea wh